- teaching_plans = DemoModel::TEACHING_PLANS

- hgoback '/courses'
- hbreadcrumb '首页', '/'
- hbreadcrumb '我参与的教学方案'

- hide = params[:hide] == 'false'
- style = hide ? '' : 'display:none;'

.page-model-show
  .page-teaching-plan-list
    .head
      .title 我参与的教学方案

    .teaching-plans
      - teaching_plans.each do |teaching_plan|
        .teaching-plan
          .title= teaching_plan.title
          .desc= teaching_plan.desc
          .teacher= user_link teaching_plan.creator
          .desc
            %span= teaching_plan.progress
            %span= link_to '查看课件', ''
            %span= link_to '查看作业', '/j2'
        