- teaching_plans = DemoModel::TEACHING_PLANS

- hgoback '/courses'
- hbreadcrumb '首页', '/'
- hbreadcrumb '我参与的教学方案'

- hide = params[:hide] == 'false'
- style = hide ? '' : 'display:none;'

.page-model-show
  .page-teaching-plan-list
    .head
      .title 我参与的教学方案

    .teaching-plans
      - teaching_plans.each do |teaching_plan|
        .teaching-plan
          .title
            %span.t= teaching_plan.title
            %span.c= user_link teaching_plan.creator
          .desc= teaching_plan.desc
          .prog= teaching_plan.progress
          .info
            .kejian= link_to '查看课件', ''
            .homework= link_to '查看作业练习', '/j2'
          .pbar
            .b{:style=>"width:#{teaching_plan.progress};"}
        