-htitle '注册'
-submit_url = "/signup_submit"

.main.grid_24.nl
  .page-anonymous-wrapper
    .signup-box
      .logo
      .signup-content
        .ct
          .signup-form
            = form_for @user,:url=>submit_url do |f|
              .fi=flash_info
              = hidden_field_tag :service,params[:service]
              .field
                %label 电子邮箱
                = f.text_field :email,:maxlength=>50,:class=>'text need j-tip'
                .quiet 必填，以后用来登录
              .field
                %label 用户名
                = f.text_field :name,:maxlength=>50,:class=>'text need j-tip'
                .quiet 显示的名称，必填，以后可以修改
              .field
                %label 密码
                = f.password_field :password,:value=>'',:maxlength=>32,:class=>'text need j-tip'
              .field
                %label 确认密码
                = f.password_field :password_confirmation,:value=>'',:maxlength=>32,:class=>'text need j-tip'
              =submit_tag "确认注册"  

        .others
          .bl
            .desc 如果你已经注册过了，请：
            %a.middlebutton.logingray{:href=>'/login'} <span>直接登录</span>
