- htitle '通知管理'

- hgoback '/admin'
- hbreadcrumb '首页', '/admin'
- hbreadcrumb '通知管理'

.page-fixed-head
  = page_buttons do |p|
    = p.button '创建通知', new_admin_announcement_path, :class => 'create'

:ruby
  cols_hash = {
    :title => 6,
    :creator => 4
  }

.page-list-head
  .headtop
    = page_buttons do |p|
      = p.batch_destroy Announcement
    = list_pagination(@announcements)

  = page_list_head :cols=>cols_hash do |p|
    = p.checkbox
    = p.cell :title, '标题', :sortable => true
    = p.cell :creator, '发布人'



= page_model_list @announcements, :cols=>cols_hash, :class=>'admin-announcements' do |p|
  - announcement = p.model

  = p.checkbox(announcement)
  = p.cell :title do
    = link_to announcement.title, admin_announcement_path(announcement)
  = p.cell :creator do
    = announcement.creator.real_name
