- htitle '通知管理'

- hgoback admin_announcements_path
- hbreadcrumb '首页', '/admin'
- hbreadcrumb '通知管理', admin_announcements_path
- hbreadcrumb '增加通知'

.page-admin-form
  = flash_info
  = form_for [:admin, @announcement] do |f|
    .field.need
      %label 标题
      = f.text_field :title
    .field
      %label 内容
      = f.text_area :content, :class => 'kind-editor'
    .assign
      .page-float-box-list-selector.course
        %div 选择发送的课程
        = jfbox_link :courses, '已选择了0个'
        = jfbox :courses, '选择要发送的课程' do
          .list-selector
            .search
              .field
                %input.search{:type=>'text'}
              .desc
                小提示：可以输入中文或拼音来快速查找
            .filter
              %a.all.view{:href=>'javascript:;'} 全部
              %a.selected{:href=>'javascript:;'} 已选
              %a.unselected{:href=>'javascript:;'} 未选
            .selector
              .list
                - Course.all.each do |course|
                  :ruby
                    html_data = {
                      :id => course.id,
                      :name => course.name
                    }

                  .item{:data=>html_data}
                    .name= course.name
            %input.ids{:name=>:course_ids, :type=>'hidden', :value=>''}

            %a.submit-fbox{:href=>'javascript:;'} 确定
            %a.close-fbox{:href=>'javascript:;'} 取消

      .page-float-box-list-selector.team
        %div 选择发送的班级
        = jfbox_link :teams, '已选择了0个'
        = jfbox :teams, '选择要发送的班级' do
          .list-selector
            .search
              .field
                %input.search{:type=>'text'}
              .desc
                小提示：可以输入中文或拼音来快速查找
            .filter
              %a.all.view{:href=>'javascript:;'} 全部
              %a.selected{:href=>'javascript:;'} 已选
              %a.unselected{:href=>'javascript:;'} 未选
            .selector
              .list
                - Team.all.each do |team|
                  :ruby
                    html_data = {
                      :id => team.id,
                      :name => team.name
                    }

                  .item{:data=>html_data}
                    .name= team.name
            %input.ids{:name=>:team_ids, :type=>'hidden', :value=>''}

            %a.submit-fbox{:href=>'javascript:;'} 确定
            %a.close-fbox{:href=>'javascript:;'} 取消

    .field.submit
      = jfsubmit '确定'
      = jfcancel '取消'

