- htitle '通知管理'

- hbreadcrumb '基础数据管理', '/admin'
- hbreadcrumb '通知管理', '/admin/announcements'
- hbreadcrumb @announcement.title

- rule = @announcement.announcement_rule
- expression = rule ? rule.expression : {}
- course_ids = expression.blank? ? [] : expression[:courses]
- courses = course_ids.map{|id|Course.find_by_id(id)}.compact
- team_ids = expression.blank? ? [] : expression[:teams]
- teams = team_ids.map{|id|Team.find_by_id(id)}.compact

.page-admin-model-show
  .field.title
    %label 标题
    .v= @announcement.title
  .field.creator  
    %label 发布人
    .v= @announcement.creator.real_name
  .field.content
    %label 内容
    .v= sanitize @announcement.content

- if current_user == @announcement.creator
  .assign
    %label 通知范围
    .courses
      .info 课程
      - if courses.blank?
        没有选择课程
      - else
        - courses.each do |course|
          .name= course.name

    .teams        
      .info 班级
      - if teams.blank?
        没有选择班级
      - else
        - teams.each do |team|
          .name= team.name
