- htitle '通知管理'

- hgoback admin_announcements_path
- hbreadcrumb '首页', '/admin'
- hbreadcrumb '通知管理', admin_announcements_path
- hbreadcrumb @announcement.title

- rule = @announcement.announcement_rule
- expression = rule ? rule.expression : {}
- course_ids = expression.blank? ? [] : expression[:courses]
- courses = course_ids.map{|id|Course.find_by_id(id)}.compact
- team_ids = expression.blank? ? [] : expression[:teams]
- teams = team_ids.map{|id|Team.find_by_id(id)}.compact

.page-unfixed-head

.page-model-show

  .page-admin-mentor-notes

    = page_field :'announcement-info', :title=>'标题' do
      = @announcement.title

    = page_field :'announcement-info', :title=>'发布人' do
      = @announcement.creator.real_name

    = page_field :'announcement-info', :title=>'内容' do
      = sanitize @announcement.content
