- htitle '通知管理'

- hbreadcrumb '基础数据管理', '/admin'
- hbreadcrumb '通知管理', '/admin/announcements'
- hbreadcrumb @announcement.title

- rule = @announcement.announcement_rule
- expression = rule ? rule.expression : {}
- course_ids = expression.blank? ? [] : expression[:courses]
- team_ids = expression.blank? ? [] : expression[:teams]

.page-unfixed-head
  = page_buttons do |p|
    = p.button '返回列表页', '/admin/announcements'


.page-model-show

  .page-admin-mentor-notes

    = page_field :'announcement-info', :title=>'标题' do
      = @announcement.title


    = page_field :'announcement-info', :title=>'发布人' do
      = @announcement.creator.real_name

    = page_field :'announcement-info', :title=>'内容' do
      = sanitize @announcement.content

    = page_field :'announcement-info', :title=>'发布通知' do
      - if current_user == @announcement.creator
    
        = form_tag announce_announcement_path(@announcement), :method => :put do
          .assign= submit_tag '发布通知'
          .courses
            请选择要发布通知的课程
            - Course.all.each do |course|
              - is_announced = course_ids.include?(course.id)
              %label
                = check_box_tag 'course_ids[]', course.id, is_announced, :disabled => is_announced
                = course.name

          .teams        
            请选择要发布通知的班级
            - Team.all.each do |team|
              - is_announced = team_ids.include?(team.id)
              %label
                = check_box_tag 'team_ids[]', team.id, is_announced, :disabled => is_announced
                = team.name


