.attrs.ava
  .t2 教师姓名
  .t2 教师编号
  .t2 用户名
  .t2 用户邮箱

- teachers.each do |teacher|
  .model.teacher
    .avatar= avatar teacher.user, :tiny
    .t2= teacher.real_name
    .t2= teacher.tid
    .t2= teacher.user.name
    .t2= teacher.user.email

    .ops
      %a.remove{:href=>'javascript:;'} 删除
      %a.detail{:href=>"/admin/teachers/#{teacher.id}"} 查看详情