- htitle '教师维护'

- hgoback admin_teachers_path
- hbreadcrumb '首页', '/admin'
- hbreadcrumb '基础数据', '/admin'
- hbreadcrumb '教师维护', admin_teachers_path
- hbreadcrumb '修改教师信息'

.page-model-form
  = flash_info
  = form_for [:admin, @teacher] do |t|
    .field.need
      %label 真实姓名
      = t.text_field :real_name

    .field.need
      %label 教师编号
      = t.text_field :tid

    = t.fields_for :user do |user_f|
      .field.need
        %label 电子邮箱
        = user_f.text_field :email, :maxlength=>50


      .field.need
        %label 用户名
        = user_f.text_field :name, :maxlength=>50


      .field
        %label 性别
        = t.text_field :gender


      .field
        %label 部门
        = t.text_field :department


      .field
        %label 民族
        = t.select(:nation, nation_options, {:include_blank => true}, {:data => {:placeholder => '请选择'}})


      .field
        %label 政治面貌
        = t.text_field :politics_status


      .field
        %label 联系电话
        = t.text_field :tel


      .field
        %label 身份证号
        = t.text_field :id_card_number

      .field
        %label 教师介绍
        = t.text_area :description, :class => 'kind-editor'


      .field
        %label 备注
        = t.text_area :other_info, :class => 'kind-editor'

    .field.submit
      = jfsubmit '确定'
      = jfcancel '取消'