- htitle '教师维护'

- hbreadcrumb '基础数据管理', '/admin'
- hbreadcrumb '教师维护'

.page-fixed-head
  = page_buttons do |p|
    = p.button '增加教师记录', '/admin/teachers/new', :class=>'create'
    = p.button '批量导入教师', '/admin/teachers/import_from_csv_page', :class=>'import'

.page-list-head
  = list_pagination(@teachers)

  = page_list_head do |p|
    = p.checkbox
    = p.cell :ops, '操作', :col=>2
    = p.cell :real_name, '教师姓名', :col=>2, :sortable => true
    = p.cell :tid, '教师编号', :col=>2, :sortable => true
    = p.cell :username, '用户名', :col=>2
    = p.cell :email, '用户邮箱', :col=>2

.generic-body-list.admin-teachers
  - if @teachers.blank?
    .blank
      目前列表内没有内容
  - else
    - @teachers.each do |teacher|
      = page_list_body do |p|
        = p.checkbox
        = p.cell :ops, :col => 2 do
          - remove_url = admin_teacher_path(teacher)
          %a.remove{:href=>'javascript:;', :'data-url'=>remove_url} 删除
          %a.edit{:href=>"/admin/teachers/#{teacher.id}/edit"} 编辑
          %a.detail{:href=>"/admin/teachers/#{teacher.id}"} 详情

        = p.cell :real_name, teacher.real_name
        = p.cell :tid, teacher.tid
        = p.cell :username, teacher.user.name
        = p.cell :email, teacher.user.email
