- htitle '教师维护'

- hbreadcrumb '基础数据管理', '/admin'
- hbreadcrumb '教师维护', '/admin/teachers'
- hbreadcrumb @teacher.real_name

.page-admin-model-show
  .field.avatar
    = avatar @teacher.user, :medium

  .data
    .field.name
      %label 教师姓名
      .v= @teacher.real_name

    .field.tid
      %label 教师编号 
      .v= @teacher.tid

    .field.user
      %label 对应用户
      .v= @teacher.user.name

    .field.email
      %label 对应邮箱
      .v= @teacher.user.email

    .field.description
      %label 教师介绍
      .v= sanitize @teacher.description

    .field.courses
      %label 本学期负责课程(点击查看相关课程学生列表)
      .v
        - @courses.each do |course|
          .teacher-course
            = link_to course.name, "/admin/teachers/#{@teacher.id}/course/#{course.id}"

.page-admin-go-back= link_to '返回列表页', '/admin/teachers'

.page-admin-edit= link_to '修改信息', "/admin/teachers/#{@teacher.id}/edit"
.page-admin-edit= link_to '修改密码', "/admin/teachers/#{@teacher.id}/password"
