<!DOCTYPE html>
<html>
<head>
  <title>MindpinEduSns</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<%= yield :css %>
</head>
<body>

<%= yield %>
<%= yield :javascript %>
<%= yield :javascripts%>
</body>
</html>
