- hgoback '/courses'
- hbreadcrumb '首页', '/'
- hbreadcrumb 'Java程序设计', 'javascript:;'
- hbreadcrumb '教学方案', 'javascript:;'
- hbreadcrumb '预览'

.page-model-show.page-fangan-review
  .head
    .h
      %h1.title= DemoModel::TEACHING_PLAN_1.title
      .description= DemoModel::TEACHING_PLAN_1.desc

  .bd
    .sidebar
      .label="章节选择"
      .chapter
        = link_to "javascript:;", :class=>"zhangjie1" do
          .o 1
          .l 面向对象程序设计
      .chapter
        = link_to "javascript:;", :class=>"zhangjie2" do
          .o 2
          .l 数组与字符串
      .chapter
        = link_to "javascript:;" do
          .o 3
          .l 常用Java系统类和接口
      .chapter
        = link_to "javascript:;" do
          .o 4
          .l 泛型与枚举
      .chapter
        = link_to "javascript:;" do
          .o 5
          .l 异常处理
      .chapter
        = link_to "javascript:;" do
          .o 6
          .l 文件与数据流
      .chapter
        = link_to "javascript:;" do
          .o 7
          .l 图形用户界面程序设计
      .chapter
        = link_to "javascript:;" do
          .o 8
          .l 多线程程序设计
      
    .preview1.preview
      .label="课件预览"
      .titles
        %a.title{:href=>'javascript:;'} 面向对象基础
        %a.title{:href=>'javascript:;'} 用JAVA开发的Android应用
      .kejian.k1
        = chapter1_ppt(:width=>640, :height=>480)
      .kejian.k2{:style=>'display:none;'}
        .flash-player{:style=>"width:640px;height:480px;",:data => {:video => 'http://agile.mindpin.com/chapter2.mp4', :'first-frame' => ''}}

    .preview2.preview{:style=>"display:none;"}
      .label="课件预览"
      .titles
        %a.title{:href=>'javascript:;'} 数组与字符串
      .kejian
        = chapter2_ppt(:width=>640, :height=>480)

