.page-homework-form
  = form_for @homework, :html => {:class => "assign_form", :multipart => true} do |f|
    = flash_info

    .field.need
      %label 作业标题
      = f.text_field :title
    
    .field.need
      %label 作业内容
      = f.text_area :content, :size => "60x12"
    
    .field
      %label 请选择课程
      = f.select :course_id, @courses.collect {|item| [item.name, item.id]}, {}, {:class => 'courses-selector'}
    
    .field.need
      %label 请选择日期
      = f.text_field :deadline, :class => 'homework-deadline'
    
    .field  
      %label 请选择要布置作业的班级
      = select_tag :teams, options_from_collection_for_select(@teams, :id, :name, @selected_teams), :multiple => true, :class => 'students-selector', :style => 'width:256px;', :data => {:placeholder => '请选择'}
    
    .field.attachments
      %label 老师作业附件

      .sample.hide
        .file
          .name 123.txt
          .bar
            .p{:style=>'width:23%;'}

          %input.fid{:type=>'text', :name=>'file_entities[][id]'}
          %input.fname{:type=>'text', :name=>'file_entities[][name]'}


      = jupload_button '上传附件'

      
    .field
      %label 作业需求
      .added-requirements
        - @requirements.each do |requirement|
          .requirement
            %span.requirement-title= requirement.title
            = link_to '删除', 'javascript:;', :data => {:'destroy-url' => "/homeworks/requirement/#{requirement.id}/destroy"}

      %a.add-student-attachement-field{:href => "javascript:;"} 添加+
      %div{:id => "student-attachement-fields"}
      
    .field.submit
      = jfsubmit "布置作业"
