.page-model-form.homework
  = form_for @homework, :html => {:class => "assign_form", :multipart => true} do |f|
    = flash_info

    .field
      %label 请选择类别
      = f.select :kind, [['作业', 'Homework'], ['艺术实践', 'Practice']], {}, {:class => 'courses-selector'}
    
    .field.need
      %label 标题
      = f.text_field :title
    
    .field
      %label 内容
      = f.text_area :content, :class => 'kind-editor'
    
    .field
      %label 课程章节
      - teaching_plan = @chapter.teaching_plan
      %div  #{teaching_plan.course.name} - #{teaching_plan.title} - #{@chapter.title}
      = f.hidden_field :chapter_id, :value => @chapter.id
    
    = f.hidden_field :deadline, :value => Date.new(2013, 12, 1)
    -# .field.need
    -#   %label 请选择日期
    -#   = f.text_field :deadline, :class=>'datetime-picker'
    
    .field.attachments
      %label 老师附件

      .sample.hide
        .file
          .complete 上传完毕
          .bar
            .p{:style=>'width:23%;'}
          .percent 23%
          .name 123.txt
          %a.close{:href=>'javascript:;'}

          %input.fid{:type=>'hidden', :name=>'file_entities[][id]'}
          %input.fname{:type=>'hidden', :name=>'file_entities[][name]'}


      = jupload_button '上传附件'

      
    .field
      %label 需求
      .added-requirements
        - @requirements.each do |requirement|
          .requirement
            %span.requirement-title= requirement.title
            = link_to '删除', 'javascript:;', :data => {:'destroy-url' => "/homeworks/requirement/#{requirement.id}/destroy"}

      %a.add-student-attachement-field{:href => "javascript:;"} 添加+
      .student-attachement-fields
      
    .field.submit
      = jfsubmit "布置作业/艺术实践"
