.page-homework-form
  = form_for @homework, :html => {:class => "assign_form", :multipart => true} do |f|
    = flash_info

    .field.need
      %label 作业标题
      = f.text_field :title
    
    .field.need
      %label 作业内容
      = f.text_area :content, :size => "60x12"
    
    .field
      %label 请选择课程
      = f.select :course_id, @courses.collect {|item| [item.name, item.id]}, {}, {:class => 'courses-selector'}
    
    .field.need
      %label 请选择日期
      = f.text_field :deadline, :class => 'homework-deadline'
    
    .field.attachments
      %label 老师作业附件

      .sample.hide
        .file
          .complete 上传完毕
          .bar
            .p{:style=>'width:23%;'}
          .percent 23%
          .name 123.txt
          %a.close{:href=>'javascript:;'}

          %input.fid{:type=>'hidden', :name=>'file_entities[][id]'}
          %input.fname{:type=>'hidden', :name=>'file_entities[][name]'}


      = jupload_button '上传附件'

      
    .field
      %label 作业需求
      .added-requirements
        - @requirements.each do |requirement|
          .requirement
            %span.requirement-title= requirement.title
            = link_to '删除', 'javascript:;', :data => {:'destroy-url' => "/homeworks/requirement/#{requirement.id}/destroy"}

      %a.add-student-attachement-field{:href => "javascript:;"} 添加+
      .student-attachement-fields
      
    .field.submit
      = jfsubmit "布置作业"
