.page-homework-timeline
  .teacher
    .avatar= avatar current_user
    .title
      #{current_user.real_name} 老师的作业管理时间线

  .homeworks
    .homework
      .line
      .title 第一章课后习题
      .events
        .event.comment{:style=>'left:140px;'}
          .t
            .avatar= avatar User.first, :mini
            .name 韩梅梅
          .c 看来我的基础不错，测试题全会
        .event.comment{:style=>'left:280px;'}
          .t
            .avatar= avatar User.first, :mini
            .name 李雷
          .c 看来我要多努力了，其他人貌似都比我做的快
        .event.comment{:style=>'left:420px;'}
          .t
            .avatar= avatar User.first, :mini
            .name 韩梅梅
          .c 上传附件 习题2代码
        .event.comment{:style=>'left:560px;'}
          .t
            .avatar= avatar User.first, :mini
            .name 李飞
          .c 作业有点难，有些问题需要问老师
        .event.comment{:style=>'left:720px;'}
          .t
            .avatar= avatar User.first, :mini
            .name 傅强
          .c 上传附件 全部习题代码
        .event.comment{:style=>'left:880px;'}
          .t
            .avatar= avatar User.first, :mini
            .name 柯晔
          .c 上传附件 今天好多没听懂，有哪位同学可以给我讲解下
        .event.comment{:style=>'left:1080px;'}
          .t
            .avatar= avatar User.first, :mini
            .name 柯晔
          .c 谢谢吴笛同学的热心讲解
        .event.comment{:style=>'left:1290px;'}
          .t
            .avatar= avatar User.first, :mini
            .name 郭朝阳
          .c 上传附件 习题2、3代码
        .event.down.comment{:style=>'left:170px;'}
          .t
            .avatar= avatar User.first, :mini
            .name 门旭
          .c 上传附件 习题2代码

        .event.down.comment{:style=>'left:370px;'}
          .t
            .avatar= avatar User.first, :mini
            .name 邹柏青
          .c 咱们有些问题可以一起讨论下

        .event.down.comment{:style=>'left:620px;'}
          .t
            .avatar= avatar User.first, :mini
            .name 吴笛
          .c 好呀好呀，建议老师下次可以布置小组作业

        .event.down.comment{:style=>'left:760px;'}
          .t
            .avatar= avatar User.first, :mini
            .name 吴笛
          .c 上传附件 习题3代码

        .event.down.comment{:style=>'left:1000px;'}
          .t
            .avatar= avatar User.first, :mini
            .name 门旭
          .c 上传附件 习题3代码
        .event.down.comment{:style=>'left:1200px;'}
          .t
            .avatar= avatar User.first, :mini
            .name 宋亮
          .c 上传附件 全部习题代码


  .homeworks
    .homework
      .line
      .title 第二章课后习题
      .events
        .event.comment{:style=>'left:156px;'}
          .t
            .avatar= avatar User.first, :mini
            .name 黄锴
          .c 老师我第三题有点疑问，已经给您私信
        .event.comment{:style=>'left:470px;'}
          .t
            .avatar= avatar User.first, :mini
            .name 聂建元
          .c 上传附件 习题1代码
        .event.comment{:style=>'left:620px;'}
          .t
            .avatar= avatar User.first, :mini
            .name 韩梅梅
          .c 上传附件 所有习题代码
        .event.down.comment{:style=>'left:240px;'}
          .t
            .avatar= avatar User.first, :mini
            .name 门旭
          .c 上传附件 习题2代码

        .event.down.comment{:style=>'left:400px;'}
          .t
            .avatar= avatar User.first, :mini
            .name 李雷
          .c 是啊今天的作业有点难度

        .event.down.comment{:style=>'left:580px;'}
          .t
            .avatar= avatar User.first, :mini
            .name 聂建元
          .c 第二题卡壳了，谁能稍微给点思路


  .homeworks
    .homework
      .line
      .title 第三章课后习题
      .events
        .event.comment{:style=>'left:200px;'}
          .t
            .avatar= avatar User.first, :mini
            .name 宋亮
          .c 上传附件 习题1、2代码
        .event.down.comment{:style=>'left:470px;'}
          .t
            .avatar= avatar User.first, :mini
            .name 吴笛
          .c 老师小组作业怎么提交？

  .homeworks
    .homework
      .line
      .title 第四章课后习题
      .events
        .event.comment{:style=>'left:500px;'}
          .t
            .avatar= avatar User.first, :mini
            .name 曾涛
          .c 上传附件 全部习题代码
