.page-homework-timeline
  .teacher
    .avatar= avatar current_user
    .title
      #{current_user.real_name} 老师的作业管理时间线

  .homeworks
    .homework
      .line
      .title 第一章课后习题
      .events
        .event.comment{:style=>'left:140px;'}
          .t
            .avatar= avatar User.first, :mini
            .name 韩梅梅
          .c 看来我的基础不错，测试题全会
        .event.comment{:style=>'left:280px;'}
          .t
            .avatar= avatar User.first, :mini
            .name 韩梅梅
          .c 看来我的基础不错，测试题全会
        .event.comment{:style=>'left:420px;'}
          .t
            .avatar= avatar User.first, :mini
            .name 韩梅梅
          .c 看来我的基础不错，测试题全会
        .event.comment{:style=>'left:560px;'}
          .t
            .avatar= avatar User.first, :mini
            .name 韩梅梅
          .c 看来我的基础不错，测试题全会

        .event.down.comment{:style=>'left:170px;'}
          .t
            .avatar= avatar User.first, :mini
            .name 韩梅梅
          .c 看来我的基础不错，测试题全会

        .event.down.comment{:style=>'left:370px;'}
          .t
            .avatar= avatar User.first, :mini
            .name 韩梅梅
          .c 看来我的基础不错，测试题全会

        .event.down.comment{:style=>'left:620px;'}
          .t
            .avatar= avatar User.first, :mini
            .name 韩梅梅
          .c 看来我的基础不错，测试题全会

  .homeworks
    .homework
      .line
      .title 第一章课后习题
      .events

  .homeworks
    .homework
      .line
      .title 第一章课后习题
      .events

  .homeworks
    .homework
      .line
      .title 第一章课后习题
      .events

  .homeworks
    .homework
      .line
      .title 第一章课后习题
      .events   