= page_field :'notices-info', :title=>'通知信息' do
  .notice
    = link_to truncate_u('本周举办乒乓球比赛'), 'javascript:;'
  .notice
    = link_to truncate_u('本周辩论赛通知'), 'javascript:;'
  .notice
    = link_to truncate_u('上周卫生调查结果公告'), 'javascript:;'
  .notice
    = link_to truncate_u('即将举办网页制作大赛'), 'javascript:;'

= page_field :'subscriptions-info', :title=>'订阅信息' do
  .subscription
    = link_to truncate_u('上海的故事：第三辑（64年版65印）'), 'javascript:;'
  .subscription
    = link_to truncate_u('漫游植物王国：蕨类（彩图）'), 'javascript:;'
  .subscription
    = link_to truncate_u('气球上的五星期'), 'javascript:;'
  .subscription
    = link_to truncate_u('thinking in java 中文版'), 'javascript:;'