- teaching_plans = DemoModel::TEACHING_PLANS

.page-admin-course
  .teaching-plans
    - if !current_user.is_teacher?
      .teacher
        .plans
          - teaching_plans.each do |teaching_plan|
            = link_to 'javascript:;', :class=>'teaching-plan' do
              .title= teaching_plan.title
              .desc= teaching_plan.desc
              .count #{teaching_plan.chapters.count}个章节
    - else #current_user.is_student?
      .student
        .plans
          - teaching_plans.each do |teaching_plan|
            = link_to 'javascript:;', :class=>'teaching-plan' do
              .title= teaching_plan.title
              .desc= teaching_plan.desc
              .count #{teaching_plan.chapters.count}个章节
              .homework-progress 完成度 #{teaching_plan.progress}


