- hgoback '/courses'
- hbreadcrumb '首页', '/'
- hbreadcrumb 'Java程序设计', 'javascript:;'
- hbreadcrumb 'Java程序设计教学方案'

- hide = params[:hide] == 'false'
- style = hide ? '' : 'display:none;'


:css
  .a {
    float: left;
    width: 100px;
    height: 20px;
    background-color:green;
    display: block;
    margin-left: 2px;
  }

  .b {
    float: left;
    width: 100px;
    height: 20px;
    background-color:green;
    display: block;
    margin-left: 2px;
  }

  .c {
    float: left;
    width: 100px;
    height: 20px;
    background-color:grey;
    display: block;
    margin-left: 2px;
  }

.page-model-show
  .page-teaching-plan-show
    .head
      %h1.title Java程序设计教学方案
      .description
        这个方案是给第一批学员准备的 主要是学习课程的基础部分以及给与空余时间来熟悉学校环境

    .chapters
      .chs
        .chapter
          .title 面向对象程序设计
          .desc 详细介绍面向对象设计到得各种概念
          .ops
            .count= '11作业'
            .check= link_to '查看作业', '/j3'

          .items
            .a
            .a
            .a
            .a
            .a

          
        .chapter
          .title 数组与字符串
          .desc 讲解JAVA中的数组与字符串
          .ops
            .count= '0作业'
            .check= link_to '查看作业', '/j3'

          .items
            这个章节没有作业


        .chapter
          .title 常用Java系统类和接口
          .desc 详细讲解JAVA中常用的一些API
          .ops
            .count= '5作业'
            .check= link_to '查看作业', '/j3'

          .items
            .a
            .a
            .a
            .a
            .a
          
      