- htitle '课程维护'

- hgoback '/admin'
- hbreadcrumb '首页', '/admin'
- hbreadcrumb '课程调查', admin_course_surveys_path

= page_top_fixed 'buttons' do
  = page_buttons do |p|
    = p.button '新增课程调查', '/admin/course_surveys/new'

  = page_filters '/admin/course_surveys' do |p|
    = p.filter '所有调查', :tab=>0, :default=>true
    = p.filter '类型一', :tab=>1
    = p.filter '类型二', :tab=>2

:ruby
  cols_hash = {
    :name => 3
  }

= page_top_fixed 'list-head' do
  .headtop
    = page_buttons do |p|
      = p.batch_destroy CourseSurvey

    = list_pagination(@course_surveys)

  = page_list_head :cols=>cols_hash do |p|
    = p.checkbox
    = p.cell :name, '标题', :sortable=>true


= page_model_list @course_surveys, :cols=>cols_hash, :class=>'admin-course-surveys' do |p|
  - course_survey = p.model

  = p.checkbox(course_survey)
  = p.cell :name do
    %a.detail{:href=>"/admin/course_surveys/#{course_survey.id}"}= course_survey.title
