- htitle '课程维护'

- hbreadcrumb '基础数据管理', '/admin'
- hbreadcrumb '课程调查'


.page-fixed-head
  = page_buttons do |p|
    = p.button '增加课程', '/admin/course_surveys/new'

  = page_filters '/admin/course_surveys' do |p|
    = p.filter '所有调查', :tab=>0, :default=>true
    = p.filter '类型一',   :tab=>1
    = p.filter '类型二',   :tab=>2

:ruby
  cols_hash = {
    :name => 3
  }

.page-list-head
  .headtop
    = page_buttons do |p|
      = p.batch_destroy CourseSurvey

    = list_pagination(@course_surveys)

  = page_list_head :cols=>cols_hash do |p|
    = p.checkbox
    = p.cell :name, '标题', :sortable=>true

.page-model-list.admin-course-surveys
  - if @course_surveys.blank?
    .blank
      目前列表内没有内容
  - else
    - @course_surveys.each do |course_survey|
      = page_list_body :cols=>cols_hash do |p|
        = p.checkbox(course_survey)
        = p.cell :name do
          %a.detail{:href=>"/admin/course_surveys/#{course_survey.id}"}= course_survey.title
