- htitle '课程维护'

- hbreadcrumb '基础数据管理', '/admin'
- hbreadcrumb '课程调查', '/admin/course_surveys'
- hbreadcrumb '增加课程调查'

.page-admin-form
  = flash_info
  = form_for [:admin, CourseSurvey.new] do |f|

    .field.need
      %label 标题
      =f.text_field :title
 
    .field
      %label 学期
      = f.select(:semester_value, Semester.get_recent_semesters.collect {|p| [ p.value ] }, {:prompt => true, :selected => Semester.now.value})

      = f.select(:course_id, @current_courses.collect {|p| [p[:name], p[:id]]}, {:include_blank => true}, {:data => {:placeholder => '请选择课程'}})
      
      .span{:id => 'teacher_notice'}
        选择课程后才能选择老师

      .span{:id => 'teacher_list', :style => 'display: none;'}
        = f.select(:teacher_user_id, '', {:include_blank => true})




    .field.need
      %label 调查类型
      =f.radio_button :kind, '1'
      %span  课程调查1

      =f.radio_button :kind, '2'
      %span  课程调查2
     

    .field
      = jfsubmit '确定'
      = jfcancel '取消'