- htitle '课程调查'

- hbreadcrumb '基础数据管理', '/admin'
- hbreadcrumb '课程调查', '/admin/course_surveys'
- hbreadcrumb @course_survey.title

:ruby
  case @course_survey.kind
  when '1'
    course_survey_records = @course_survey.course_survey_records
    survey_count = each_count(@course_survey)
    survey_list = 'survey_1_list'
  when '2'
    course_survey_records = @course_survey.course_survey_es_records
    survey_count = es_each_count(@course_survey)
    survey_list = 'survey_2_list'
  end




.page-unfixed-head
  = page_buttons do |p|
    = p.button '返回列表页', '/admin/course_surveys'




.page-model-show

  .page-admin-course-survey

    = page_field :'course-survey-info', :title=>'标题' do
      = @course_survey.title

    = page_field :'course-survey-info', :title=>'学生人数' do
      = course_survey_records.count

    = page_field :'course-survey-info', :title=>'调查详情' do
      = render survey_list, :survey_count => survey_count, :course_survey_records => course_survey_records
