:ruby
  teaching_plan = DemoModel::TEACHING_PLAN_1
  
  teaching_plan_title = teaching_plan.title
  chapter = teaching_plan.chapters[0]
  chapter_title = chapter.title
  chapter_desc = chapter.desc
  homeworks = chapter.homeworks

- hgoback '/courses'
- hbreadcrumb '首页', '/'
- hbreadcrumb teaching_plan_title
- hbreadcrumb chapter_title


.page-model-show.chapter-homeworks
  .head
    .title= chapter_title
    .describe= chapter_desc

  .homeworks
    - homeworks.each do |homework|
      .homework
        .title= homework.title
        .ct= homework.desc
      .require
        .count="#{homework.requirements.count}项作业要求"
