:ruby
  teaching_plan = DemoModel::TEACHING_PLAN_1
  
  teaching_plan_title = teaching_plan.title
  chapter = teaching_plan.chapters[0]
  chapter_title = chapter.title
  chapter_desc = chapter.desc
  homeworks = chapter.homeworks

- hgoback '/courses'
- hbreadcrumb '首页', '/'
- hbreadcrumb teaching_plan_title
- hbreadcrumb chapter_title

- done_counts = [2, 2, 3]

.page-model-show.chapter-homeworks
  .head
    .title= chapter_title
    .describe= chapter_desc

  .homeworks
    .hcount 该章节包含三个作业
    - i = 0
    - homeworks.each do |homework|
      .homework
        .title= link_to homework.title, '/i1'
        .ct= homework.desc
        .require-count
          .co= homework.requirements.count
          .tx 作业要求
        .bar
          - width = 300.0 / homework.requirements.count
          - done_count = done_counts[i]
          - i = i + 1
          - homework.requirements.count.times do |j|
            .bl{:style=>"width:#{width}px;", :class=>done_count>j ? 'done' : ''}