.field
  = f.hidden_field :course_id, :value => params['course_id']
  = f.hidden_field :teacher_user_id, :value => current_user.id
  = f.hidden_field :semester_value, :value => params['semester_value']

.field.need
  %label 标题
  = f.text_field :title

.field
  %label 描述
  = f.text_area :desc, :class => 'kind-editor'


.field
  = jfsubmit '确定'
  = jfcancel '取消'