- htitle '教学方案'

- hgoback '/'
- hbreadcrumb '首页', '/'
- hbreadcrumb "教学方案"


= page_top_fixed 'buttons' do
  = page_buttons do |p|
    = p.button '创建', '/teaching_plans/new', :class => 'new'


:ruby
  cols_hash = {
    :ops => 1,
    :title => 5,
    :course => 3,
    :teacher => 2,
    :semester => 1
  }

= page_top_fixed 'list-head' do
  .headtop
    = page_buttons do |p|
      = p.batch_destroy TeachingPlan
      

    = list_pagination(@teaching_plans)

  = page_list_head :cols=>cols_hash do |p|
    = p.checkbox
    = p.cell :ops, '操作'
    = p.cell :title, '标题'
    = p.cell :course, '课程'
    = p.cell :teacher, '老师'
    = p.cell :semester, '学期'

= page_model_list @teaching_plans, :cols=>cols_hash, :class=>'teaching_plans' do |p|
  - teaching_plan = p.model

  = p.checkbox(teaching_plan)

  = p.cell :ops do
    %a.edit{:href=>"/teaching_plans/#{teaching_plan.id}/edit"} 编辑

  = p.cell :title do
    %a.edit{:href=>"/teaching_plans/#{teaching_plan.id}"}= truncate_u teaching_plan.title

  = p.cell :course, teaching_plan.course.name
  = p.cell :teacher, teaching_plan.teacher_user.name
  = p.cell :semester, teaching_plan.semester_value