- hbreadcrumb '首页', '/'
- hbreadcrumb '成绩单'

.generic-page-head.course-score-lists
  .btns
    .page-tabs
      :ruby
        semesters = Semester.get_nav_array
        klass1 = params[:semester].blank? ? 'current' : ''

      %a.tab{:href=>course_score_lists_path, :class => klass1} 全部
      - semesters.each do |semester|
        - klass2 = params[:semester] == semester.value ? 'current' : ''
        %a.tab{:href=>course_score_lists_path(:semester => semester.value), :class => klass2} #{semester.to_s}

    - if current_user.is_teacher?
      = link_to '添加课程成绩单', new_course_score_list_path, :class => 'generic-new'

  = table_pagination(@score_lists)

  .cells
    .cell.title= sortable 'title', '标题'
    .cell.semester= sortable 'semester_value', '学期'
    .cell.course 课程
    .cell.count 统计完/未统计完

.generic-body-list.course-score-lists
  - if @score_lists.blank?
    .blank
      目前列表内没有内容
  - else    
    - @score_lists.each do |score_list|
      .score-list.generic-model
        .cell.title
          = link_to hspan(score_list.title), score_list
        .cell.semester
          = score_list.semester.to_s
        .cell.course
          = hspan(score_list.course.name)
        .cell.count
          = score_list.finished_ratio

  = table_pagination(@score_lists)
