- hbreadcrumb '首页', '/'
- hbreadcrumb '成绩单', course_score_lists_path
- hbreadcrumb '创建成绩单'

.page-new-course-score-list
  = form_tag course_score_lists_path do
    = flash_info
    .field.placeholder
      %label 请输入成绩单标题
      = text_field_tag :title
    .field
      %label 选择要创建成绩单的课程
      = select_tag :semester, options_from_collection_for_select(@semester, :value, :value, nil), :class => 'semester-selector', :style => 'width:64px;', :include_blank => true, :data => {:placeholder => '请选择学期', :url => course_candidates_course_score_lists_path}
      = select_tag :course_id, [], :class => 'course-selector', :style => 'width:320px;', :include_blank => true, :data => {:placeholder => '请选择课程'}
    .field.submit
      = jfsubmit '为该课程创建成绩单'
      = jfcancel '取消'