- htitle '资源分类维护'

- hgoback admin_categories_path
- hbreadcrumb '首页', '/admin'
- hbreadcrumb '资源分类', admin_categories_path
- hbreadcrumb '创建新资源分类'

.page-model-form
  = flash_info
  = form_for [:admin, @category] do |f|
    .field
      %label 分类名称
      = f.text_field :name
      = hidden_field_tag :parent_id, params[:parent_id]
    .field.submit
      = jfsubmit '确定'
      = jfcancel '取消'
