.page-file-entity-preview
  - if file_entity.blank?
    .state.empty 资源无法预览

  - else
    - if file_entity.is_image?
      / 图片展示
      - src = file_entity.http_url :large
      = jimage src, :width=>640, :height=>400

    - elsif file_entity.is_audio?
      / 音乐播放
      %audio{:preload=>"auto"}
        %source{:src=>file_entity.http_url}
    - elsif file_entity.content_kind == :swf
      = swf_tag(file_entity.http_url)
    - elsif file_entity.is_video?
      - if file_entity.video_encoding?
        .state.encoding 视频正在进行转码，请等待转码完毕

      - elsif file_entity.video_encode_failure?
        :ruby
          re_encode_url = File.join('/file_entities', file_entity.id.to_s, 're_encode')

        .state.encode-failure 视频转码失败
        .re-encode= link_to '重新转码', re_encode_url, :method=>:post

      - elsif file_entity.video_encode_success?

        = flash_player file_entity.attach.url
        .video-screenshots
          .desc 视频截图预览
          - file_entity.screenshot_urls[0...6].each do |src|
            .img
              = jimage src, :width=>160, :height=>120

      - else
        .state.no-support 当前视频无法预览

    - else
      .state.no-support 不支持当前资源的预览
