- htitle '题目录入'

- hgoback admin_test_questions_path
- hbreadcrumb '首页', '/admin'
- hbreadcrumb '题目录入', "/admin/test_questions"
- hbreadcrumb '增加题目'
  
.page-model-form
  = flash_info
  = form_for [:admin, @test_question] do |t|
    .field
      %label 计划标题
      = t.text_field :title


    .field.submit
      = jfsubmit '确定'
      = jfcancel '取消'
