- htitle '题目录入'

- hgoback "/test_questions"
- hbreadcrumb '首页', '/'
- hbreadcrumb '题目录入', "/teaching_plans/#{@test_question.teaching_plan_id}/test_questions"
- hbreadcrumb @test_question.title

.page-unfixed-head
  = page_buttons do |p|
    = p.button '修改信息', "/test_questions/#{@test_question.id}/edit"



.page-model-show

  .page-admin-course

    = page_field :'plan-info', :title=>'标题' do
      = @test_question.title
    

