.field
  %label 第一志愿

  = f.select(:mentor_course1, MentorCourse.all.collect {|t| [ "#{t.user.real_name}, #{t.course}", t.id ] }, {:include_blank => true}, {:data => {:placeholder => '请选择导师跟方向'}})


.field
  %label 第二志愿

  = f.select(:mentor_course2, MentorCourse.all.collect {|t| [ "#{t.user.real_name}, #{t.course}", t.id ] }, {:include_blank => true}, {:data => {:placeholder => '请选择导师跟方向'}})
 


.field
  %label 第三志愿

  = f.select(:mentor_course3, MentorCourse.all.collect {|t| [ "#{t.user.real_name}, #{t.course}", t.id ] }, {:include_blank => true}, {:data => {:placeholder => '请选择导师跟方向'}})


  .field
    = jfsubmit '确定'
    = jfcancel '取消'