%h1 收件箱
= link_to '发件箱', outbox_short_messages_path
= link_to '写站内信', new_short_message_path

%ul.short-messages
  %li.short-message.empty{:style => 'display:none;'}
    .content
    = link_to nil,
              users_path,
              :class => 'sender'

    = link_to '回复',
              new_short_message_path,
              :class => 'reply'

    = link_to '标记已读',
              short_messages_path,
              :method => :put,
              :remote => true,
              :class  => 'read'

    = link_to '删除',
              short_messages_path,
              :method => :delete,
              :class  => 'remove',
              :remote => true

  - @messages.each do |message|
    %li.short-message
      .content= message.content
      = link_to message.sender.name,
                message.sender,
                :class => 'sender'

      = link_to '回复',
                new_short_message_path(:receiver_id => message.sender.id)

      = link_to '标记已读',
                read_short_message_path(message),
                :method => :put,
                :remote => true,
                :class  => 'read'

      = link_to '删除',
                short_message_path(message, :sender => false),
                :method => :delete,
                :class  => 'remove',
                :remote => true