.course-chapters
  - course.chapters.each do |chapter|
    .chapter
      .dd
        .title= chapter.title
        .desc= simple_format truncate_u(chapter.desc, 140)
      .image= jimage chapter.cover_url, :width=>240, :height=>160

      .videos
        .vt 章节课件与视频
        %a.play{:href=>"/courses/#{course.id}/browse_chapters"} 打开浏览
        - i = 1
        - chapter.course_wares.each do |cw|
          %a.video{:href=>"/courses/#{course.id}/browse_chapters"}= i
          - i = i + 1