%div  名字 #{@team.name}
%div 班级号 #{@team.cid}    
-if @team.teacher
  %div 教师 #{@team.teacher.real_name}    
-else
  %div 
    %span 教师未指定
    =link_to "指定教师","/teams/#{@team.id}/select_teacher"
    
    
-students = @team.students
%div 学生数量 #{students.count}
=link_to "增加学生","/teams/#{@team.id}/select_students"
-if !students.blank?
  %ul
    -students.each do |student|
      %li=student.real_name
=link_to "首页","/"
=link_to "班级列表","/teams"
		
