.attrs.ava
  .t2 学生姓名
  .t2 学生编号
  .t2 用户名
  .t2 用户邮箱

- students.each do |student|
  .model.student
    .avatar= avatar student.user, :tiny
    .t2= student.real_name
    .t2= student.sid
    .t2= student.user.name
    .t2= student.user.email

    .ops
      %a.remove{:href=>'javascript:;'} 删除
      %a.detail{:href=>"/admin/students/#{student.id}"} 查看详情
