.attrs.ava
  .t2 学生姓名
  .t2 学生编号
  .t2 用户名
  .t2 用户邮箱

- students.each do |student|
  .model.student
    .avatar= avatar student.user, :tiny
    .t2= student.real_name
    .t2= student.sid
    .t2= student.user.name
    .t2= student.user.email

    .ops
      - remove_url = admin_student_path(student)
      %a.remove{:href=>'javascript:;', :'data-url'=>remove_url} 删除
      %a.edit{:href=>"/admin/students/#{student.id}/edit"} 编辑
      %a.detail{:href=>"/admin/students/#{student.id}"} 详情
