- htitle '学生维护'

- hgoback admin_student_path(@student)
- hbreadcrumb '首页', '/admin'
- hbreadcrumb '基础数据', '/admin'
- hbreadcrumb '学生维护', '/admin/students'
- hbreadcrumb @student.real_name, admin_student_path(@student)
- hbreadcrumb '修改学生密码'

.page-admin-form
  = flash_info
  = form_for [:password_submit, :admin, @student] do |t|
    = t.fields_for :user do |user_f|
      .field.need
        %label 密码
        = user_f.password_field :password, :value=>'', :maxlength=>32
      .field.need
        %label 确认密码
        = user_f.password_field :password_confirmation, :value=>'', :maxlength=>32

    .field.submit
      = jfsubmit '确定'
      = jfcancel '取消'
