.info 学生需要一个用户账号来登录系统，请设置以下信息来创建学生对应的用户账号
=flash_info
=form_for User.new,:url=>"/admin/students/#{@student.id}/do_set_user",:method=>:put do |f|
  .field
    %label 电子邮箱
    = f.text_field :email,:maxlength=>50
  .field
    %label 用户名
    = f.text_field :name,:maxlength=>50
  .field
    %label 密码
    = f.password_field :password,:value=>'',:maxlength=>32
  .field
    %label 确认密码
    = f.password_field :password_confirmation,:value=>'',:maxlength=>32
  .field
    %a.form-submit-button{:href=>'javascript:;'} 创建
    
