-htitle '查看投票结果'

:ruby
  title = @vote.title
  
  voted_users = @vote.voted_users
  voted_users_count = @vote.voted_users.count
  vote_result_items_count = @vote.vote_result_items.count

.page-go-back
  =link_to '返回投票列表', '/votes'

.page-vote-result
  %p= "总有有 #{voted_users_count} 人参与"
  %p= "总共有 #{vote_result_items_count} 人/项 被选择"
  .items
    - voted_users.each do |user|
      %p= "#{user.name} 选择了其中的 #{@vote.voted_items_by(user).count} 项"

.page-vote-result
  .title=title
  .items
    - @vote.vote_items.each_with_index do |item, idx|
      :ruby
        voted_count = item.vote_result_items.count

        n = (vote_result_items_count > 0)? voted_count.to_f / vote_result_items_count : 0
        percent = number_to_percentage(n * 100, :precision => 1)
        title = item.item_title
        
        line_klass = "c#{idx % 5}"
        
      .item
        .t=title
        .line{:class=>line_klass}
          .p{:style=>"width:#{percent};"}
        .r #{voted_count} (#{percent})
        
        
        
-@comments.each do |comment|
  -if comment.reply_comment_id.blank?
    %div
      %span=comment.creator.name
      %span ：
      %span=comment.content
      %span=link_to "回复","/comments/#{comment.id}/reply"
  -else
    %div  
      %span  #{comment.creator.name} 回复 #{comment.reply_user.name} : #{comment.content}
      %span=link_to "回复","/comments/#{comment.id}/reply"
    
  
=flash[:error]
=form_for @vote.comments.build, :url=>"/votes/#{@vote.id}/comments" do |f|
  %label 内容
  %div
    =f.text_area :content
  %div
    =f.submit "评论"

		
 
