
.field.need
  %label 标题
  = f.text_field :title

.field.need
  %label 问题
  = f.text_area :content, :class => 'kind-editor'

.field.need
  %label 选择老师
  - # current_user.courses.map {|course| course.teacher_users}.flatten.uniq.each do |teacher|
  - current_user.get_teachers(:semester => Semester.now).each do |user|
    = f.radio_button :teacher_user_id, user._id
    = user.real_name


.field
  = jfsubmit '确定'
  = jfcancel '取消'