- hgoback '/'
- hbreadcrumb '首页', '/'
- hbreadcrumb '在线问答'

- if current_user.is_student?
  = page_top_fixed 'buttons' do
    = page_buttons do |p|
      = p.button '提问题', '/questions/new', :class => 'new'

= page_top_fixed 'filters' do
  = page_filters '/questions' do |p|
    = p.filter '全部', :tab => 'all', :default=>true
    = p.filter '已回答', :tab => 'answered'
    = p.filter '未回答', :tab => 'unanswered'


:ruby
  cols_hash = {
    :ops => 1,
    :title => 10,
    :teacher => 2,
    :answered => 2
  }

= page_top_fixed 'list-head' do
  .headtop
    .buttons
      %a{:href=>"javascript:;", :class=>"button batch-destroy", :'data-model'=>"Question"} 删除选中项
    .paginate-info
      %span.desc
        %span 当前显示第
        %span.count 1
        %span -第
        %span.count 10
        %span 条结果（共
        %span.count 10
        %span 条结果）

  = page_list_head :cols=>cols_hash do |p|
    = p.checkbox
    = p.cell :ops, '操作'
    = p.cell :title, '标题'
    = p.cell :teacher, '教师'
    = p.cell :asker, '提问者'
    = p.cell :answered, '回答状态'

- require 'question_demo'
= page_model_list DemoQuestions, :cols=>cols_hash, :class=>'questions' do |p|
  - question = p.model

  = p.checkbox(question)
  = p.cell :ops do
    - if !question.has_answered
      %a.edit{:href=>"/questions/demo/edit"} 编辑
  = p.cell :title do
    %a.edit{:href=>"/questions/demo"}= truncate_u question.title
  = p.cell :teacher, question.teacher_user
  = p.cell :asker, question.creator
  = p.cell :answered, question.has_answered ? '已回答' : '未回答'
