- htitle 'Java编程语言问答FAQ'

- hgoback '/questions'
- hbreadcrumb '首页', '/'
- hbreadcrumb '老师问答', '/questions'
- hbreadcrumb 'Java编程语言问答FAQ'

.page-model-show.faqs
  = page_field :'faq-toc', :title => 'FAQ 问题索引' do
    - DemoModel::FAQ.each_with_index do |question,index|
      .link= link_to question.title, "#faq#{index+1}"

  = page_field :'faq-contents', :title => 'FAQ（点击问题查看详情）' do
    - DemoModel::FAQ.each_with_index do |question,index|
      .faq{:id=>"faq#{index+1}"}
        .title= link_to question.title, 'javascript:;'
        %p.answer
          %span.best.bold> 最佳答案：
          %span>= question.best_answer.html_safe