- htitle 'Java编程语言问答FAQ'

- hgoback '/questions'
- hbreadcrumb '首页', '/'
- hbreadcrumb '老师问答', '/questions'
- hbreadcrumb 'Java编程语言问答FAQ'

.page-unfixed-head

.page-model-show.faqs
  = page_field :'faq-toc', :title => '内容列表' do
    - DemoModel::FAQ.each_with_index do |question,index|
      .link= link_to question.title, "#faq#{index+1}"

  = page_field :'faq-contents', :title => '内容' do
    - DemoModel::FAQ.each_with_index do |question,index|
      .faq{:id=>"#faq#{index+1}"}
        .title= question.title
      %p.answer= question.best_answer.html_safe
      .link= link_to '打开查看', 'javascript:;'