- require 'question_demo'
- @question = HMMQuestions[2]
- step = params[:step] || '1'

- htitle '老师问答'


- hgoback '/questions'
- hbreadcrumb '首页', '/'
- hbreadcrumb '老师问答', '/questions'
- hbreadcrumb @question.title


.page-unfixed-head
  = page_buttons do |p|
    = p.button '编辑修改', "/questions/demo/edit"

.page-model-show.page-demo-question
  = page_field :question, :title => '问题' do
    .title= @question.title

    .ct
      = sanitize "<p>涉及到对象操作 object.xxxx(),如果对象为null则会抛异常，如果每次都if(o !=null) 代码很丑陋</p><p>一种做法是创建对象或者方法返回对象时都new一个对象而不是返回null<br>\n不过这样有时也不太好，比如结果为空的时候返回null更合理一点</p><p>有更好的建议么 ？</p>"

    .asker
      = avatar User.find(185), :tiny
      .name= link_to @question.creator, "/users/hmm"

    .comments
      .number 2个评论
      .comment
        .commenter= link_to '彭思诗', 'javascript:;'
        .date 2013年01月15日
        .content= sanitize '<p>貌似没有比较好的方法. 一般如果返回集合时,没有东西可以返回一个空的集合.</p>'

      .comment
        .commenter= link_to '陶宣宣', 'javascript:;'
        .date 2013年01月15日
        .content= sanitize '<p>要是有类似 coffee 的 Existential Operator(?.) 或者 rails 中的 try 就好了</p>'

        
  = render "questions/parts/#{params[:demo]}_#{step}"
