- hbreadcrumb '首页', '/'
- hbreadcrumb '师生问答'


.page-fixed-head
  = page_buttons do |p|
    = p.button '提问题', '/questions/new', :class => 'new'


:ruby
  cols_hash = {
    :ops => 1,
    :title => 5,
    :teacher => 2,
    :answered => 2
  }

.page-list-head
  .headtop
    = page_buttons do |p|
      = p.batch_destroy Question

    = list_pagination(@questions)

  = page_list_head :cols=>cols_hash do |p|
    = p.checkbox
    = p.cell :ops, '操作'
    = p.cell :title, '标题'
    = p.cell :teacher, '教师'
    = p.cell :answered, '回答状态'

.page-filter{:style => "display: block;"}
  =link_to '全部', '/questions'
  =link_to '已回答', '/questions?type=answered'
  =link_to '未回答', '/questions?type=unanswered'

.page-model-list.admin-teachers
  - if @questions.blank?
    .blank
      目前列表内没有内容
  - else
    - @questions.each do |question|
      = page_list_body :cols=>cols_hash do |p|
        = p.checkbox(question)
        = p.cell :ops do
          %a.edit{:href=>"/questions/#{question.id}/edit"} 编辑
        = p.cell :title do
          %a.edit{:href=>"/questions/#{question.id}"}= question.title
        = p.cell :teacher, question.teacher_user.real_name
        = p.cell :answered, question.has_answered? ? '已回答' : '未回答'
