- htitle '老师问答'

- hbreadcrumb '首页', '/'
- hbreadcrumb '老师问答', '/questions'
- hbreadcrumb @question.title

.page-unfixed-head
  = page_buttons do |p|
    = p.button '返回列表页', '/admin/questions'
    - if current_user.is_student? && @question.answer.blank?
      = p.button '编辑修改', "/questions/#{@question.id}/edit"

.page-model-show
  = page_field :title, :title => '标题' do
    = @question.title

  = page_field :question, :title => '问题' do
    = sanitize @question.content

  = page_field :answer, :title => '答案' do
    - if !@question.answer.blank?
      .field
        %label 答案
        .v= html_escape(@question.answer.content).gsub(/\n/, '<br />').html_safe

      - if current_user.is_teacher?
        .field
          .link.edit= link_to '编辑', 'javascript:;'

      .page-edit-form.hide
        = flash_info
        = form_for @question.answer do |f|
          =render 'answer_form', :f => f


    - else

      - if current_user.is_teacher?
        .page-form
          = flash_info
          = form_for Answer.new, :url => "/questions/#{@question.id}/answers" do |f|
            =render 'answer_form', :f => f

