- hgoback '/courses'
- hbreadcrumb '首页', '/'
- hbreadcrumb 'Java程序设计', 'javascript:;'
- hbreadcrumb '方案一', "/courses?demo=show&hide=false"
- hbreadcrumb '第一章节', 'javascript:;'
- hbreadcrumb '编辑'

:ruby
  resources = [
    {
      :title => '个人资源库', :isFolder => true, :activate => true, :expand => true,
      :children=>[
        {
          :title => '课件', :isFolder => true, :expand => false,
          :children=>[
            {
              :title => '介绍深入生活的JAVA语言.ppt'
            }
          ]
        }
      ]
    }
  ]

.page-zhangjie-edit
  .base-info
    .title.editcontent
      = link_to "编辑","javascript:void(0);", :class => "edit"
      .info1{:style => "display:inline;"} 第一章节
      .info2{:style => "display:none;"} java语言与对象
      .form{:style => "display:none;"}
        = text_field_tag "title","第一章节"
        = link_to "保存","javascript:void(0);", :class => "save"

    .desc.editcontent
      = link_to "编辑","javascript:void(0);", :class => "edit"
      .info1{:style => "display:inline;"} 章节还没有简介信息
      .info2{:style => "display:none;"} 讲述java语言中的对象
      .form{:style => "display:none;"}
        = text_area_tag "desc","章节还没有简介信息"
        = link_to "保存","javascript:void(0);", :class => "save"

  .desc-info
    .tabs
      .navs
        = link_to "1",'javascript:void(0);',:class=>"nav current",:style=>"display:none;"
        = link_to "2",'javascript:void(0);',:class=>"nav",:style=>"display:none;"
        = link_to "3",'javascript:void(0);',:class=>"nav",:style=>"display:none;"
        = link_to "+",'javascript:void(0);',:class=>"add"
      .contents
        .content.clearfix
          .kejian-base-info{:style=>"float:left;"}
            .title.editcontent
              = link_to "编辑","javascript:void(0);", :class => "edit"
              .info1{:style => "display:inline;"} 课件标题
              .info2{:style => "display:none;"} JAVA语言的基本概念
              .form{:style => "display:none;"}
                = text_field_tag "desc","课件标题"
                = link_to "保存","javascript:void(0);", :class => "save"
            .desc.editcontent
              = link_to "编辑","javascript:void(0);", :class => "edit"
              .info1{:style => "display:inline;"} 课件描述
              .info2{:style => "display:none;"} 详细讲解JAVA语言的基本概念
              .form{:style => "display:none;"}
                = text_area_tag "desc","课件描述"
                = link_to "保存","javascript:void(0);", :class => "save"
          .kejian-file{:style=>"float:left;"}
            = jupload_button "上传课件文件"
            = link_to "从我的资源盘选取","#"
            = render '/c1/parts/upload'
            %ul.kejian-list{:style=>"display:none;"}
              %li JAVA语言的基本概念.ppt
        .content
          .kejian-base-info{:style=>"float:left;"}
            .title.editcontent
              = link_to "编辑","javascript:void(0);", :class => "edit"
              .info1{:style => "display:inline;"} 课件标题
              .info2{:style => "display:none;"} 深入生活的JAVA语言
              .form{:style => "display:none;"}
                = text_field_tag "desc","课件标题"
                = link_to "保存","javascript:void(0);", :class => "save"
            .desc.editcontent
              = link_to "编辑","javascript:void(0);", :class => "edit"
              .info1{:style => "display:inline;"} 课件描述
              .info2{:style => "display:none;"} 介绍深入生活的JAVA语言
              .form{:style => "display:none;"}
                = text_area_tag "desc","课件描述"
                = link_to "保存","javascript:void(0);", :class => "save"
          .kejian-file{:style=>"float:left;"}
            = jupload_button "上传课件文件"
            =jfbox_link :select, "从我的资源盘选取"
            = render '/c1/parts/upload'

            = jfbox :select, "选择课件" do
              .dynatree{:data=>{:children=>resources.to_json}}
              .submit= link_to "确定", "javascript:;"

            %ul.kejian-list{:style=>"display:none;"}
              %li 介绍深入生活的JAVA语言.ppt
