- hgoback '/courses'
- hbreadcrumb '首页', '/'
- hbreadcrumb 'Java程序设计', 'javascript:;'
- hbreadcrumb '方案一', "/courses?demo=show&hide=false"
- hbreadcrumb '第一章节', 'javascript:;'
- hbreadcrumb '编辑'

:ruby
  resources = [
    {
      :title => '个人资源库', :isFolder => true, :activate => true, :expand => true,
      :children=>[
        {
          :title => '课件', :isFolder => true, :expand => false,
          :children=>[
            {
              :title => '介绍深入生活的JAVA语言.ppt'
            }
          ]
        }
      ]
    }
  ]

.page-model-show.page-zhangjie-edit
  .base-info
    .title.editcontent
      = link_to "编辑","javascript:void(0);", :class => "edit"
      .info1{:style => "display:inline;"} 第一章节
      .info2{:style => "display:none;"} java语言与对象
      .form{:style => "display:none;"}
        = text_field_tag "title","第一章节"
        = link_to "保存","javascript:void(0);", :class => "save"

    .desc.editcontent
      = link_to "编辑","javascript:void(0);", :class => "edit"
      .info1{:style => "display:inline;"} 章节还没有简介信息
      .info2{:style => "display:none;"} 讲述java语言中的对象
      .form{:style => "display:none;"}
        = text_area_tag "desc","章节还没有简介信息"
        = link_to "保存","javascript:void(0);", :class => "save"

  .desc-info
    .tabs
      .navs
        = link_to "1",'javascript:void(0);',:class=>"nav current",:style=>"display:none;"
        = link_to "2",'javascript:void(0);',:class=>"nav",:style=>"display:none;"
        = link_to "3",'javascript:void(0);',:class=>"nav",:style=>"display:none;"
        = link_to "+ 增加课件",'javascript:void(0);',:class=>"add"
      .contents
        - i = 0
        - DemoModel::CHAPTER_1_KEJIANS.each do |kejian|
          - i = i + 1
          - _title = "课件标题-#{i}"
          - _desc = "课件描述-#{i}"
          - jfbox_id = "select-#{i}"

          .content
            .kejian-base-info
              .title.editcontent
                = link_to "编辑","javascript:void(0);", :class => "edit"
                .info1{:style => "display:inline;"}= _title
                .info2{:style => "display:none;"}= kejian.title
                .form{:style => "display:none;"}
                  = text_field_tag "desc", _title
                  = link_to "保存","javascript:void(0);", :class => "save"
              .desc.editcontent
                = link_to "编辑","javascript:void(0);", :class => "edit"
                .info1{:style => "display:inline;"}= _desc
                .info2{:style => "display:none;"}= kejian.desc
                .form{:style => "display:none;"}
                  = text_area_tag "desc", _desc
                  = link_to "保存","javascript:void(0);", :class => "save"
            .kejian-file
              .btns
                = jupload_button "上传文件"
                = jfbox_link jfbox_id, "从资源盘选取"
              
              = render '/c1/parts/upload'
              
              = jfbox jfbox_id, "选择课件" do
                .dynatree{:data=>{:children=>resources.to_json}}
                .submit= link_to "确定", "javascript:;"

              %ul.kejian-list{:style=>"display:none;"}
                %li= kejian.filename