= render 'nav'

.page-announcements-head
  .btns
    .page-tabs
      :ruby
        klass1 = request.fullpath == announcements_path ? 'current' : ''
        klass2 = request.fullpath == received_announcements_path ? 'current' : ''
        klass3 = request.fullpath == mine_announcements_path ? 'current' : ''

      %a.tab{:href=>announcements_path, :class => klass1} 收到的通知
      %a.tab{:href=>received_announcements_path, :class => klass2} 未读通知 
      %a.tab{:href=>mine_announcements_path, :class => klass3} 我创建的通知

    - if current_user.is_teacher?
      = link_to '创建通知', new_announcement_path, :class => 'generic-new'

  .cells
    .cell.title 标题
    .cell.creator 课程
    .cell.date 创建时间

.page-announcements
  - if @announcements.blank?
    .blank
      目前列表内没有内容
  - else
    - @announcements.each do |announcement|
      .announcement.generic-model
        .cell.title
          = link_to hspan(announcement.title), announcement
        .cell.creator
          = user_link announcement.creator
        .cell.date
          = announcement.created_at

