= render 'nav'


- if current_user.is_teacher?
  .page-fixed-head
    = page_buttons do |p|
      = p.button '创建通知', new_announcement_path, :class => 'generic-new'


:ruby
  cols_hash = {
    :ops => 1,
    :title => 5,
    :teacher => 2,
    :created_at => 2
  }

.page-list-head
  .headtop
    = page_buttons do |p|
      = p.batch_destroy Announcement

    = list_pagination(@announcements)

  = page_list_head :cols=>cols_hash do |p|
    = p.checkbox
    = p.cell :title, '标题'
    = p.cell :teacher, '教师'
    = p.cell :created_at, '创建时间'

.page-filter{:style => "display: block;"}
  =link_to '收到的通知', announcements_path
  =link_to '未读通知', received_announcements_path
  - if current_user.is_teacher?
    =link_to '我创建的通知', mine_announcements_path

.page-model-list.admin-teachers
  - if @announcements.blank?
    .blank
      目前列表内没有内容
  - else
    - @announcements.each do |announcement|
      = page_list_body :cols=>cols_hash do |p|
        = p.checkbox(announcement)
        = p.cell :title do
          %a.edit{:href => "/admin/announcements/#{announcement.id}"}= announcement.title
        = p.cell :teacher, announcement.creator.real_name
        = p.cell :created_at, announcement.created_at


