= render 'nav'

.page-fixed-head
  .page-tabs
    %a.tab{:href=>announcements_path} 收到的通知
    %a.tab{:href=>received_announcements_path} 未读通知
    - if current_user.is_teacher?
      %a.tab{:href=>mine_announcements_path} 我创建的通知


.page-fixed-head
  - if current_user.is_teacher?
    = page_buttons do |p|
      = p.button '创建通知', new_announcement_path, :class => 'generic-new'


:ruby
  cols_hash = {
    :ops => 1,
    :title => 6,
    :teacher => 2,
    :created_at => 2
  }

.page-list-head
  .headtop
    
    = page_buttons do |p|
      = p.batch_destroy Announcement

    = list_pagination(@announcements)

  = page_list_head :cols=>cols_hash do |p|
    = p.checkbox
    = p.cell :title, '标题'
    = p.cell :teacher, '教师'
    = p.cell :created_at, '创建时间'




.page-model-list.admin-teachers
  - if @announcements.blank?
    .blank
      目前列表内没有内容
  - else
    - @announcements.each do |announcement|
      = page_list_body :cols=>cols_hash do |p|
        = p.checkbox(announcement)
        = p.cell :title do
          %a.edit{:href => "/admin/announcements/#{announcement.id}"}= announcement.title
        = p.cell :teacher, announcement.creator.real_name
        = p.cell :created_at, announcement.created_at


