= render 'nav'
- hbreadcrumb '创建新通知'

.page-new-announcement
  = form_for @announcement do |f|
    = flash_info
    .field.placeholder.need
      %label 标题
      = f.text_field :title
    .field
      %label 正文
      = f.text_area :content, :class => 'KindEditor'
    .field.submit
      = jfsubmit '下一步'
      = jfcancel '返回'