= render 'nav'
- hbreadcrumb '创建新通知'

.page-admin-go-back= link_to '返回列表页', '/announcements'

.page-new-announcement
  = form_for @announcement do |f|
    = flash_info
    .field.placeholder.need
      %label 标题
      = f.text_field :title
    .field
      %label 正文
      = f.text_area :content, :class => 'kind-editor'
    .assign
      .courses
        .info 请选择要发布通知的课程
        - current_user.get_teacher_courses(:semester => Semester.now).each do |course|
          = check_box_tag 'course_ids[]', course.id
          %label= course.name

    .field.submit
      = jfsubmit '确定'
