- rule = @announcement.announcement_rule
- expression = rule ? rule.expression : {}
- course_ids = expression.blank? ? [] : expression[:courses]
- courses = course_ids.map{|id|Course.find_by_id(id)}.compact

= render 'nav'
- hbreadcrumb @announcement.title

.page-admin-go-back= link_to '返回列表页', '/announcements'

.page-announcement-show
  %h1.title= @announcement.title
  - creator = @announcement.creator
  .creator 发布人: #{user_link creator}
  .content= @announcement.content
  .receivers-selector
    
    - if current_user == @announcement.creator
      .assign
        %label 通知范围
        .courses
          .info 课程
          - if courses.blank?
            没有选择课程
          - else
            - courses.each do |course|
              .name= course.name
