- rule = @announcement.announcement_rule
- expression = rule ? rule.expression : {}
- course_ids = expression.blank? ? [] : expression[:courses]
- courses = course_ids.map{|id|Course.find_by_id(id)}.compact

= render 'nav'
- hbreadcrumb @announcement.title

.page-unfixed-head
  = page_buttons do |p|
    = p.button '返回列表页', '/announcements'

.page-model-show
  = page_field :title, :title => '标题' do
    %h1.title= @announcement.title
  = page_field :creator, :title => '发布人' do
    = user_link @announcement.creator
  = page_field :content, :title => '内容' do
    .content= @announcement.content
    .receivers-selector

    - if current_user == @announcement.creator
      .assign
        %label 通知范围
        .courses
          .info 课程
          - if courses.blank?
            没有选择课程
          - else
            - courses.each do |course|
              .name= course.name
