- rule = @announcement.announcement_rule
- expression = rule ? rule.expression : {}
- course_ids = expression.blank? ? [] : expression[:courses]

= render 'nav'
- hbreadcrumb @announcement.title

.page-announcement-show
  %h1.title= @announcement.title
  .content= @announcement.content
  .receivers-selector
    - creator = @announcement.creator
    
    - if current_user == @announcement.creator
      = form_tag announce_announcement_path(@announcement), :method => :put do
        .courses
          请选择要发布通知的课程
          - creator.courses.each do |course|
            - is_announced = course_ids.include?(course.id)
            %label
              = check_box_tag 'course_ids[]', course.id, is_announced, :disabled => is_announced
              = course.name
        = jfsubmit '发布通知'
