.info{:style=>'float:right;width:240px;'}
  .description-head 
    .title{:style=>'display:inline;'} 简介：
    %a.edit{:href=>'javascript:;'} 编辑
  .description-content=media_file.description
  .description-form{:style=>"display:none;"}
    =text_area_tag 'description', media_file.description
    .action{:style=>"display:block;"}
      %a.submit{:href=>'javascript:;',:'data-url'=>"/media_files/#{media_file.id}/edit_description"} 确定
      %a.cancel{:href=>'javascript:;'} 取消

.cover
  -if media_file.is_video? && media_file.encode_success?
    =video_tag media_file
  -elsif media_file.is_audio? && media_file.file_merged
    %embed{:src=>media_file.entry.url, :width=>'640px', :height=>'400px'}
  -elsif media_file.is_image?
    %img{:src=>media_file.entry.url(:large), :width=>'640px', :height=>'400px'}

-if media_file.is_video? && media_file.encode_success?
  .screenshots
    -1.upto 6 do |i|
      -arr = media_file.entry.url.split('original')
      -arr.pop
      -src = arr.push("/screenshot_#{i}.jpg").join('original')
      %img{:src=>src}

.page-media-file-comments.hide

  .media-file-comment-form
    =form_for Comment.new do |f|
      =f.label '评论'
      =f.text_area :content
      =f.hidden_field :creator_id, :value => current_user.id
      =f.hidden_field :model_id, :value => @media_file.id
      =f.hidden_field :model_type, :value => @media_file.class.to_s
      =f.hidden_field :reply_comment_id, :value => ''
      =f.hidden_field :reply_comment_user_id, :value => ''
      =f.submit '评论'


  .media-file-comment-list
    - @media_file.comments.each do |comment|
      .media-file-comment{:data => {:creator_id => "#{comment.creator_id}", :comment_id => "#{comment.id}"}, :id => "comment-#{comment.id}"}
        .comment-creator=comment.creator.name + ':'
        - if comment.reply_comment_id
          %a.comment-reply-to{:href => "#comment-#{comment.reply_comment_id}"} 回复评论#{comment.reply_comment_id}道
        .comment-content=comment.content
        %a.comment-reply{:href => '#'} 回复