-# use 上传用户头像
-# see 用户设置->设置头像

-htitle '设置头像'

.page-title 上传一张图片，然后选择要裁剪的部分，系统会自动替您裁好

.page-setting
  .crop-avatars
    = avatar current_user, :large
    = avatar current_user, :medium
    = avatar current_user, :normal
    = avatar current_user, :tiny
    = avatar current_user, :mini

  = flash_info
  = form_tag '/auth/setting/avatar_submit_raw', :multipart => true do
    .field
      %label 选择一张图片并上传
      .ip=file_field_tag :logo
    .field
      %a.form-submit-button{:href=>'javascript:;'} 上传图片
