:ruby
  tstr = ((yield :title) || '').gsub("\n",'')
  title = tstr.blank? ? 'SHCMRS ADMIN' : "#{tstr} - SHCMRS ADMIN"

!!! 5
%html{:lang=>'zh'}
  %head
    %meta{:charset=>'utf-8'}
    %title= title
    = csrf_meta_tags
    = stylesheet_link_tag 'application'

  %body.echo.gray
    .page-sider
      - if logged_in?
        .links.admin
          %a.link.admin-index{:href=>'/admin'} 总体概览
          %a.link.admin-teachers{:href=>'/admin/teachers'} 教师
          %a.link.admin-students{:href=>'/admin/students'} 学生
          %a.link.admin-teaching-plans{:href=>'/admin/teaching_plans'} 教学计划
          %a.link.admin-courses{:href=>'/admin/courses'} 课程
          %a.link.admin-teams{:href=>'/admin/teams'} 班级
          %a.link.admin-categories{:href=>'/admin/categories'} 资源分类

    .page-topbar
      .page-breadcrumb
        = yield :breadcrumb
      = yield :topbar

      .current-user
        .name>
          %span> 系统管理员

        %a.logout{:href=>'/auth/logout'} 退出登录

    .page-content
      = yield

    = render 'layouts/parts/current_user_js_info'
    = javascript_include_tag 'application'
    = yield :javascript