:ruby
  tstr = ((yield :title) || '').gsub("\n",'')
  title = tstr.blank? ? 'SHCMRS ADMIN' : "#{tstr} - SHCMRS ADMIN"

!!! 5
%html{:lang=>'zh'}
  %head
    %meta{:charset=>'utf-8'}
    %title= title
    = csrf_meta_tags
    = stylesheet_link_tag 'application'

  %body.echo.gray
    .page-sider
      - if logged_in?
        .links
          %a.link.index{:href=>'/admin'} 概览
          %a.link.teachers{:href=>'/admin/teachers'} 教师
          %a.link.students{:href=>'/admin/students'} 学生
          %a.link.teams{:href=>'/admin/teams'} 班级
          %a.link.courses{:href=>'/admin/courses'} 课程
          %a.link.categories{:href=>'/admin/categories'} 分类数据

    .page-topbar
      .page-breadcrumb
        = yield :breadcrumb
      = yield :topbar

    .page-content
      = yield

    = render 'layouts/parts/current_user_js_info'
    = javascript_include_tag 'application'
    = yield :javascript