-# MINDPIN 工程原型Layout

:ruby
  tstr = ((yield :title) || '').gsub("\n",'')
  title = tstr.blank? ? 'MINDPIN shcmusic SNS 基础数据维护' : "#{tstr} - MINDPIN shcmusic SNS 基础数据维护"

!!! 5
%html{:lang=>"zh"}
  %head
    %meta{:charset=>"utf-8"}
    %title=title
    = csrf_meta_tags
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'categories'
    = yield :css
    = yield :head

  %body.echo.gray.admin
    .page-wrap
      .page-container
        .page-header
          .settings
          .title=title
        .page-nav
          =link_to "概览","/admin"
          =link_to "课程","/admin/courses"
          =link_to "班级","/admin/teams"
          =link_to "分类","/admin/categories"
          =link_to "教师","/admin/teachers"
          =link_to "学生","/admin/students"
          
        .page-content
          = yield

    = javascript_include_tag :application
    = yield :javascript
