:ruby
  tstr = ((yield :title) || '').gsub("\n",'')
  title = tstr.blank? ? 'SHCMRS ADMIN' : "#{tstr} - SHCMRS ADMIN"

!!! 5
%html{:lang=>'zh'}
  %head
    %meta{:charset=>'utf-8'}
    %title= title
    = csrf_meta_tags
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag '/fcbkListSelection/fcbklistselection.css'

  %body.echo.gray
    - if logged_in?
      = mindpin_sidebar :admin

    .page-topbar
      .page-breadcrumb
        = yield :breadcrumb
      = yield :topbar

      .current-user
        .name>
          %span> 系统管理员
        %a.setting{:href=>'/admin/setting/password'} 设置密码

        %a.logout{:href=>'/auth/logout'} 退出登录

    .page-content
      = yield

    = render 'layouts/parts/current_user_js_info'
    = javascript_include_tag '/kindeditor/kindeditor'
    = javascript_include_tag 'application'
    = javascript_include_tag '/fcbkListSelection/fcbklistselection.min.js'
    = yield :javascript