:ruby
  tstr = ((yield :title) || '').gsub("\n",'')
  title = tstr.blank? ? 'SHCMRS' : "#{tstr} - SHCMRS"

!!! 5
%html{:lang=>'zh'}
  %head
    %meta{:charset=>'utf-8'}
    %title= title
    = csrf_meta_tags
    = stylesheet_link_tag 'application'

  %body.echo.gray
    - if logged_in? && (current_user.is_teacher? || current_user.is_student?)
      .page-sider
        .links
          .title 资源
          %a.link.media-resources{:href=>'/file'} 我的文件夹
          %a.link.received-shares{:href=>'/media_shares'} 收到的共享
          %a.link.public-resources{:href=>'/public_resources'} 公共资源库
        .links
          .title 教学
          - if current_user.is_teacher?
            %a.link.homeworks{:href=>homeworks_path} 布置的作业
          - if current_user.is_student?
            %a.link.homeworks{:href=>homeworks_path} 我的作业
          %a.link.courses{:href=>'/courses/mine'} 我的课程

          - if current_user.is_student?
            %a.link.courses{:href=>'/courses/for_student'} 当前课程

          - if current_user.is_teacher?
            %a.link.courses{:href=>'/courses/for_teacher'} 当前课程


          - if current_user.is_student?
            %a.link.courses{:href=>'/courses/next_for_student'} 我接下来要上的课

          - if current_user.is_teacher?
            %a.link.courses{:href=>'/courses/next_for_teacher'} 我接下来要上的课

          %a.link.courses{:href=>'/course_surveys'} 课程调查
          %a.link.courses{:href=>'/questions'} 老师问答

        .links
          .title 互动
          %a.link.comments{:href=>'/comments/received'} 收到的评论
          / %a.link.short-messages{:href=>inbox_short_messages_path} 站内信
          %a.link.notifications{:href=>announcements_path} 通知

      .page-topbar
        .page-breadcrumb
          = yield :breadcrumb
        = yield :topbar

        .current-user
          .avatar= avatar_link current_user, :mini
          .name>
            %span> 你好，
            %span= user_link current_user
            - if current_user.is_teacher?
              %span 老师
            - if current_user.is_student?
              %span 同学

          %a.setting{:href=>'/auth/setting'} 设置
          %a.logout{:href=>'/auth/logout'} 退出登录

      .page-content
        = yield

      = render 'layouts/parts/current_user_js_info'
      = javascript_include_tag "http://#{request.host}/juggernaut/application.js"
      = javascript_include_tag 'application'
      = yield :javascript

    - else
      .page-sider
      .page-topbar
        .current-user
          %a.logout{:href=>'/auth/logout'} 退出登录
      .page-content
        .invalid-role 你的用户信息不完整，你不是一个老师或者学生。不能使用这个系统。
        .invalid-role 请联系管理员帮忙解决