:ruby
  tstr = ((yield :title) || '').gsub("\n",'')
  title = tstr.blank? ? 'SHCMRS' : "#{tstr} - SHCMRS"

!!! 5
%html{:lang=>'zh'}
  %head
    %meta{:charset=>'utf-8'}
    %title= title
    = csrf_meta_tags
    = stylesheet_link_tag 'application'

  %body.echo.gray
    - if logged_in? && (current_user.is_teacher? || current_user.is_student?)
      .page-sider
        - if logged_in?
          .current-user
            .name>
              %span> 你好，
              %span>= user_link current_user
            .avatar= avatar_link current_user, :medium
          .links
            %a.link.media-resources{:href=>'/file'} 我的文件夹
            %a.link.received-shares{:href=>'/media_shares'} 收到的共享
            %a.link.public-resources{:href=>'/public_resources'} 公共资源库
          .links
            - if current_user.is_teacher?
              %a.link.home-works{:href=> homeworks_path} 我布置的作业
            - if current_user.is_student?
              %a.link.home-works{:href=> homeworks_path} 我的作业
            %a.link.courses{:href=>'/courses'} 课表
            %a.link.short-messages{:href=>inbox_short_messages_path} 站内信
            %a.link.notifications{:href=>notifications_path} 通知

      .page-topbar
        .page-breadcrumb
          = yield :breadcrumb
        = yield :topbar
        %a.logout{:href=>'/auth/logout'} 退出登录

      .page-content
        = yield

      = render 'layouts/parts/current_user_js_info'

    - if logged_in?
      :javascript
        window.USER_INFO = {
          id : #{current_user.id},
          name : #{current_user.name.to_json},
          email : #{current_user.email.to_json},
          channels : {
            comment : #{current_user.comment_tip_message.hash_name.to_json},
            media_share : #{current_user.media_share_tip_message.hash_name.to_json},
            share_rate : #{current_user.share_rate_tip_message.hash_name.to_json}
          },
          paths : {
            comment : #{current_user.comment_tip_message.path.to_json},
            media_share : #{current_user.media_share_tip_message.path.to_json},
            share_rate : #{current_user.share_rate_tip_message.path.to_json}
          }
        }

      = javascript_include_tag "http://#{request.host}/juggernaut/application.js"
      = javascript_include_tag 'application'
      = yield :javascript

    - else
      .page-sider
      .page-topbar
        %a.logout{:href=>'/auth/logout'} 退出登录
      .page-content
        .invalid-role 你的用户信息不完整，你不是一个老师或者学生。不能使用这个系统。
        .invalid-role 请联系管理员帮忙解决
 
