:ruby
  tstr = ((yield :title) || '').gsub("\n",'')
  title = tstr.blank? ? 'SHCMRS' : "#{tstr} - SHCMRS"

!!! 5
%html{:lang=>'zh'}
  %head
    %meta{:charset=>'utf-8'}
    %title= title
    = csrf_meta_tags
    = stylesheet_link_tag 'application'

  %body.echo.gray
    .page-sider
      - if logged_in?
        .current-user
          .name>
            %span> 你好，
            %span>= user_link current_user
          .avatar= avatar_link current_user, :medium
        .links
          %a.link.media-resources{:href=>'/file'} 我的文件夹
          %a.link.received-shares{:href=>'/media_shares/mine'} 收到的共享
          %a.link.public-resources{:href=>'/public_resources'} 公共资源库
        .links
          %a.link.courses{:href=>'/courses'} 课表
          %a.link.short-messages{:href=>inbox_short_messages_path} 站内信
          %a.link.notifications{:href=>notifications_path} 通知

    .page-topbar
      .page-breadcrumb
        = yield :breadcrumb
      = yield :topbar

    .page-content
      = yield

    = render 'layouts/parts/current_user_js_info'

    = javascript_include_tag '/juggernaut/application.js'
    = javascript_include_tag 'application'
    = yield :javascript