- hgoback '/'
- hbreadcrumb '首页', '/'
- hbreadcrumb '在线问答'
- hbreadcrumb '我提出的问题'

.page-model-show
  .page-question-list
    .head
      - creator = current_user
      .avatar= avatar creator
      .name= creator.real_name
      .desc= @str

    - @questions.each do |question|
      .question
        .avatar= avatar question.creator, :tiny
        .data
          .title
            %span.c>= user_link(question.creator)
            %span> ：
            %span.q>= link_to question.title, question.link
          .date= question.created_at
