.page-media-resources
  - if resources.blank?
    .media-resource-blank.quiet
      这个目录下没有资源

  - resources.each do |resource|
    :ruby
      cover_src = media_resource_cover_src(resource)
      title = truncate_u(resource.name, 10)
      creator_name = resource.creator.name
      creator_avatar_src = resource.creator.logo.url
      uploaded_at = resource.created_at
      is_dir = resource.is_dir?
      resource_url = File.join('/file', resource.path)
      show_url = File.join('/file_show', resource.path)

      share_url = "/media_shares/new?resource_path=/file#{resource.path}"

    .media-resource{:href=>'javascript:;', |
      :'data-id' => resource.id, |
      :'data-resource-url' => resource_url, |
      :'data-title' => title, |
      :'data-uploaded-at' => uploaded_at, |
      :'data-creator-name' => creator_name, |
      :'data-creator-avatar-src' => creator_avatar_src, |
      :'data-is-dir' => is_dir.to_s }
      .meta-box
        .cover{:'data-src'=>cover_src}
        .detail
          .ftime= jtime uploaded_at
          
          - if is_dir
            .link.open= link_to '打开文件夹', resource_url
          - else
            .link.open= link_to '打开查看', show_url
            .link.open= link_to '下载资源', resource_url

          .link.share= link_to '共享给他人', share_url
          .link.delete= link_to '删除资源', 'javascript:;'
          .link.move-dir= jfbox_link :move_dir, '移动目录'

        .title= title

:ruby
  dynatree_data = @current_dir.blank? ? MediaResource.root_dynatree(current_user) : @current_dir.preload_dynatree
  
= jfbox :move_dir, "移动目录" do
  .dynatree{:data=>{:children=>dynatree_data.to_json}}
  .submit-selected-dir= link_to "确定移动", "javascript:;"