.page-media-resources
  - if resources.blank?
    .media-resource-blank.quiet
      这个文件夹下没有资源

  - resources.each do |resource|
    :ruby
      cover_src = media_resource_cover_src(resource)
      title = resource.name
      uploaded_at = resource.created_at

      is_dir = resource.is_dir?

      if is_dir
        open_url = File.join('/file', resource.path)
      else
        open_url = File.join('/file_show', resource.path)
        download_url = media_resource_download_link(resource)
      end

      share_url = "/media_shares/new?resource_path=/file#{resource.path}"

      html_data = {
        :'id'     => resource.id,
        :'path'   => resource.path
      } 

    .media-resource{:href=>'javascript:;', :data=>html_data}
      .meta-box
        .cover{:'data-src'=>cover_src}
        .detail
          .ftime= jtime uploaded_at
          
          .link.share= link_to '共享给…', share_url
          .link.move-dir= jfbox_link :move_dir, '移动到…'

          - if !is_dir
            .link.download= link_to '下　载', download_url
          .link.delete= link_to '删　除', 'javascript:;'

        .title= link_to title, open_url

  
= jfbox :move_dir, '移动到文件夹' do
  :ruby
    is_root = @current_dir.blank?

    dynatree_data = is_root ? MediaResource.root_dynatree(current_user) : @current_dir.preload_dynatree
    current_dir_path = is_root ? '' : @current_dir.path

    html_data = {
      :children => dynatree_data.to_json,
      :current_dir => current_dir_path
    }

  .page-resource-tree
    .box
      .dynatree{:data=>html_data}
    .ops
      .submit-selected-dir= link_to '确定移动', 'javascript:;'
      %a.close-fbox{:href=>'javascript:;', :onclick=>"pie.close_fbox('move_dir')"} 关闭