= jsearchbar "/search"
.page-tabs
  =link_to "全部(#{@all_count})","/search?query=#{params[:query]}",:class=>"tab #{params[:kind].blank? ? "current" : ""}"
  =link_to "我的资源(#{media_resources_count})","/search/media_resource?query=#{params[:query]}",:class=>"tab #{params[:kind] == 'media_resource' ? "current" : ""}"
  =link_to "共享资源(#{media_shares_count})","/search/media_share?query=#{params[:query]}",:class=>"tab #{params[:kind] == 'media_share' ? "current" : ""}"
  =link_to "公开资源(#{public_resources_count})","/search/public_resource?query=#{params[:query]}",:class=>"tab #{params[:kind] == 'public_resource' ? "current" : ""}"