- htitle '班级维护'

- hgoback '/admin/teams'
- hbreadcrumb '首页', '/admin'
- hbreadcrumb '基础数据', '/admin'
- hbreadcrumb '班级维护', '/admin/teams'
- hbreadcrumb '批量导入班级数据'

.page-admin-form-info
  .desc 请先下载 CSV 示例文件，按照给定格式填充数据，然后上传导入
  %a.download{:href=>'/csv_demo/teams.csv'} 下载示例文件

.page-admin-form
  = flash_info
  = form_tag "/admin/teams/import_from_csv",:method=>:post,:multipart => true do
    .field
      %label 选择 CSV 文件
      = file_field_tag :csv_file
    .field
      = jfsubmit '确定导入'
      = jfcancel '取消'
    
    
