- htitle '班级维护'

- hbreadcrumb '基础数据管理', '/admin'
- hbreadcrumb '班级维护', '/admin/teams'
- hbreadcrumb '新增班级'

.page-admin-form
  = flash_info
  = form_for [:admin,@team] do |f|
    .field.need
      %label 班级名
      = f.text_field :name
    .field.need
      %label 班级编号
      = f.text_field :cid
    .field.submit
      = jfsubmit '确定'
      = jfcancel '取消'