- htitle '班级维护'

- hgoback admin_team_path(@team)
- hbreadcrumb '首页', '/admin'
- hbreadcrumb '基础数据', '/admin'
- hbreadcrumb '班级维护', '/admin/teams'
- hbreadcrumb @team.name, admin_team_path(@team)
- hbreadcrumb '分配学生'

- student_user_ids = @team.student_user_ids

.page-admin-students-selector

  = form_tag "/admin/teams/#{@team.id}/set_students", :method=>:put do |f|
    .list-selector
      .search
        .field
          %input.search{:type=>'text'}
        .desc
          小提示：可以输入中文或拼音来快速查找
      .filter
        %a.all.view{:href=>'javascript:;'} 全部
        %a.selected{:href=>'javascript:;'} 已选
        %a.unselected{:href=>'javascript:;'} 未选
      .selector
        .list
          - (Student.of_team(@team)+Student.no_team).each do |student|
            :ruby
              selected = student_user_ids.include?(student.user_id)

              klass = selected ? 'selected' : ''
              html_data = {
                :id => student.user_id,
                :name => student.real_name
              }

            .item{:class=>klass, :data=>html_data}
              .name= student.real_name
      - selected_ids_str = student_user_ids*','
      %input.ids{:name=>:student_user_ids, :type=>'hidden', :value=>selected_ids_str}

    .field.submit
      = jfsubmit '确定'
      = jfcancel '取消'