- htitle '班级维护'

- hbreadcrumb '基础数据管理', '/admin'
- hbreadcrumb '班级维护', '/admin/teams'
- hbreadcrumb @team.name

.page-admin-model-show
  .field.name
    %label 班级名
    .v= @team.name
  .field.cid
    %label 班级编号
    .v= @team.cid
  .field.teacher
    %label 教师
    - if @team.teacher_user.blank?
      .v.quiet 未指定
    - else
      .v= @team.teacher_user.teacher.real_name

- students = @team.students
.page-admin-model-show
  .field.students-count
    %label 班级学生名单
    .v 总共 #{students.count} 个学生
    .assign= link_to "给班级指定学生", "/admin/teams/#{@team.id}/select_students"

  - students.each do |student|
    .field.student
      .avatar= avatar student.user, :mini
      .name= student.real_name
      .show= link_to '查看信息', [:admin, student]

.page-admin-go-back= link_to '返回列表页', '/admin/teams'
.page-admin-edit= link_to '编辑修改', "/admin/teams/#{@team.id}/edit"