-#use 重新设置密码
-#see 重设密码邮件中的链接

-htitle "重新设置密码"

-pw_code = params[:pw_code]
-submit_url = "/account/reset_password_submit/#{pw_code}"
-forgot_url = "/account/forgot_password"

-found_user = !@user.blank?

= flash_info
-if found_user
  .title 为 #{@user.email} 重设密码
  .desc  请在下面
  %span.loud> 输入您的新密码并点击“确定”MINDPIN系统将根据您输入的新密码重新设置你的登录密码。
  = form_for @user,:url=>submit_url do |f|
    .field
      %label 新密码
      = f.password_field :password,:size=>25,:maxlength=>255,:class=>'text need j-tip'
    .field
      %label 确认新密码
      = f.password_field :password_confirmation,:size=>25,:maxlength=>255,:class=>'text need j-tip'
    .field
      = submit_tag "确定"

-else
  %span> 指定请求重设密码的链接无效
  .desc 如果您是由重设密码邮件包含的链接点击而来，可能该邮件包含的链接已经过期。        请尝试重新进行#{link_to '重设密码',forgot_url,:class=>'loud'}操作。

  = link_to '返回首页','/'
