- htitle '学生浏览'

- hgoback '/'
- hbreadcrumb '首页', '/'
- hbreadcrumb "学生浏览"


:ruby
  cols_hash = {
    :real_name => 2,
    :sid => 2,
    :username => 2,
    :email => 4
  }

.page-fixed-head
  - if current_user.is_teacher?
    = page_filters '/students' do |p|
      = p.filter '全部学生', :tab => 'all', :default => true
      = p.filter '我的学生', :tab => 'mine'

.page-list-head
  - if current_user.is_teacher? && params[:tab] == 'mine'
    = page_semester_filters '/students'

  .headtop
    = list_pagination(@students)

  = page_list_head :cols=>cols_hash do |p|
    = p.cell :real_name, '学生姓名', :sortable=>true
    = p.cell :sid, '学生编号', :sortable=>true
    = p.cell :username, '用户名'
    = p.cell :email, '用户邮箱'

= page_model_list @students, :cols=>cols_hash, :class=>'students' do |p|
  - student = p.model
  - user = student.user

  = p.cell :real_name do
    = avatar_link user, :tiny
    = user_link user
  = p.cell :sid, student.sid
  = p.cell :username, user.name
  = p.cell :email, user.email
