- hbreadcrumb '首页', '/'
- hbreadcrumb 'Java程序设计教学方案', '/homeworks'
- hbreadcrumb '面向对象程序设计', '/homeworks'
- hbreadcrumb '作业列表', '/homeworks'

:ruby
  homeworks = []
.page-model-show.chapter-homeworks
  .head
    .title= "面向对象程序设计"
    .describe= '详细介绍面向对象设计到得各种概念'

  .homeworks
    - homeworks.each do |homework|
      .homework
        .title= homework[0]
        .ct= homework[1]
      .require
        .count="#{homework[2]}项作业要求"
  = link_to "创建作业","/g2/show"