- @course_surveys.each do |course_survey|
  :ruby
    case course_survey.kind
    when '1'
      course_survey_records = course_survey.course_survey_records
    when '2'
      course_survey_records = course_survey.course_survey_es_records
    end
  .model.course_survey
    .tite= course_survey.title

    .ops
      - if current_user.has_surveyed?(course_survey)
        %a.detail{:href => "/course_survey_records/#{course_survey_records.with_student(current_user)[0].id}/edit?kind=#{course_survey.kind}"} 修改
      - else
        %a.detail{:href => "/course_surveys/#{course_survey.id}/course_survey_records/new?kind=#{course_survey.kind}"} 填写
