- hbreadcrumb '首页', '/'
- hbreadcrumb '课程调查'

.page-fixed-head
  .page-tabs
    :ruby
      klass1 = params[:kind].blank? ? 'current' : ''
      klass2 = params[:kind] == '1' ? 'current' : ''
      klass3 = params[:kind] == '2' ? 'current' : ''

    %a.tab{:href=>course_surveys_path, :class => klass1} 全部
    %a.tab{:href=>course_surveys_path(:kind => 1), :class => klass2} 调查1
    %a.tab{:href=>course_surveys_path(:kind => 2), :class => klass3} 调查2

:ruby
  cols_hash = {
    :title => 6,
    :semester_value => 2,
    :course => 2,
    :kind => 2,
    :count => 4
  }

.page-list-head
  .headtop
    = list_pagination(@course_surveys)

  = page_list_head :cols=>cols_hash do |p|
    = p.cell :title, '标题', :sortable => true
    = p.cell :semester_value, '学期', :sortable => true
    = p.cell :course, '课程'
    = p.cell :kind, '类型', :sortable => true
    = p.cell :count, '统计完/未统计完'

.page-model-list
  - if @course_surveys.blank?
    .blank
      目前列表内没有内容
  - else
    - @course_surveys.each do |survey|
      - path = list_resource_path_for(survey)
      = page_list_body :cols=>cols_hash do |p|
        = p.cell :title do
          = link_to hspan(survey.title), path
        = p.cell :semester_value do
          = survey.semester.to_s
        = p.cell :course do
          = survey.course.name
        = p.cell :kind do
          = survey.kind
        = p.cell :count do
          = survey.finished_ratio

        