- hgoback '/'
- hbreadcrumb '首页', '/'
- hbreadcrumb "课程调查"

.page-fixed-head
  = page_filters course_surveys_path do |p|
    = p.filter '全部', :tab => 0, :default => true
    = p.filter '调查1', :tab => 1
    = p.filter '调查2', :tab => 2

:ruby
  cols_hash = {
    :title => 6,
    :semester_value => 2,
    :course => 2,
    :kind => 2,
    :count => 4
  }

.page-list-head
  .headtop
    = list_pagination(@course_surveys)

  = page_list_head :cols=>cols_hash do |p|
    = p.cell :title, '标题', :sortable => true
    = p.cell :semester_value, '学期', :sortable => true
    = p.cell :course, '课程'
    = p.cell :kind, '类型', :sortable => true
    = p.cell :count, '统计完/未统计完'


= page_model_list @course_surveys, :cols=>cols_hash, :class=>'course-surveys' do |p|
  - survey = p.model
  - path = list_resource_path_for(survey)
  
  = p.cell :title do
    = link_to hspan(survey.title), path
  = p.cell :semester_value do
    = survey.semester.to_s
  = p.cell :course do
    = survey.course.name
  = p.cell :kind do
    = survey.kind
  = p.cell :count do
    = survey.finished_ratio

        