.info{:style=>'float:right;width:240px;'}
  .description-action
    :ruby
      url = File.join('/file', media_resource.path)
      time = media_resource.fileops_time.localtime
      share_url = "/media_shares/new?resource_path=/file#{media_resource.path}"
      edit_tag_url = File.join("/file_attr", media_resource.path,"edit_tag")
    = link_to media_resource.name, url, :class=>'link'
    = link_to '删除', url, :method=>'delete', :confirm=>'确定吗？', :class=>'delete'
    = link_to '共享给其他人', share_url, :class=>'share'
    = link_to '编辑标签', edit_tag_url, :class=>"edit_tag"
    - if !media_resource.is_public?
      %a.put-public{:href=>'javascript:;', 'data-id' => media_resource.id} 添加到公共资源库
    - else
      .is-public 已经添加到公共资源
    |
    - media_resource.tag_list.each do |tag_name|
      = link_to tag_name, "/tags/#{tag_name}"

    .time.quiet=time
    .size.quiet=media_resource_size_str(media_resource)

.cover
  -if media_resource.file_entity.is_video? && media_resource.file_entity.video_encode_status?
    =video_tag media_resource.file_entity
  -elsif media_resource.file_entity.is_audio? && media_resource.file_entity.merged?
    %embed{:src=>media_resource.file_entity.attach.url, :width=>'640px', :height=>'400px'}
  -elsif media_resource.file_entity.is_image?
    %img{:src=>media_resource.file_entity.attach.url, :width=>'640px', :height=>'400px'}

  -if media_resource.file_entity.is_video? && media_resource.file_entity.video_encode_status?
    .screenshots
      -1.upto 6 do |i|
        -arr = media_resource.file_entity.attach.url.split('original')
        -arr.pop
        -src = arr.push("/screenshot_#{i}.jpg").join('original')
        %img{:src=>src}
