- require 'demo_resources'
- @media_resource = DemoResources[0]

- hbreadcrumb '首页', '/'
- hbreadcrumb '我的文件夹', '/file'
- hbreadcrumb '查看资源详情'

:ruby
  creator = User.find_by_name('zhugeliang')
  resource_name = truncate_u @media_resource.name, 16
  created_at = @media_resource.created_at

.page-media-resource
  .head
    .avatar= avatar creator
    .resource-name= resource_name
    .user #{user_link creator} 上传，#{jtime created_at}
    .course-ware{:style => 'font-size:32px;font-weight:heavy;'} 课件

  = jimage '/assets/demo_ppt/page1.png', :width=>640, :height=>400
  .teaching-plan
    关联到
    = link_to 'Java程序设计 / 教学方案一 / 第三章节', 'javascript:;'
  = render 'media_resources/parts/resource_share_state', :resource=>MediaResource.first

= jcomments MediaResource.first
