- hbreadcrumb '首页', '/'
- hbreadcrumb '我的文件夹'

- content_for :topbar do
  = jsearchbar '/file_search'

.page-media-resource-fixed
  .page-media-resource-head
    %a.create-folder-button{:href=>'javascript:;'} 新建文件夹
    %a.upload-file-button{:href=>'javascript:;'} 上传文件

    .create-folder-box{:style=>'display:none;', :'data-default-name'=>'新建文件夹'}
      .form-title 新建文件夹
      = form_tag '/file/create_folder', :method => 'post' do
        = hidden_field_tag :current_path, @current_dir.blank? ? '/' : @current_dir.path
        .field.need
          %label 文件夹：
          = text_field_tag :folder
        .field.submit
          %a.form-submit-button.stop{:href=>'javascript:;'} 确定
          %a.form-cancel-button{:href=>'javascript:;'} 取消

  .page-media-resource-nav
    .go-parent-dir
      - if @current_dir.blank?
        %span.quiet 上一级
      - else
        :ruby
          url = @current_dir.dir.blank? ? '/file' : File.join('/file', @current_dir.dir.path)
        %a{:href => url} 上一级

    .navs
      %span= link_to '根目录', '/file'
      - media_resource_navs_dirs(@current_dir).each do |dir|
        %span= link_to dir.name, File.join('/file', dir.path)

= render 'media_resources/parts/resources', :resources=>@media_resources


.page-media-resource-show-wrapper{:style=>'display:none;'}
  .box
    .header
      .hbox
        .avatar
        .title
        .meta
          %span.creator-name
          %span 上传于
          %span.uploaded-at

      %a.close{:href=>'javascript:;'}
    .bd
      .cover


.upload-box
  = render :template => 'slice_temp_files/new_upload_page'
