- hbreadcrumb '首页', '/'
- hbreadcrumb '作业/艺术实践'

.page-fixed-head
  = page_buttons do |p|
    - if current_user.is_teacher?
      = p.button '布置新作业/艺术实践', new_homework_path, :class => 'create'

  = page_filters homeworks_path do |p|
    = p.filter '全部', :tab => 'all', :default => true
    = p.filter '未过期', :tab => 'unexpired'
    = p.filter '已过期', :tab => 'expired'

:ruby
  cols_hash = {
    :title => 6,
    :deadline => 3,
    :attach => 1,
    :course => 4,
    :kind => 2,
    :count => 4    
  }

.page-list-head
  .headtop
    - if current_user.is_teacher?
      = page_buttons do |p|
        = p.batch_destroy Homework

    = list_pagination(@homeworks)

  = page_list_head :cols=>cols_hash do |p|
    - if current_user.is_teacher?
      = p.checkbox
    = p.cell :title, '标题', :sortable => true
    = p.cell :deadline, '截止时间', :sortable => true
    = p.cell :attach, '附件'
    = p.cell :course, '所属课程'
    = p.cell :kind, '类别', :sortable => true
    = p.cell :count, '已分配/已提交'

.page-model-list
  - if @homeworks.blank?
    .blank
      目前列表内没有内容
  - else
    - @homeworks.each do |homework|
      :ruby
        course = homework.course
      = page_list_body :cols=>cols_hash do |p|      
        - if current_user.is_teacher?
          = p.checkbox(homework)
        = p.cell :title do
          = link_to hspan(homework.title), homework
        = p.cell :deadline do
          = jtimeformat homework.deadline
        = p.cell :attach do
          = homework.homework_teacher_attachments.count
        = p.cell :course do
          = link_to hspan(course.name), course
        = p.cell :kind do
          = homework.kind_str
        = p.cell :count do
          #{homework.assignees.count}/#{homework.submitted_students.count}
