- hbreadcrumb '首页', '/'
- hbreadcrumb '作业/艺术实践'

.page-homeworks-head
  .btns
    .page-tabs
      :ruby
        klass1 = params[:status].blank? ? 'current' : ''
        klass2 = params[:status] == 'unexpired' ? 'current' : ''
        klass3 = params[:status] == 'expired' ? 'current' : ''

      %a.tab{:href=>homeworks_path, :class=>klass1} 全部
      %a.tab{:href=>homeworks_path(:status => 'unexpired'), :class=>klass2} 未过期
      %a.tab{:href=>homeworks_path(:status => 'expired'), :class=>klass3} 已过期

    - if current_user.is_teacher?
      %a.new-homework{:href=>new_homework_path} 布置新作业/艺术实践

  = table_pagination(@homeworks)

  .cells
    .cell.title= sortable 'title', '标题'
    .cell.deadline= sortable 'deadline', '截止时间'
    .cell.attach 附件
    .cell.course 所属课程
    .cell.kind= sortable 'kind', '类别'
    .cell.count 已分配/已提交

.page-homeworks
  - if @homeworks.blank?
    .blank
      目前列表内没有内容
  - else
    - @homeworks.each do |homework|
      :ruby
        course = homework.course
      .homework
        .cell.title
          = link_to hspan(homework.title), homework
        .cell.deadline
          = jtimeformat homework.deadline
        .cell.attach
          = homework.homework_teacher_attachments.count
        .cell.course
          = link_to hspan(course.name), course
        .cell.kind
          = homework.kind_str
        .cell.count
          #{homework.assignees.count}/#{homework.submitted_students.count}

    = table_pagination(@homeworks)