- hbreadcrumb '首页', '/'
- hbreadcrumb '作业'

.page-homeworks-head
  .tab
    %a.item.unexpired{:href=>homeworks_path(:status => 'unexpired')} 未过期的作业
    %a.item.expired{:href=>homeworks_path(:status => 'expired')} 已过期的作业
    - if current_user.is_teacher?
      %a.new-homework{:href=>new_homework_path} 布置新作业

  .cells
    .cell.title 标题
    .cell.deadline 截止时间
    .cell.attach 附件
    .cell.course 所属课程
    .cell.count 已分配/已提交

.page-homeworks
  - @homeworks.each do |homework|
    :ruby
      course = homework.course
    .homework
      .cell.title
        = link_to hspan(homework.title), homework
      .cell.deadline
        = jtimeformat homework.deadline
      .cell.attach
        = homework.homework_teacher_attachments.count
      .cell.course
        = link_to hspan(course.name), course
      .cell.count
        #{homework.assignees.count}/#{homework.submitted_students.count}