%p= link_to '作业列表', homeworks_path

.page-new
  = flash.now[:error]

= form_for @homework, :url => { :action => "create" }, :html => {:class => "assign_form", :multipart => true} do |f|
  = flash_info
  .field
    %label 作业标题
    = f.text_field :title
  
  .field
    %label 作业内容
    = f.text_area :content, :size => "60x12"
  
  .field
    = f.select :course_id, @courses.collect {|item| [item.name, item.id]}, {}, {:class => 'courses-selector'}
  
  .field.placeholder
    %label 请选择日期
    = f.text_field :deadline, :class => 'auto-kal'
  
  .field  
    //%a#show-students{:href => "javascript:void(0);"} +
    = select_tag :teams, options_from_collection_for_select(@teams, :id, :name), :multiple => true, :class => 'students-selector', :style => 'width:640px;', :data => {:placeholder => '请选择要布置作业的班级'}
  
  %p 
    老师作业附件
    #teacher-attachements{:style => "display: none;"}
    %a#add-teacher-attachement-field{:href => "javascript:"} 添加+
    #dropbox
    %div{:id => "teacher-attachement-fields"}
      %input.multiple{:multiple => "", :type => "file", :name => "homework_teacher_attachement[attachement]"}/
    
  %div
    学生作业提交物
    %a.add-student-attachement-field{:href => "javascript:;"} 添加+
    
    %div{:id => "student-attachement-fields"}
      %p
        %input{:type=>'text', :size=>30, :name=>'homework[homework_student_upload_requirements_attributes][][title]'}
        %a.delete{:href => "javascript:void(0);"} x
      %p
        %input{:type=>'text', :size=>30, :name=>'homework[homework_student_upload_requirements_attributes][][title]'}
        %a.delete{:href => "javascript:void(0);"} x
    
  = f.submit "布置作业"
  


     
