- htitle "作业/艺术实践 - #{@homework.title}"

- hgoback '/homeworks'
- hbreadcrumb '首页', '/'
- hbreadcrumb '作业/艺术实践', '/homeworks'
- hbreadcrumb @homework.title

:ruby
  attachments = @homework.homework_teacher_attachments

.page-model-show
  = page_field :'base-info', :title => '作业信息' do
    .head
      .title= @homework.title
      .user #{user_link @homework.creator} 创建，#{jtime @homework.created_at}

  = page_field :requirements, :title => '作业要求' do
    .ct= sanitize @homework.content

  = page_field :deadline, :title => '作业过期时间' do
    .time= jtimeformat @homework.deadline
    .state= Time.now < @homework.deadline ? '未过期' : '已过期'

  - if !attachments.blank?
    = page_field :attachements, :title => '作业参考附件' do
      .list
        - attachments.each do |attachment|
          .file
            .cover
              .name= link_to attachment.name, 'javascript:;'
      .zip
        %a.down{:href=>"/homeworks/#{@homework.id}/download_teacher_zip"} 打包下载附件

  - if current_user.is_student?
    = page_field :'homework-student-info', :title => '作业完成情况' do
      = render '/homeworks/parts/show_student_info', :homework => @homework

  - if current_user.is_teacher?
    = page_field :'page-homework-students-list', :title => '学生作业完成情况' do
      = render '/homeworks/parts/show_teacher_info', :homework => @homework

  - if current_user.is_student?
    = page_field :comments, :title => '发表评论' do
      = jcomments @homework.assign_record_of(current_user)