- hbreadcrumb '首页', '/'
- hbreadcrumb '作业/艺术实践', '/homeworks'
- hbreadcrumb @homework.title

:ruby
  attachments = @homework.homework_teacher_attachments

.page-homework-show
  .common-info
    .head
      .title= @homework.title
      .user #{user_link @homework.creator} 创建，#{jtime @homework.created_at}

    .content
      .title #{@homework.kind_str}要求
      //.ct= jct @homework.content
      .ct= sanitize @homework.content

    .deadline
      .title 过期时间
      .time= jtimeformat @homework.deadline
      .state
        = Time.now < @homework.deadline ? '未过期' : '已过期'

    - if !attachments.blank?
      .attachments
        .title #{@homework.kind_str}参考附件
        .list
          - attachments.each do |attachment|
            .file
              .cover
              .name= link_to attachment.name, 'javascript:;'
        .zip
          %a.down{:href=>"/homeworks/#{@homework.id}/download_teacher_zip"} 打包下载附件

  - if current_user.is_student?
    = render '/homeworks/parts/show_student_info', :homework => @homework

  - if current_user.is_teacher?
    = render '/homeworks/parts/show_teacher_info', :homework => @homework


- if current_user.is_student?
  = jcomments @homework.assign_record_of(current_user)