:ruby
  # 学生应该提交的附件数量
  student_attachments_count = @homework.homework_student_upload_requirements.count
  
  # 学生已经提交的附件数量
  uploaded_count = @student.uploaded_count_of_homework(@homework)
  
  
%h1 学生:#{@student.student.real_name} 作业:#{@homework.title} 完成情况

%div 作业内容
%p= @homework.content

%p
  = uploaded_count.to_s + "/" + student_attachments_count.to_s
  - if uploaded_count == student_attachments_count
    %span 完成
  - else
    %span 未完成
    
%div
  提交物情况
  - @homework.homework_student_upload_requirements.each do |attachment|
    %p
      = attachment.title
      - if @student.is_upload_homework_attachment?(attachment)
        - current_upload = attachment.upload_of_user(@student)
        %span 已提交
        %a{:href => "#{current_upload.file_entity.attach.url}"} 下载
      - else
        %span 未提交
        
- if current_user

%p
  %a{:href => ""} 以zip下载
