:ruby
  # 学生应该提交的附件数量
  student_attachments_count = @homework.homework_student_upload_requirements.count
  
  # 学生已经提交的附件数量
  uploaded_count = @student.uploaded_count_of_homework(@homework)
  
  
%h1 学生:#{@student.student.real_name} 作业:#{@homework.title} 完成情况

= link_to '返回作业描述页面', @homework

%div 作业内容
%p= @homework.content

.student-home-work-status
  = uploaded_count.to_s + "/" + student_attachments_count.to_s
  - if uploaded_count == student_attachments_count
    %span 完成
    %span.signed{:class => @homework.has_finished_for?(@student.student) ? '' : 'hide'} 已签收
  - else
    %span 未完成
    
%div
  提交物情况
  - @homework.homework_student_upload_requirements.each do |attachment|
    %p
      = attachment.title
      - if @student.is_uploaded_for_requirement?(attachment)
        - current_upload = attachment.upload_of_user(@student)
        %span 已提交
        %a{:href => "#{current_upload.file_entity.attach.url}"} 下载
      - else
        %span 未提交

%p
  %a{:href => "/homeworks/#{@homework.id}/student/#{@student.id}/download_student_zip"} zip包下载

- unless @homework.has_finished_for?(@student.student)
  .set-finished
    %h3 验收作业
    = link_to '标记为已验收', 'javascript:;', :data => {:url => "/homeworks/#{@homework.id}/student/#{@student.id}/set_finished"}
