:ruby
  teaching_plan = DemoModel::TEACHING_PLAN_1
  teaching_plan_title = teaching_plan.title
  chapter = teaching_plan.chapters[0]
  chapter_title = chapter.title
  homework = chapter.homeworks[0]

  homework_title = homework.title
  homework_content = homework.desc
  homework_creator = homework.creator
  homework_deadline = homework.deadline
  homework_created_at = homework.created_at
  attachments = homework.attachments
  requirements = homework.requirements
  student_users = homework.student_users

- htitle "作业 - #{homework_title}"

- hgoback '/homeworks'
- hbreadcrumb '首页', '/'
- hbreadcrumb '作业', '/homeworks'
- hbreadcrumb teaching_plan_title, '/homeworks'
- hbreadcrumb chapter_title, '/homeworks'
- hbreadcrumb homework_title

.page-model-show.homework
  = page_field :'base-info', :title => '作业信息' do
    .head
      .title= homework_title
      .user #{user_link homework_creator} 创建，#{jtime homework_created_at}

      .ops
        = link_to "查看时间线", "/homeworks?demo=timeline", :class=>'timeline'
        = link_to "预览", "/i1", :class=>'preview'

  = page_field :content, :title => '作业说明' do
    .ct= sanitize homework_content

  = page_field :deadline, :title => '作业过期时间' do
    .time= jtimeformat homework_deadline
    .state= Time.now < homework_deadline ? '未过期' : '已过期'

  - if !attachments.blank?
    = page_field :attachments, :title => '作业参考附件' do
      .list
        - attachments.each do |attachment|
          .file
            .cover
              .name= link_to attachment, 'javascript:;'
      .zip
        %a.down{:href=>"#"} 下载所有附件

  = page_field :requirements, :title => '作业要求' do
    - requirements.each do |requirement|
      .ct= requirement

  = page_field :'page-homework-students-list', :title => '学生作业完成情况' do
    .students-list
      - student_users.each do |user|
        :ruby
          submitted = false
          finished = false

        .student
          .cell.avatar= avatar user, :mini
          .cell.name= link_to user.real_name, "javascript:;"

          .cell.progress
            - count = rand(4)
            - p = ((count / 3.0) * 10000.0).round / 100.0 

            - 3.times do |i|
              .blo{:class=>count >= i ? 'done' : ''}

          .cell.perc #{p}%

          .cell.submitted
            %span= submitted ? '已完成' : '未完成'

          .cell.finished
            %span= finished ? '已确认' : '未确认'
