!!! 5
%html{:lang=>'zh'}
  %head
    %meta{:charset=>'utf-8'}
    %title 启动项管理
    = csrf_meta_tags
    = stylesheet_link_tag 'application'
    = yield :css
    = yield :head

  %body.echo
    .page-header
      .title
        %span 启动项管理控制台
    .page-content
      = yield
    .page-footer
      &copy;2012 MINDPIN.

    = javascript_include_tag 'application'
    = yield :javascript