- htitle '文档目录'

- hgoback '/admin/upload_document_dirs'
- hbreadcrumb '首页', '/admin'
- hbreadcrumb '文档目录', '/admin/upload_document_dirs'


.page-admin-form
  = flash_info
  = form_for [:admin, @upload_document] do |t|
    .field
      %label 标题
      = t.text_field :title
 
    .field
      %label 内容
      = t.hidden_field :dir_id, :value => @dir_id
      = t.hidden_field :kind, :value => 'TEXT'
      = t.text_area :content, :value => '', :class => 'kind-editor'



    .field.submit
      = jfsubmit '确定'
      = jfcancel '取消'
