- htitle '文档目录'

- hgoback '/admin/upload_document_dirs'
- hbreadcrumb '首页', '/admin'
- hbreadcrumb '文档目录', '/admin/upload_document_dirs'

.page-model-form
  = flash_info
  = form_for [:admin, UploadDocument.new] do |t|
    = t.hidden_field :dir_id, :value => @dir_id
    = t.hidden_field :kind, :value => 'TEXT'

    .field
      %label 标题
      = t.text_field :title
 
    .field
      %label 内容
      = t.text_area :content, :class => 'kind-editor'

    .field.submit
      = jfsubmit '确定'
      = jfcancel '取消'
