- htitle '我收到的评论'

- hbreadcrumb '首页', '/'
- hbreadcrumb '收到的评论', '/comments/received'

:ruby
  cols_hash = {
    :real_name => 2,
    :created_at => 2,
    :title => 8,
    :source => 2
  }


.page-fixed-head


.page-list-head
  .headtop
    = list_pagination(@comments)

  = page_list_head :cols=>cols_hash do |p|
    = p.cell :real_name, '评论用户'
    = p.cell :created_at, '时间'
    = p.cell :title, '内容'
    = p.cell :source, '评论来源'

.page-model-list.admin-comments
  - if @comments.blank?
    .blank
      = @error_message ? @error_message : '目前列表内没有内容'
  - else
    - @comments.each do |comment|
      = page_list_body :cols=>cols_hash do |p|
        = p.cell :real_name do
          %a.edit{:href=>"/users/#{comment.creator.id}"}= comment.creator.real_name
        = p.cell :created_at, jtime(comment.created_at)
        = p.cell :title, comment.content
        = p.cell :source do
          %a.edit{:href=> "/homework_assigns/#{comment.model.id}"} 查看
