- hbreadcrumb '首页', '/'
- hbreadcrumb '我收到的共享'

- content_for :topbar do
  = jsearchbar '/media_shares/search'

.page-media-resource-fixed
  = render 'media_shares/parts/nav'

.page-media-share-users
  - if @shared_users.blank?
    .media-resource-blank.quiet
      没有收到任何共享

  - @shared_users.each do |user|
    .user
      .avatar= avatar user, :tiny
      .name= link_to user.name, "/media_shares/users/#{user.id}"
