- hbreadcrumb '首页', '/'
- hbreadcrumb '我收到的共享'

- content_for :topbar do
  = jsearchbar '/media_shares/search'

= render 'media_shares/parts/nav'
= render 'media_shares/parts/file_list', :resources => @received_resources

.media-share-shared-user
  - @shared_users.each do |shared|
    .shared-user
      = link_to shared.creator.name, "/media_shares/shared_by/#{shared.creator.id}"
      %span 共享了 #{current_user.shared_res_count(shared.creator)} 个资源