- hbreadcrumb '首页', '/'
- hbreadcrumb '我的文件夹', '/file'
- hbreadcrumb '共享文件'

:ruby
  path = @media_resource.path

  dir_path = @media_resource.dir.blank? ? '/file' : "/file#{@media_resource.dir.path}"

  form_action = "/media_shares?resource_path=#{path}"

.page-media-resource-fixed
  .page-media-resource-nav
    .go-parent-dir
      %a{:href=>dir_path} 返回文件夹
    .navs
      %span 共享 #{path} 给其他人

.page-media-share-form
  = form_tag form_action, :method=>:post do
    = render 'aj/user_selector', :users=>@users, :selected_users=>@shared_receivers, :name=>'user_ids'

    .field.course
      %label 我的课程
      .courses
        - current_user.courses.each do |course|
          .course
            = jcheckbox 'receivers[courses][]', course.id, false, course.name

    .field.team
      %label 我的班级
      .teams
        - current_user.teams.each do |team|
          .team
            = jcheckbox 'receivers[teams][]', team.id, false, team.name

    .field.submit
      = jfsubmit '确定'
      = jfcancel '取消'