- hbreadcrumb '首页', '/'
- hbreadcrumb '我的文件夹', '/file'
- hbreadcrumb '共享文件'

:ruby
  path = @media_resource.path

  dir_path = @media_resource.dir.blank? ? '/file' : "/file#{@media_resource.dir.path}"

  form_action = "/media_shares?resource_path=#{path}"

= page_top_fixed 'page-media-resources-head' do
  .page-media-resource-nav
    .go-parent-dir
      %a{:href=>dir_path} 返回文件夹
    .navs
      %span 共享 #{path} 给其他人

.page-model-show
  = form_tag form_action, :method=>:post do
    .field.page-float-box-list-selector.course_teachers.media-share
      %div 选择要发送的课程
      = jfbox_link :course_teachers, "已选择了#{@shared_course_teacher_ids.length}个"
      = jfbox :course_teachers, '选择要发送的课程', :height=>600 do
        .list-selector
          .search
            .field
              %input.search{:type=>'text'}
            .desc
              小提示：可以输入中文或拼音来快速查找
          .filter
            %a.all.view{:href=>'javascript:;'} 全部
            %a.selected{:href=>'javascript:;'} 已选
            %a.unselected{:href=>'javascript:;'} 未选
          .selector
            .list
              - @scope_course_teachers.each do |course_teacher|
                :ruby
                  selected = @shared_course_teacher_ids.include?(course_teacher.id)
                  klass = selected ? 'selected' : ''

                  html_data = {
                    :id => course_teacher.id,
                    :name => course_teacher.course.name
                  }

                .item{:data=>html_data,:class=>klass}
                  .name= course_teacher.course.name
          %input.ids{:name=>:course_teacher_ids, :type=>'hidden', :value=>@shared_course_teacher_ids*','}
          %a.submit-fbox{:href=>'javascript:;'} 确定
          %a.close-fbox{:href=>'javascript:;'} 取消

    .field.page-float-box-list-selector.student_users.media-share
      %div 选择要发送的学生
      = jfbox_link :student_users, "已选择了#{@shared_student_user_ids.length}个"
      = jfbox :student_users, '选择发送的学生', :height=>600 do
        .list-selector
          .search
            .field
              %input.search{:type=>'text'}
            .desc
              小提示：可以输入中文或拼音来快速查找
          .filter
            %a.all.view{:href=>'javascript:;'} 全部
            %a.selected{:href=>'javascript:;'} 已选
            %a.unselected{:href=>'javascript:;'} 未选
          .selector
            .list
              - @student_users.each do |user|

                :ruby
                  selected = @shared_student_user_ids.include?(user.id)
                  klass = selected ? 'selected' : ''

                  html_data = {
                    :id => user.id,
                    :name => user.real_name
                  }

                .item{:data=>html_data,:class=>klass}
                  .name= user.real_name
          %input.ids{:name=>:student_user_ids, :type=>'hidden', :value=>@shared_student_user_ids*','}
          %a.submit-fbox{:href=>'javascript:;'} 确定
          %a.close-fbox{:href=>'javascript:;'} 取消

    .field.page-float-box-list-selector.teacher_users.media-share
      %div 选择要发送的老师
      = jfbox_link :teacher_users, "已选择了#{@shared_teacher_user_ids.length}个"
      = jfbox :teacher_users, '选择发送的老师', :height=>600 do
        .list-selector
          .search
            .field
              %input.search{:type=>'text'}
            .desc
              小提示：可以输入中文或拼音来快速查找
          .filter
            %a.all.view{:href=>'javascript:;'} 全部
            %a.selected{:href=>'javascript:;'} 已选
            %a.unselected{:href=>'javascript:;'} 未选
          .selector
            .list
              - @teacher_users.each do |user|

                :ruby
                  selected = @shared_teacher_user_ids.include?(user.id)
                  klass = selected ? 'selected' : ''

                  html_data = {
                    :id => user.id,
                    :name => user.real_name
                  }

                .item{:data=>html_data,:class=>klass}
                  .name= user.real_name
          %input.ids{:name=>:teacher_user_ids, :type=>'hidden', :value=>@shared_teacher_user_ids*','}
          %a.submit-fbox{:href=>'javascript:;'} 确定
          %a.close-fbox{:href=>'javascript:;'} 取消

    .field.submit
      = jfsubmit '确定'
      = jfcancel '取消'