- hgoback '/'
- hbreadcrumb '首页', '/'
- hbreadcrumb "成绩单"


.page-fixed-head
  = page_buttons do |p|
    = p.button '添加课程成绩单', new_score_list_path, :class => 'create'

  = page_semester_filters score_lists_path

:ruby
  cols_hash = {
    :title => 8,
    :semester_value => 2,
    :course => 2,
    :count => 4
  }

.page-list-head
  .headtop
    = page_buttons do |p|
      = p.batch_destroy CourseScoreList

    = list_pagination(@score_lists)

  = page_list_head :cols=>cols_hash do |p|
    - if current_user.is_teacher?
      = p.checkbox
    = p.cell :title, '标题', :sortable => true
    = p.cell :semester_value, '学期', :sortable => true
    = p.cell :course, '课程'
    = p.cell :count, '统计完/未统计完'

= page_model_list @score_lists, :cols=>cols_hash, :class=>'score-lists' do |p|
  - score_list = p.model

  = p.checkbox(score_list)
  = p.cell :title do
    = link_to hspan(score_list.title), score_list_path(score_list)
  = p.cell :semester_value do
    = score_list.semester.to_s
  = p.cell :course do
    = hspan(score_list.course.name)
  = p.cell :count do
    = score_list.finished_ratio
