
- hgoback '/'
- hbreadcrumb '首页', '/'
- hbreadcrumb "成绩单"

.page-unfixed-head

.page-model-show
  = page_field :'base-info', :title => "#{current_user.real_name}同学成绩信息" do
    你好，#{current_user.real_name}同学，以下是你入学以来的成绩信息

  = page_semester_filters "/score_lists/mine"

  = page_field :'score-list', :title => "#{get_semester.to_s}成绩单" do
    = render 'student_semester', :score_records => @score_records
