.page-media-resource-nav
  .go-parent-dir
    - case @prev
      - when nil
        %span.quiet 上一级
      - when :base
        %a{:href => '/media_shares'} 上一级
      - when User
        %a{:href => "/media_shares/users/#{params[:user_id]}"} 上一级
      - when MediaResource
        - url = File.join("/media_shares/users/#{params[:user_id]}", @prev.path)
        %a{:href => url} 上一级

  .navs
    %span= link_to '共享根目录', '/media_shares'
    - if !@sharer.blank?
      %span= link_to @sharer.name, "/media_shares/users/#{params[:user_id]}"
    - media_resource_navs_dirs(@current_dir).each do |dir|
      %span= link_to dir.name, File.join("/media_shares/users/#{params[:user_id]}", dir.path)