- hgoback '/'
- hbreadcrumb '首页', '/'
- hbreadcrumb "工作台 - #{current_user.real_name}"

:ruby
  course_time_expression = current_user.get_next_course_time_expression
  week_course_teachers = current_user.get_week_course_time_expressions_hash


.page-model-show
  .page-dashboard

    = page_field :'base-info', :title=>'基本信息' do
      .user-data
        .avatar= avatar current_user, :medium
        .data
          .name
            %span= current_user.real_name
            %span= current_user_title
          .id
            - if current_user.is_teacher?
              %span 工号：
              %span= current_user.teacher.tid
            - if current_user.is_student?
              %span 学号：
              %span= current_user.student.sid
      .course-data
        .today
          .day= Time.now.day
          .d
            .weekday= ['星期天','星期一','星期二','星期三','星期四','星期五','星期六'][Time.now.wday]
            .date #{Time.now.strftime('%m-%d')}，#{Semester.now.to_s}学期
          .icon

        - if !course_time_expression.blank?
          .next
            :ruby
              weekday = course_time_expression.weekday
              course_teacher = course_time_expression.course_teacher
              course = course_teacher.course
            .t 下一节课：
            .c
              %span.week>= change_to_weekday(weekday)
              %span> ，
              %span.time>= course_time_expression.class_time
              %span> ，
              %span.course>= link_to course.name, "/courses/#{course.id}"
            .icon
        - else
          .next
            .t 下一节课：
            .c
              %span.week
              %span
              %span.time
              %span
              %span.course 无
            .icon

    = page_field :'courses-info', :title=>'一周课程' do
      - week_course_teachers.each do |weekday, course_time_expressions|
        .weekday
          .t
            .w= change_to_weekday(weekday)
            .d= change_to_weekdate(weekday)
          - course_time_expressions.each do |course_time_expression|
            .course-time
              :ruby
                course_teacher = course_time_expression.course_teacher
                course = course_teacher.course
                students_count = course.get_students(:semester=>Semester.now, :teacher_user=>current_user).length
                location = course_teacher.location
                location = '地点待定' if location.blank?

              .time
                %span.start= course_time_expression.start_time_str
                %span -
                %span.end= course_time_expression.end_time_str
              .course>= link_to course.name, "/courses/#{course.id}"
              - if current_user.is_teacher?
                .students
                  %span.count>= students_count
                  %span 个学生
              - if current_user.is_student?
                .teacher
              
              .location>= location

      .see-curriculum
        .hours
          :ruby
            count = current_user.get_course_hours_count
            p = count*100/84.to_f
          .count
            %span 每周上课
            %span.c= count
            %span 课时

        %a.see{:href=>'/courses/curriculum'} 查看课程表

    = page_field :'homeworks-info', :title=>'作业和教学实践' do
      - get_dashboard_arr(current_user.homeworks).each do |homework|
        - if !homework.blank?
          .homework
            - course = homework.course
            - stat = "#{homework.submitted_students.count}/#{homework.assignees.count}"

            .title= link_to truncate_u(homework.title), homework
            .course= link_to course.name, course
            .stat= stat
        - else
          .homework.blank

    = page_field :'faq-info', :title=>'在线问答(Q&A)' do
      - get_dashboard_arr(Question.with_user(current_user)).each do |question|
        - if !question.blank?
          .question
            .title= link_to truncate_u(question.title), question
        - else
          .question.blank

    = page_field :'notices-info', :title=>'通知信息' do
      - get_dashboard_arr(current_user.received_announcements).each do |announcement|
        - if !announcement.blank?
          .notice
            = link_to truncate_u(announcement.title), announcement
        - else
          .notice.blank

    = page_field :'subscriptions-info', :title=>'订阅信息' do
      - get_dashboard_arr(current_user.subscribed_courses).each do |course|
        - if !course.blank?
          .subscription
            = link_to truncate_u(course.name), subscriptions_courses_path(:course_id => course.id)
        - else
          .subscription.blank