- hgoback '/'
- hbreadcrumb '首页', '/'
- hbreadcrumb "工作台 - #{current_user.real_name}"

:ruby
  map = current_user.course_time_expression_collection_map
  next_course_time_expression_collection = map.next_course_time_expression_collection

  next_course_time_expression_collections = map.next_course_time_expression_collections

  line_course_time_expression_collections = map.line_course_time_expression_collections


.page-model-show
  .page-dashboard

    = page_field :'base-info', :title=>'基本信息' do
      .user-data
        .avatar= avatar current_user, :medium
        .data
          .name
            %span= current_user.real_name
            %span= current_user_title
          .id
            - if current_user.is_teacher?
              %span 工号：
              %span= current_user.teacher.tid
            - if current_user.is_student?
              %span 学号：
              %span= current_user.student.sid
      .course-data
        .today
          .day= Time.now.day
          .d
            .weekday= ['星期天','星期一','星期二','星期三','星期四','星期五','星期六'][Time.now.wday]
            .date #{Time.now.strftime('%m-%d')}，#{Semester.now.to_s}学期
          .icon

        - if !next_course_time_expression_collection.blank?
          .next
            - if !next_course_time_expression_collection.conflict?
              :ruby
                course_time_expression = next_course_time_expression_collection.course_time_expression
                weekday = course_time_expression.weekday
                course_teacher = course_time_expression.course_teacher
                course = course_teacher.course
              .t 下一节课：
              .c
                %span.week>= change_to_weekday(weekday)
                %span> ，
                %span.time>= course_time_expression.class_time
                %span> ，
                %span.course>= link_to course.name, "/courses/#{course.id}"
              .icon
            - else
              - expressions = next_course_time_expression_collection.course_time_expressions
              - expressions.each do |expression|
                - course = expression.course_teacher.course
                %span.course>= link_to course.name, "/courses/#{course.id}"

        - else
          .next
            .t 下一节课：
            .c
              %span.week
              %span
              %span.time
              %span
              %span.course 无
            .icon

    = page_field :'courses-info', :title=>'一周课程' do
      - line_course_time_expression_collections.each do |array|
        - weekday = array[0]
        - course_time_expression_collections = array[1]
        .weekday
          .t
            .w= change_to_weekday(weekday)
            .d= change_to_weekdate(weekday)
          - course_time_expression_collections.each do |course_time_expression_collection|
            - if !course_time_expression_collection.conflict?
              .course-time
                :ruby
                  course_time_expression = course_time_expression_collection.course_time_expression
                  course_teacher = course_time_expression.course_teacher
                  course = course_teacher.course
                  students_count = course.get_students(:semester=>Semester.now, :teacher_user=>current_user).length
                  location = course_teacher.location
                  location = '地点待定' if location.blank?

                .time
                  %span.start= course_time_expression.start_time_str
                  %span -
                  %span.end= course_time_expression.end_time_str
                .course>= link_to course.name, "/courses/#{course.id}"
                - if current_user.is_teacher?
                  .students
                    %span.count>= students_count
                    %span 个学生
                - if current_user.is_student?
                  .teacher
                
                .location>= location
            - else
              .course-time
                .time
                  %span.start= course_time_expression_collection.start_time_str
                  %span -
                  %span.end= course_time_expression_collection.end_time_str
                - course_time_expressions = course_time_expression_collection.course_time_expressions
                - course_time_expressions.each do |expression|
                  - course_teacher = expression.course_teacher
                  - course = course_teacher.course
                  .course>= link_to course.name, "/courses/#{course.id}"


      .see-curriculum
        .hours
          :ruby
            count = current_user.get_course_hours_count
            p = count*100/84.to_f
          .count
            %span 每周上课
            %span.c= count
            %span 课时

        %a.see{:href=>'/courses/curriculum'} 查看课程表

    = page_field :'homeworks-info', :title=>'作业和教学实践' do
      .todo
        .filters
          = link_to "要上的课",'javascript:void(0);',:class=>"filter course current"
          = link_to "作业",'javascript:void(0);',:class=>"filter homework"
          = link_to "自定义",'javascript:void(0);',:class=>"filter custom"
        .course.list.current
          - get_dashboard_arr(next_course_time_expression_collections).each do |collection|
            :ruby
              course_time_expression = collection.course_time_expression
              weekday = course_time_expression.weekday
              course_teacher = course_time_expression.course_teacher
              course = course_teacher.course
            .item= course.name
        .homework.list
          - get_dashboard_arr(current_user.homeworks).each do |homework|
            .homework
              - course = homework.course
              - stat = "#{homework.submitted_students.count}/#{homework.assignees.count}"
              .title= link_to truncate_u(homework.title), homework
              .course= link_to course.name, course
              .stat= stat
        .custom.list
          - customs = ['预习编译原理第二章','参加计算机爱好社团组织的活动','去图书馆借阅操作系统相关的一些书籍','向数据结构老师询问几个疑惑的问题']
          - get_dashboard_arr(customs).each do |custom|
            .item= custom

    = page_field :'faq-info', :title=>'在线问答(Q&A)' do
      - get_dashboard_arr(Question.with_user(current_user)).each do |question|
        - if !question.blank?
          .question
            .title= link_to truncate_u(question.title), question
        - else
          .question.blank

    = page_field :'notices-info', :title=>'通知信息' do
      - get_dashboard_arr(current_user.received_announcements).each do |announcement|
        - if !announcement.blank?
          .notice
            = link_to truncate_u(announcement.title), announcement
        - else
          .notice.blank

    = page_field :'subscriptions-info', :title=>'订阅信息' do
      - get_dashboard_arr(current_user.subscribed_courses).each do |course|
        - if !course.blank?
          .subscription
            = link_to truncate_u(course.name), subscriptions_courses_path(:course_id => course.id)
        - else
          .subscription.blank