- hgoback '/'
- hbreadcrumb '首页', '/'

= page_top_fixed 'page-dashboard-base-info' do
  .user-data
    .avatar= avatar current_user, :medium
    .data
      .name
        %span= current_user.real_name
        %span= current_user_title
      .id
        - if current_user.is_teacher?
          %span 工号：
          %span= current_user.teacher.tid
        - if current_user.is_student?
          %span 学号：
          %span= current_user.student.sid

  .course-data
    .today
      .day= Time.now.day
      .d
        .weekday= ['星期天','星期一','星期二','星期三','星期四','星期五','星期六'][Time.now.wday]
        .date #{Time.now.strftime('%m-%d')}，#{Semester.now.to_s}学期
      .icon

- if current_user.is_student?
  :ruby
    courses = current_user.get_student_courses(:semester => Semester.now)

  .page-model-show
    .page-dashboard
      .courses-title 你有 #{courses.count} 门课程可供浏览
      .courses
        - courses.each do |course|
          :ruby
            href = "/courses/#{course.id}"
            src = course.cover_url
            title = course.name
            desc = sanitize course.desc
            desc = desc.blank? ? '课程没有简介信息' : desc

            cp_count = course.chapters.count
            hw_count = course.homeworks.count

          .course
            %a.img{:href=>href}
              = jimage src, :width=>80, :height=>80

            .title
              %a{:href=>href}= title
            .desc= desc
            .attach
              .cp-count 章节 × #{cp_count}
              .hw-count 作业练习 x #{hw_count}

- if current_user.is_teacher?
  :ruby
    courses = current_user.get_teacher_courses(:semester => Semester.now)

  .page-model-show
    .page-dashboard
      .courses-title 你有 #{courses.count} 门课程可供浏览
      .courses
        - courses.each do |course|
          :ruby
            href = "/courses/#{course.id}"
            src = course.cover_url
            title = course.name
            desc = sanitize course.desc
            desc = desc.blank? ? '课程没有简介信息' : desc

            cp_count = course.chapters.count
            hw_count = course.homeworks.count

          .course
            %a.img{:href=>href}
              = jimage src, :width=>80, :height=>80

            .title
              %a{:href=>href}= title
            .desc= desc
            .attach
              .cp-count 章节 × #{cp_count}
              .hw-count 作业练习 x #{hw_count}