- hgoback '/'
- hbreadcrumb '首页', '/'

= page_top_fixed 'page-dashboard-base-info' do
  .user-data
    .avatar= avatar current_user, :medium
    .data
      .name
        %span= current_user.real_name
        %span= current_user_title
      .id
        - if current_user.is_teacher?
          %span 工号：
          %span= current_user.teacher.tid
        - if current_user.is_student?
          %span 学号：
          %span= current_user.student.sid

  .course-data
    .today
      .day= Time.now.day
      .d
        .weekday= ['星期天','星期一','星期二','星期三','星期四','星期五','星期六'][Time.now.wday]
        .date #{Time.now.strftime('%m-%d')}，#{Semester.now.to_s}学期
      .icon

.page-model-show
  .page-dashboard
    .courses
      :ruby
        href = 'javascript:;'
        src = '/assets/covers/course.small.jpg'
        title = '中国传统文化系列'
        desc = '中国传统文化是中华文明演化而汇集成的一种反映民族特质和风貌的民族文化，具有鲜明民族特色的、历史悠久、内涵博大精深、传统优良的文化。它是中华民族几千年文明的结晶'

      - 3.times do
        .course
          %a.img{:href=>href}
            = jimage src, :width=>80, :height=>80

          .title
            %a{:href=>href}= title
          .desc= desc
          .chapters
            .count 章节 × 3 