- hgoback '/'
- hbreadcrumb '首页', '/'

= page_top_fixed 'page-dashboard-base-info' do
  .user-data
    .avatar= avatar current_user, :medium
    .data
      .name
        %span= current_user.real_name
        %span= current_user_title
      .id
        - if current_user.is_teacher?
          %span 工号：
          %span= current_user.teacher.tid
        - if current_user.is_student?
          %span 学号：
          %span= current_user.student.sid

  .course-data
    .today
      .day= Time.now.day
      .d
        .weekday= ['星期天','星期一','星期二','星期三','星期四','星期五','星期六'][Time.now.wday]
        .date #{Time.now.strftime('%m-%d')}，#{Semester.now.to_s}学期
      .icon

- if current_user.is_student?
  .page-model-show
    .page-dashboard
      .courses
        - courses = current_user.get_student_courses(:semester => Semester.now)
        - courses.each do |course|
          :ruby
            href = "/courses/#{course.id}"
            src = course.cover_url
            title = course.name
            desc = course.desc
            cp_count = 3

          .course
            %a.img{:href=>href}
              = jimage src, :width=>80, :height=>80

            .title
              %a{:href=>href}= title
            .desc= desc
            .chapters
              .count 章节 × #{cp_count}