- hgoback '/'
- hbreadcrumb '首页', '/'
- hbreadcrumb "工作台 - #{current_user.real_name}"

:ruby
  next_course_teachers = current_user.get_next_course_teachers
  next_one_course_teacher = next_course_teachers.to_a[0]
  week_course_teachers = current_user.get_week_course_teachers


.page-model-show
  .page-dashboard

    = page_field :'base-info', :title=>'基本信息' do
      .user-data
        .avatar= avatar current_user, :medium
        .data
          .name
            %span= current_user.real_name
            %span= current_user_title
          .id
            - if current_user.is_teacher?
              %span 工号：
              %span= current_user.teacher.tid
            - if current_user.is_student?
              %span 学号：
              %span= current_user.student.sid
      .course-data
        .today
          %span> #{Semester.now.to_s}学期
          %span> ，
          %span>= Time.now.strftime('%m月%d日')

        - if !next_one_course_teacher.blank?
          .next
            :ruby
              weekday = next_one_course_teacher[0]
              detail = next_one_course_teacher[1][0]

              course_teacher = detail[:course_teacher]
              course = course_teacher.course
            .t 接下来要上的课
            .c
              %span.week>= change_to_weekday(weekday)
              %span> ，
              %span.time>= detail[:class_time]
              %span> ，
              %span.course>= link_to course.name, "/courses/#{course.id}"

    = page_field :'courses-info', :title=>'一周课程' do
      .data
        - week_course_teachers.each do |weekday, class_details|
          .wd
            .w= change_to_weekday(weekday)
            - class_details.each do |detail|
              .field
                :ruby
                  course_teacher = detail[:course_teacher]
                  course = course_teacher.course

                %span.time>= detail[:class_time]
                %span> ，
                %span.course>= link_to course.name, "/courses/#{course.id}"
                %span> ，
                %span.location>= detail[:course_teacher].location

      .see-table
        = link_to '查看课程表', '/courses/curriculum'


    = page_field :'notices-info', :title=>'通知信息' do
      - Announcement.all.each do |announcement|
        .field
          = link_to truncate_u(announcement.title), announcement

    = page_field :'homeworks-info', :title=>'作业和教学实践' do
      - Homework.all.each do |homework|
        .field
          = link_to truncate_u(homework.title), homework

    = page_field :'faq-info', :title=>'在线问答(Q&A)' do
      - Question.all.each do |question|
        .field
          = link_to truncate_u(question.title), question

