- hgoback '/'
- hbreadcrumb '首页', '/'
- hbreadcrumb "工作台 - #{current_user.real_name}"

:ruby
  map = current_user.course_time_expression_collection_map
  next_course_time_expression_collection = map.next_course_time_expression_collection

.page-model-show
  .page-dashboard

    = page_field :'base-info', :title=>'基本信息' do
      .user-data
        .avatar= avatar current_user, :medium
        .data
          .name
            %span= current_user.real_name
            %span= current_user_title
          .id
            - if current_user.is_teacher?
              %span 工号：
              %span= current_user.teacher.tid
            - if current_user.is_student?
              %span 学号：
              %span= current_user.student.sid
      .course-data
        .today
          .day= Time.now.day
          .d
            .weekday= ['星期天','星期一','星期二','星期三','星期四','星期五','星期六'][Time.now.wday]
            .date #{Time.now.strftime('%m-%d')}，#{Semester.now.to_s}学期
          .icon

        - if !next_course_time_expression_collection.blank?
          .next
            - if !next_course_time_expression_collection.conflict?
              :ruby
                course_time_expression = next_course_time_expression_collection.course_time_expression
                weekday = course_time_expression.weekday
                course_teacher = course_time_expression.course_teacher
                course = course_teacher.course
              .t 下一节课：
              .c
                %span.week>= change_to_weekday(weekday)
                %span> ，
                %span.time>= course_time_expression.class_time
                %span> ，
                %span.course>= link_to course.name, "/courses/#{course.id}"
              .icon
            - else
              - expressions = next_course_time_expression_collection.course_time_expressions
              - expressions.each do |expression|
                - course = expression.course_teacher.course
                %span.course>= link_to course.name, "/courses/#{course.id}"

        - else
          .next
            .t 下一节课：
            .c
              %span.week
              %span
              %span.time
              %span
              %span.course 无
            .icon

    .tabs
      .navs
        =link_to "课程","javascript:void(0);",:class=>"nav current"
        =link_to "教学方案","javascript:void(0);",:class=>"nav"
        =link_to "问答","javascript:void(0);",:class=>"nav"
        =link_to "资源统计","javascript:void(0);",:class=>"nav"
        =link_to "订阅与通知","javascript:void(0);",:class=>"nav"
      .contents
        .content.current
          = render "index/parts/part_1"
        .content
          = render "index/parts/part_2"
        .content
          = render "index/parts/part_3"
        .content
          = render "index/parts/part_4"
        .content
          = render "index/parts/part_5"
  