- htitle '学生浏览'

- hbreadcrumb '首页', '/'
- hbreadcrumb '学生浏览'

:ruby
  cols_hash = {
    :real_name => 2,
    :sid => 2,
    :username => 2,
    :email => 4
  }

.page-fixed-head
  = page_filters '/students' do |p|
    = p.filter '全部学生', :tab => 'all', :default => true
    = p.filter '我的学生', :tab => 'mine'

.page-list-head
  = page_semester_filters '/students'

  .headtop
    = list_pagination(@students)

  = page_list_head :cols=>cols_hash do |p|
    = p.cell :real_name, '学生姓名', :sortable=>true
    = p.cell :sid, '学生编号', :sortable=>true
    = p.cell :username, '用户名'
    = p.cell :email, '用户邮箱'

.page-model-list.admin-students
  - if @students.blank?
    .blank
      目前列表内没有内容
  - else
    - @students.each do |student|
      - user = student.user
      = page_list_body :cols=>cols_hash do |p|
        = p.cell :real_name do
          = avatar_link user, :tiny
          = user_link user
        = p.cell :sid, student.sid
        = p.cell :username, user.name
        = p.cell :email, user.email
