.chapter
  .title= chapter.title
  .desc.bl= truncate_u chapter.desc, 70
  .items
    .slides
      .edit= link_to '编辑章节', edit_chapter_path(chapter)
    .publish.hide
      .status 未发布
      .edit= link_to '发布', 'javascript:;'
    .remove= link_to '删除', 'javascript:;', :'data-url' => chapter_path(chapter)
