- course_wares = chapter.course_wares
.preview
  .label 课件预览
  .kejian.content{:class => "course-ware", :'data-cw-id' => @current_course_ware.id}
    - case @current_course_ware.content_kind
    - when :document
      = link_to '下载', @current_course_ware.url
    - when :video
      - case @current_course_ware.video_encode_status
      - when 'SUCCESS'
        = flash_player @current_course_ware.url, 480, 360
      - when 'ENCODING'
        = '视频正在转码'

  .navs.titles
    %label.d 视频列表
    - course_wares.each_with_index do |course_ware,index|
      - klass = course_ware == @current_course_ware ? "current" : ""
      %a.title.nav{:class=>klass,:href=>"?chapter=#{chapter.id}&course_ware=#{course_ware.id}"}= index + 1
