- hbreadcrumb '首页', '/'
- hbreadcrumb 'Java程序设计教学方案', '/homeworks'
- hbreadcrumb '面向对象程序设计', '/homeworks'
- hbreadcrumb '作业列表', '/homeworks'

:ruby
  homeworks = [
    ["类和对象的基本概念","完成课后习题,试着用形象的语言来描述自己对类和对象的理解",3],
    ["面向对象程序设计基本思想","完成课后习题",4],
    ["类的设计","完成课后习题",4]
  ]
.page-model-show.homework
  .head
    .title= "面向对象程序设计"
    .describe= '详细介绍面向对象设计到得各种概念'

  .list-works
    - homeworks.each do |homework|
      .work
        .title= homework[0]
        .ct= homework[1]
      .require
        .count="#{homework[2]}项作业要求"