:ruby
  teaching_plan = DemoModel::TEACHING_PLAN_1
  teaching_plan_title = teaching_plan.title
  chapter = teaching_plan.chapters[0]
  chapter_title = chapter.title
  homework = chapter.homeworks[0]

  homework_title = homework.title
  homework_content = homework.desc
  homework_creator = homework.creator
  homework_deadline = homework.deadline
  homework_created_at = homework.created_at
  attachments = homework.attachments
  student_users = homework.student_users
  requirements = homework.requirements



- htitle "作业 - #{homework_title}"

- hgoback '/homeworks'
- hbreadcrumb '首页', '/'
- hbreadcrumb '作业', '/homeworks'
- hbreadcrumb teaching_plan_title, '/homeworks'
- hbreadcrumb chapter_title, '/homeworks'


.page-model-show.homework
  = page_field :'base-info', :title => '作业信息' do
    .head
      .title= homework_title
      .user #{user_link homework_creator} 创建，#{jtime homework_created_at}

  = page_field :requirements, :title => '作业要求' do
    - requirements.each do |requirement|
      .ct= requirement

  = page_field :deadline, :title => '作业过期时间' do
    .time= jtimeformat homework_deadline
    .state= Time.now < homework_deadline ? '未过期' : '已过期'

  = page_field :attachements, :title => '作业参考附件' do
    .list
      .file
        .cover
          .name= link_to attachments[0], 'javascript:;'
    .zip
      %a.down{:href=>""} 打包下载附件

  = page_field :'homework-student-info', :title => '作业完成情况' do
    .requirements
      .title 要求提交以下内容
      .list
        - requirements.each do |requirement|
          .requirement{:'data-id'=>requirement.id}
            .t= requirement
            .ops
              .error 上传出错 ×，你可以重新上传
              .complete 已经上传完毕 √，你可以重新上传
              .upload= jupload_button '上传文件'
            .upload-data
              .bar
                .p{:style=>'width:20%;'}
              .percent 0%
              .name
 
  = page_field :comments, :title => '发表评论' do
    %div 还没有评论