- course = @course_teacher.course
- semester = @course_teacher.semester
- htitle '课程维护'

- hbreadcrumb '基础数据管理', '/admin'
- hbreadcrumb '课程维护', '/admin/courses'
- hbreadcrumb course.name, "/admin/courses/#{course.id}"
- hbreadcrumb semester.value, "/admin/courses/#{course.id}?semester=#{semester.value}"
- hbreadcrumb @course_teacher.teacher_user.real_name
- hbreadcrumb "分配学生"

- selected_course_student_users = course.get_students :semester => semester
- selected_course_students = selected_course_student_users.map{|user|user.student}

- selected_current_student_users = course.get_students(:semester => semester,:teacher_user=>@course_teacher.teacher_user)
- selected_current_students = selected_current_student_users.map{|user|user.student}

- students = Student.all - selected_course_students + selected_current_students
.page-course-teacher-select-students
  = form_tag "/admin/course_teachers/#{@course_teacher.id}/select_students", :method=>:put do

    %ul.select-students#fcbklist
      - students.each do |student|
        %li
          .info
            .avatar= avatar student.user 
            .name= student.real_name
          - if selected_current_students.include?(student)
            %input{:type=>"hidden", :value=>student.user_id, :checked=>"checked"}
          - else
            %input{:type=>"hidden", :value=>student.user_id}

    .field.submit
      = jfsubmit '确定'
      = jfcancel '取消'

