- course = @course_teacher.course
- semester = @course_teacher.semester
- htitle '课程维护'

- hbreadcrumb '基础数据管理', '/admin'
- hbreadcrumb '课程维护', '/admin/courses'
- hbreadcrumb course.name, "/admin/courses/#{course.id}"
- hbreadcrumb semester.value, "/admin/courses/#{course.id}?semester=#{semester.value}"
- hbreadcrumb @course_teacher.teacher_user.real_name
- hbreadcrumb "分配学生"

- selected_course_student_users = course.get_students :semester => semester
- selected_course_students = selected_course_student_users.map{|user|user.student}

- selected_current_student_users = course.get_students(:semester => semester,:teacher_user=>@course_teacher.teacher_user)
- selected_current_students = selected_current_student_users.map{|user|user.student}
- selected_current_user_ids = selected_current_student_users.map{|user|user.id}

- students = Student.all - selected_course_students + selected_current_students
.page-course-teacher-select-students
  = form_tag "/admin/course_teachers/#{@course_teacher.id}/select_students", :method=>:put do
    .list-selector
      .search
        .field
          %input.search{:type=>'text'}
        .desc
          小提示：可以输入中文或拼音来快速查找
      .filter
        %a.all.view{:href=>'javascript:;'} 全部
        %a.selected{:href=>'javascript:;'} 已选
        %a.unselected{:href=>'javascript:;'} 未选
      .selector
        .list
          - students.each do |student|
            :ruby
              selected = selected_current_user_ids.include?(student.user_id)

              klass = selected ? 'selected' : ''
              html_data = {
                :id => student.user_id,
                :name => student.real_name
              }

            .item{:class=>klass, :data=>html_data}
              .name= student.real_name
      - selected_ids_str = selected_current_user_ids*','
      %input.ids{:name=>:user_ids, :type=>'hidden', :value=>selected_ids_str}

    .field.submit
      = jfsubmit '确定'
      = jfcancel '取消'

