%div  名字 #{@course.name}
%div 课程号 #{@course.cid}    
%div 开课院系 #{@course.location}    
%div 上课地点 #{@course.cid}
-if @course.teacher
  %div 教师 #{@course.teacher.real_name}    
-else
  %div 
    %span 教师未指定
    =link_to "指定教师","/admin/courses/#{@course.id}/select_teacher"
  
%div 其他描述 #{@course.desc}
=link_to "首页","/admin"
=link_to "课程列表","/admin/courses"
		
