- htitle '文档目录'

- hgoback '/admin'
- hbreadcrumb '首页', '/admin'
- hbreadcrumb '文档目录', '/admin/upload_document_dirs'

.page-fixed-head.page-upload-document-head
  = page_buttons do |p|

    = p.ajax_create_button :'create-upload-doc-folder', '创建文件夹', '/admin/upload_document_dirs/create_folder' do
      = hidden_field_tag :'upload_document_dir[dir_id]', @dir_id
      .field.need
        %label 文件夹名称
        = text_field_tag :'upload_document_dir[name]'

    = p.button '创建文本', "/admin/upload_documents/new?dir_id=#{@dir_id}", :class => 'create-text'
    = jupload_button '上传文件'

= render 'admin/upload_document_dirs/parts/upload_file_box', :dir_id => @dir_id

:ruby
  cols_hash = {
    :name => 10
  }

.page-list-head.no-headtop
  = page_list_head :cols => cols_hash do |p|
    = p.cell :name, '文件夹/标题'

= render 'admin/upload_document_dirs/parts/cells', :models => @dirs + @documents