- hbreadcrumb '首页', '/'
- hbreadcrumb @user.real_name

.page-admin-model-show
  .field.avatar
    = avatar @user, :medium

  .data
    .field.name
      %label 教师姓名
      .v= @user.real_name

    - if @user.is_teacher?
      .field.tid
        %label 教师编号 
        .v= @user.teacher.tid

      .field.description
        %label 简介
        .v= sanitize @user.teacher.description

    - if @user.is_student?
      .field.tid
        %label 学生编号 
        .v= @user.student.sid

    .field.email
      %label 邮箱
      .v= @user.email