:ruby
  name = @user.name
  is_teacher = @user.is_teacher?
  is_student = @user.is_student?
  
  role_str = ''
  role_str = '教师' if is_teacher
  role_str = '学生' if is_student

.page-userpage
  .header
    .avatar=avatar @user, :medium
    .meta
      .name=@user.name
      .role=role_str

.team
  - if is_student
    所属班级
    = link_to @user.student_team.name, 'javascript:;'
  - elsif is_teacher
    负责的班级
    %ul
      - @user.teacher_teams.each do |team|
        %li= team.name

.courses
  = link_to '课程列表', 'javascript:;'
  %ul
    - @user.courses.each do |course|
      %li= course.name

- unless current_user == @user
  .sharing-with-you
    该用户分享给您的文件
    %ul
      - @user.media_resources.shared_with(current_user) do |resource|
        = link_to resource.name, "/file_show/#{resource.name}"


  .public-resources
    该用户的公共资源
    %ul
      - @user.public_resources do |public_resource|
        = link_to public_resource.media_resource.name, "/file_show/#{public_resource.media_resource.namexs}"
