- htitle '教师浏览'


- hgoback '/'
- hbreadcrumb '首页', '/'
- hbreadcrumb "教师浏览"


.page-fixed-head

:ruby
  cols_hash = {
    :real_name => 2,
    :tid => 2,
    :username => 2,
    :email => 4
  }

.page-list-head
  .headtop
    = list_pagination(@teachers)

  = page_list_head :cols=>cols_hash do |p|
    = p.cell :real_name, '教师姓名', :sortable=>true
    = p.cell :tid, '教师工号', :sortable=>true
    = p.cell :username, '用户名'
    = p.cell :email, '用户邮箱'

.page-model-list.admin-teachers
  - if @teachers.blank?
    .blank
      目前列表内没有内容
  - else
    - @teachers.each do |teacher|
      - user = teacher.user
      = page_list_body :cols=>cols_hash do |p|
        = p.cell :real_name do
          = avatar_link user, :tiny
          = user_link user
        = p.cell :tid, teacher.tid
        = p.cell :username, user.name
        = p.cell :email, user.email