- htitle '教师浏览'

- hgoback '/'
- hbreadcrumb '首页', '/'
- hbreadcrumb "教师浏览"

- if current_user.is_student?
  .page-fixed-head
    = page_filters '/teachers' do |p|
      = p.filter '全部教师', :tab => 'all', :default => true
      = p.filter '我的教师', :tab => 'mine'

:ruby
  cols_hash = {
    :real_name => 2,
    :tid => 2,
    :username => 2,
    :email => 4
  }

- klass = current_user.is_student? ? '' : 'no-fixed-head'
.page-list-head{:class=>klass}
  - if current_user.is_student? && params[:tab] == 'mine'
    = page_semester_filters '/teachers'
  .headtop
    = list_pagination(@teachers)

  = page_list_head :cols=>cols_hash do |p|
    = p.cell :real_name, '教师姓名', :sortable=>true
    = p.cell :tid, '教师工号', :sortable=>true
    = p.cell :username, '用户名'
    = p.cell :email, '用户邮箱'

- klass = current_user.is_student? ? 'teachers' : 'teachers no-fixed-head'
= page_model_list @teachers, :cols=>cols_hash, :class=>klass do |p|
  - teacher = p.model
  - user = teacher.user

  = p.cell :real_name do
    = avatar_link user, :mini
    = user_link user
  = p.cell :tid, teacher.tid
  = p.cell :username, user.name
  = p.cell :email, user.email