:ruby
  name = @user.name
  is_teacher = @user.is_teacher?
  is_student = @user.is_student?
  
  role_str = ''
  role_str = '教师' if is_teacher
  role_str = '学生' if is_student

.page-userpage
  .header
    .avatar=avatar @user, :medium
    .meta
      .name=@user.name
      .role=role_str
      
  .userpage-statuses
    -if @user == current_user
      =flash[:error]
      =form_tag "/teams/#{Team.first.id}/statuses",:method=>:post do
        .field
          %label 说点什么
          =text_area_tag "content"
        .field
          %a.form-submit-button{:href=>'javascript:;'} 发送
      
    .statuses
      -@statuses.each do |status|
        :ruby
          creator = status.creator
          repost = status.repost
        .status
          .avatar=avatar creator
          .ct
            #{userlink creator}：#{status.content}
            -if !repost.blank?
              .repost
                #{repost.creator.name}：#{repost.content}
            -#%span=link_to "转发","/statuses/#{status.id}/repost"




        

