- htitle '教学计划'

- hgoback '/admin'
- hbreadcrumb '首页', '/admin'
- hbreadcrumb '教学计划'

= page_top_fixed 'buttons' do
  = page_buttons do |p|
    = p.button '增加教学计划', '/admin/teaching_plans/new'

:ruby
  cols_hash = {
    :ops => 1,
    :name => 2
  }

= page_top_fixed 'list-head' do
  .headtop
    = page_buttons do |p|
      = p.batch_destroy TeachingPlan

    = list_pagination(@teaching_plans)

  = page_list_head :cols=>cols_hash do |p|
    = p.checkbox
    = p.cell :ops, '操作'
    = p.cell :name, '标题', :sortable=>true


= page_model_list @teaching_plans, :cols=>cols_hash, :class=>'admin-teaching-plans' do |p|
  - teaching_plan = p.model

  = p.checkbox(teaching_plan)
  = p.cell :ops do
    %a.edit{:href=>"/admin/teaching_plans/#{teaching_plan.id}/edit"} 编辑
  = p.cell :name do
    %a.detail{:href=>"/admin/teaching_plans/#{teaching_plan.id}"}= teaching_plan.title
