- htitle '教学计划'

- hbreadcrumb '基础数据管理', '/admin'
- hbreadcrumb '教学计划'

.page-fixed-head
  = page_buttons do |p|
    = p.button '增加教学计划', '/admin/teaching_plans/new'
    = p.button '批量导入', '/admin/teaching_plans/import_from_csv_page'

:ruby
  cols_hash = {
    :ops => 1,
    :name => 2
  }

.page-list-head
  .headtop
    = page_buttons do |p|
      = p.batch_destroy TeachingPlan

    = list_pagination(@teaching_plans)

  = page_list_head :cols=>cols_hash do |p|
    = p.checkbox
    = p.cell :ops, '操作'
    = p.cell :name, '标题', :sortable=>true

.page-model-list.admin-teaching-plans
  - if @teaching_plans.blank?
    .blank
      目前列表内没有内容
  - else
    - @teaching_plans.each do |teaching_plan|
      = page_list_body :cols=>cols_hash do |p|
        = p.checkbox(teaching_plan)
        = p.cell :ops do
          %a.edit{:href=>"/admin/teaching_plans/#{teaching_plan.id}/edit"} 编辑
        = p.cell :name do
          %a.detail{:href=>"/admin/teaching_plans/#{teaching_plan.id}"}= teaching_plan.title
