- htitle '教学计划'

- hgoback admin_teaching_plans_path
- hbreadcrumb '首页', '/admin'
- hbreadcrumb '教学计划', admin_teaching_plans_path
- hbreadcrumb '增加教学计划'
  
.page-model-form
  = flash_info
  = form_for [:admin, @teaching_plan] do |t|
    .field
      %label 计划标题
      = t.text_field :title

    .field
      %label 学期
      = t.select(:semester_value, Semester.get_recent_semesters.collect {|p| [ p.value ] }, :selected => Semester.now.value)

    .field.submit
      = jfsubmit '确定'
      = jfcancel '取消'
