- htitle '教学计划'

- hgoback admin_teaching_plans_path
- hbreadcrumb '首页', '/admin'
- hbreadcrumb '教学计划', admin_teaching_plans_path
- hbreadcrumb @teaching_plan.title

.page-unfixed-head
  = page_buttons do |p|
    = p.button '修改信息', "/admin/teaching_plans/#{@teaching_plan.id}/edit"



.page-model-show

  .page-admin-course

    = page_field :'plan-info', :title=>'标题' do
      = @teaching_plan.title
    = page_field :'semester-info', :title=>'学期' do
      = @teaching_plan.semester.value
