- hbreadcrumb '首页', '/'
- hbreadcrumb '公共资源库'


.page-media-resource-fixed

  / .page-media-resource-head    
  /   .page-upload-button
  /     %a.button{:href=>'javascript:;'} 上传文件
  /     = file_field_tag :file, :multiple => true

  .page-media-resource-nav
    .go-parent-dir
      - if @parent_category.blank?
        %span.quiet 上一级
      - else
        %a{:href => "/public_resources?category_id=#{@parent_category.id}"} 上一级
    .navs
      %span= link_to '根目录', '/public_resources'
      - @navigation_categories.each do |category|
        %span= link_to category.name, "/public_resources?category_id=#{category.id}"

= render 'public_resources/parts/resources', :items => @items