- htitle '课程维护'

- hgoback admin_mentor_courses_path
- hbreadcrumb '首页', '/admin'
- hbreadcrumb '导师', admin_mentor_courses_path
- hbreadcrumb '导师方向', admin_mentor_courses_path
- hbreadcrumb '编辑导师方向'


.page-admin-form
  = flash_info
  = form_for [:admin, @mentor_course] do |f|

    .field
      %label 导师
      = f.select(:teacher_user_id, Teacher.all.collect {|t| [ t.user.real_name, t.user_id ] }, {:include_blank => true}, {:data => {:placeholder => '请选择导师'}})

    .field.need
      %label 课程
      =f.text_field :course
 

    .field
      = jfsubmit '确定'
      = jfcancel '取消'