- htitle '课程维护'

- hgoback '/admin'
- hbreadcrumb '首页', '/admin'
- hbreadcrumb '导师', admin_mentor_courses_path
- hbreadcrumb '导师方向'


.page-fixed-head
  = page_buttons do |p|
    = p.button '增加导师方向', '/admin/mentor_courses/new'

:ruby
  cols_hash = {
    :ops => 1,
    :teacher => 2,
    :course => 3
  }

.page-list-head
  .headtop
    = page_buttons do |p|
      = p.batch_destroy MentorCourse

    = list_pagination(@mentor_courses)

  = page_list_head :cols=>cols_hash do |p|
    = p.checkbox
    = p.cell :ops, '操作'
    = p.cell :teacher, '导师', :sortable=>true
    = p.cell :course, '课程', :sortable=>true

= page_model_list @mentor_courses, :cols=>cols_hash, :class=>'admin-mentor-courses' do |p|
  - mentor_course = p.model

  = p.checkbox(mentor_course)
  = p.cell :ops do
    %a.edit{:href=>"/admin/mentor_courses/#{mentor_course.id}/edit"} 编辑
  = p.cell :teacher, mentor_course.user.real_name 
  = p.cell :course, mentor_course.course
