.attrs
  .t3 名称
  .t2 课序号
  .t2 开课院系
  .t2 上课地点
  .t2 教师
  .t3 备注

- courses.each do |course|

  - if is_grid == 'true'
  
    .course
      .cover
        = link_to admin_course_path(course) do
          = jimage course.cover, :width => 160, :height => 96
      .name= course.name
      .teacher= course.teacher.real_name

  - else

    .model
      .t3= truncate_u course.name, 8
      .t2= course.cid
      .t2= course.department
      .t2= course.location
      .t2
        - if course.teacher.blank?
          %span.c 未指定
        - else
          .ava= avatar User.new, :mini
          %span.c= course.teacher.real_name
      .t3= course.desc

      .ops
        %a.remove{:href=>'javascript:;'} 删除
        %a.detail{:href=>"/admin/courses/#{course.id}"} 查看详情
