- htitle '课程维护'

- hbreadcrumb '基础数据管理', '/admin'
- hbreadcrumb '课程维护', '/admin/courses'
- hbreadcrumb @course.name, "/admin/courses/#{@course.id}"
- hbreadcrumb '增加任课教师'

- selected_teacher_users = @course.get_teachers(:semester=>Semester.now)
- selected_teachers = selected_teacher_users.map{|user|user.teacher}
- teachers = Teacher.all - [selected_teachers]
.page-admin-course-add-teacher
  = form_tag "/admin/courses/#{@course.id}/add_teacher", :method=>:put do
    - teachers.each do |teacher|
      = check_box_tag "user_ids[]", teacher.user_id
      %label= teacher.real_name
    .field.submit
      = jfsubmit '确定'
      = jfcancel '取消'
  
.page-admin-go-back= link_to '返回任课教师', "/admin/courses/#{@course.id}/teachers"
