- htitle '课程维护'

- hbreadcrumb '基础数据管理', '/admin'
- hbreadcrumb '课程维护'

- content_for :topbar do
  = jsearchbar search_admin_courses_path

.page-admin-ops
  %a.create{:href=>'/admin/courses/new'} 增加课程
  .list-style
    .desc 数据展示方式:
    = link_to '列表', admin_courses_path
    = link_to '网格', admin_courses_path(:is_grid => true)

.page-admin-models.courses
  = render 'course_list', :courses => @courses, :is_grid => params[:is_grid]
  
.page-paginate= will_paginate @courses
