- htitle '班级维护'

- hbreadcrumb '基础数据管理', '/admin'
- hbreadcrumb '课程维护', '/admin/courses'
- hbreadcrumb @course.name, "/admin/courses/#{@course.id}"
- hbreadcrumb '分配学生'

.page-admin-students-selector
  %form.search
    .field
      %input.search{:type=>'text'}
    .desc
      小提示：可以输入中文或拼音来快速查找

  .selector
    .list
      - student_user_ids = @course.student_user_ids
      - Student.all.each do |student|
        - selected = student_user_ids.include?(student.user_id)
        .student{:class=>selected ? 'selected' : '', :'data-id'=>student.user_id, :'data-name'=>student.real_name}
          .name= student.real_name
  .result
    .list
      - @course.student_users.each do |student_user|
        - selected = student_user_ids.include?(student_user.id)
        .student{:class=>selected ? 'selected' : '', :'data-id'=>student_user.id, :'data-name'=>student_user.student.real_name}
          .name= student_user.student.real_name
    .count
      %span 已经分配
      %span.c= student_user_ids.count
      %span 人

  .ops
    = form_tag "/admin/courses/#{@course.id}/set_students",:method=>:put do |f|
      %input.ids{:name=>:student_user_ids, :type=>'hidden', :value=>student_user_ids*','}
      .field.submit
        = jfsubmit '确定'
        = jfcancel '取消'
  
		
