- htitle '课程维护'

- hbreadcrumb '基础数据管理', '/admin'
- hbreadcrumb '课程维护', '/admin/courses'
- hbreadcrumb @course.name

.page-admin-model-show
  .field.image
    = jimage @course.cover_url, :width => 160, :height => 96
  .field.name
    %label 课程名
    .v= @course.name
  .field.cid
    %label 课程编号
    .v= @course.cid
  .field.desc
    %label 课程简介
    .v= sanitize @course.desc

  .field.upload-image
    = link_to '上传课程图片', "/admin/courses/#{@course.id}/upload_image_page"
  .field.select-cover
    = link_to '选择课程封面图片', "/admin/courses/#{@course.id}/select_cover_page"

.page-admin-go-back= link_to '返回列表页', '/admin/courses'
.page-admin-edit= link_to '编辑修改', "/admin/courses/#{@course.id}/edit"