- htitle '课程维护'

- hgoback '/admin/courses'
- hbreadcrumb '首页', '/admin'
- hbreadcrumb '基础数据', '/admin'
- hbreadcrumb '课程维护', '/admin/courses'
- hbreadcrumb @course.name

- teachers = @course.get_teachers(:semester=> get_semester)

.page-unfixed-head
  = page_buttons do |p|
    = p.button '修改信息', "/admin/courses/#{@course.id}/edit"


.page-model-show

  .page-admin-course
    = page_field :'course-info', :title=>'课程信息' do
      .field.image
        = jimage @course.cover_url, :width => 160, :height => 96
      .field.name
        %label 课程名
        .v= @course.name
      .field.cid
        %label 课程编号
        .v= @course.cid
      .field.desc
        %label 课程简介
        .v= sanitize @course.desc

    = page_field :'base-info', :title=>'基础信息' do
      = ''

    = page_field :'base-info', :title=>'教学大纲' do
      = sanitize @course.syllabus

    
    = page_semester_filters "/admin/courses/#{@course.id}"
    = page_field :'base-info', :title=>'任课教师' do
      .add-teacher
        - if current_semester == Semester.now
          = link_to "增加任课教师","/admin/courses/#{@course.id}/add_teacher_page"

        .teachers
          - if teachers.blank?
            .blank 目前列表内没有内容
          - else
            - teachers.each do |user|
              :ruby
                students = @course.get_students(:semester => current_semester,:teacher_user => user)
                count = students.count
                course_teacher = CourseTeacher.get_by_params(@course, current_semester, user)


              .teacher
                .student-info
                  .name
                    = avatar user, :mini
                    = link_to user.teacher.real_name, "/admin/teachers/#{user.teacher.id}"
                    = user.teacher.tid
                  .ops
                    = link_to "取消任课", "/admin/course_teachers/#{course_teacher.id}", :method=>:delete,:confirm => "确定取消该教师的任课吗?"
                    = link_to "分配学生", "/admin/course_teachers/#{course_teacher.id}/select_students_page"
                    = # render '/admin/courses/parts/course_location', :course_teacher => course_teacher

                .students-brief
                  - students[0..4].each do |student|
                    .student= avatar_link student, :tiny
                  .desc= "等 #{count} 个学生"

                  %a.open{:href=>'javascript:;'} 展开

                .students-detail
                  .h
                    .desc= "总共 #{count} 个学生"
                    %a.close{:href=>'javascript:;'} 关闭

                  .students
                    - students.each do |student|
                      .student
                        .avatar= avatar student, :tiny
                        .name= link_to student.real_name, admin_student_path(student)


    = page_field :'base-info', :title=>'课程图片' do
      .detail.images
        .upload= jupload_button '上传照片'
        = render '/admin/courses/parts/resources', :course_resources => @course.course_resources.with_kind(CourseResource::KIND_IMAGE).with_semester(current_semester)
        = render '/admin/courses/parts/uploader', :course=>@course, :kind=>:image, :semester => current_semester
      .field.select-cover
        = link_to '选择课程封面图片', "/admin/courses/#{@course.id}/select_cover_page"