- htitle '课程维护'

- hbreadcrumb '基础数据管理', '/admin'
- hbreadcrumb '课程维护', '/admin/courses'
- hbreadcrumb @course.name, "/admin/courses/#{@course.id}"
- hbreadcrumb '任课教师'

- current_semester = params[:semester].blank? ? Semester.now : Semester.get_by_value(params[:semester])
- teachers = @course.get_teachers(:semester=>current_semester)

.page-admin-course-teachers
  .field.semesters-nav
    %label 学期
    - Semester.get_nav_array.each do |semester|
      - class_name = current_semester == semester ? "current" : ""
      = link_to semester.value, "/admin/courses/#{@course.id}/teachers?semester=#{semester.value}",:class => class_name
  .field.teachers
    %label 任课教师
    - teachers.each do |user|
      .model.teacher
        .field.name
          = user.teacher.real_name
        .field.tid
          = user.teacher.tid
  .field.add_tacher
    - if current_semester == Semester.now
      = link_to "增加教师","/admin/courses/#{@course.id}/add_teacher_page"

.page-admin-go-back= link_to '返回详情', "/admin/courses/#{@course.id}"
