.page-upload-corses-image-forms
  = flash[:error]
  = form_tag "/admin/courses/#{@course.id}/upload_image", :method => 'post', :class => 'create-corses-image', :multipart => true do
    = file_field_tag :file
    %a.form-submit-button 上传图片

.page-upload-courses-images
  - @course.course_images.each do |course_image|
    .kind
      = course_image.kind
    .image
      %img{:src=>course_image.file_entity.attach.url}

%hr
- if !@course.cover_course_image.blank?
  .page-course-current-cover
    .title
      当前封面
    .image
      %img{:src=>@course.cover_course_image.file_entity.attach.url}
.page-course-select-cover
  = link_to "选择封面","/admin/courses/#{@course.id}/select_cover_page"