- resources = []
.kejian-base-info
  .title.editcontent
    = link_to "编辑","javascript:void(0);", :class => "edit"
    .content{:style => "display:inline;"}= course_ware.title
    .form{:style => "display:none;",:data=>{:url=>"/course_wares/#{course_ware.id}/update_title"}}
      = text_field_tag "title", course_ware.title, :class => 'form-content'
      = link_to "保存","javascript:void(0);", :class => "save"
      = link_to "取消","javascript:void(0);", :class => "cancel"
  .desc.editcontent
    = link_to "编辑","javascript:void(0);", :class => "edit"
    .content{:style => "display:inline;"}= course_ware.desc
    .form{:style => "display:none;",:data=>{:url=>"/course_wares/#{course_ware.id}/update_desc"}}
      = text_area_tag "desc", course_ware.desc, :class => 'form-content'
      = link_to "保存","javascript:void(0);", :class => "save"
      = link_to "取消","javascript:void(0);", :class => "cancel"
.kejian-file{:data => {:course_ware_id => course_ware.id}}
  - jfbox_id = "select-#{course_ware.id}"
  .btns
    = jupload_button "上传文件"
    = jfbox_link jfbox_id, "从资源盘选取"
  
  = render '/chapters/parts/upload', :course_ware => course_ware
  
  = jfbox jfbox_id, "选择课件" do
    .dynatree{:data=>{:children=>MediaResource.dynatree(current_user).to_json}}
    .select-submit= link_to "确定", "javascript:;"

  .file
    - media_resource = course_ware.media_resource
    - if !media_resource.blank?
      = render '/chapters/parts/resource', :resource => media_resource