-# MINDPIN 工程原型Layout

:ruby
  tstr = ((yield :title) || '').gsub("\n",'')
  title = tstr.blank? ? 'MINDPIN shcmusic SNS 原型集成' : "#{tstr} - MINDPIN shcmusic SNS 原型集成"

!!! 5
%html{:lang=>"zh"}
  %head
    %meta{:charset=>"utf-8"}
    %title=title
    = csrf_meta_tags
    = stylesheet_link_tag 'application'
    = yield :css
    = yield :head

  %body.echo.gray
    .page-wrap
      .page-container
        .page-header
          .settings
            %a.setting{:href=>'javascript:;'} 设置
            %ul.items
              %li=link_to '设置基本信息', pin_url_for('auth', '/setting')
              %li=link_to '设置头像', pin_url_for('auth', '/setting/avatar')
              %li=link_to '退出登录', pin_url_for('auth', '/logout')
            
          .title=title
          .user
            .current-user 欢迎你，#{current_user.name}
            .logout=link_to '退出登录', '/logout'
        .page-nav
          %a.avatar{:href=>"/users/#{current_user.id}"}=avatar current_user
          %a.todos{:href=>'/todos'} 计划
          %a.media-files{:href=>'/media_files'} 资源
          %a.discuss{:href=>'/votes'} 投票
          %a.discuss{:href=>'/questions'} 问答
          %a.short-messages{:href=>'/short_messages'} 私信
          
        .page-content
          = yield

    = javascript_include_tag :application
    = yield :javascript
