:ruby
  app_name = 'MINDPIN SHCMUSIC-APRIL'
  yield_title = (yield :title) || ''
  t_str = yield_title.gsub("\n",'')

  title = t_str.blank? ? app_name : "#{t_str} - #{app_name}"

!!! 5
%html{:lang=>'zh'}
  %head
    %meta{:charset=>'utf-8'}
    %title=title
    = csrf_meta_tags
    = stylesheet_link_tag :application
    = stylesheet_link_tag :comments
    = yield :css
    = yield :head

  %body.echo
    .page-container.col4{:style=>'display:none;'}
      .page-nav
        %a.home{:href=>'/'} SHCMUSIC 多媒体
        .user-info
          .avatar=avatar_link current_user, :medium
          .name=userlink current_user
          .setting
            %a{:href=>pin_url_for('auth', '/setting')} [打开用户设置]

        .items
          .sp
          %a.item.upload{:href=>'/'} 上传资源
          %a.item.mine{:href=>'/media_files/mine', :'data-pjax'=>'.page-content'} 我的资源
          .sp
          %a.item.video{:href=>'/media_files/mine?kind=video', :'data-pjax'=>'.page-content'} 视频
          %a.item.audio{:href=>'/media_files/mine?kind=audio', :'data-pjax'=>'.page-content'} 音频
          %a.item.image{:href=>'/media_files/mine?kind=image', :'data-pjax'=>'.page-content'} 图片
          %a.item.document{:href=>'/media_files/mine?kind=document', :'data-pjax'=>'.page-content'} 文档
          %a.item.other{:href=>'/media_files/mine?kind=other', :'data-pjax'=>'.page-content'} 其他
          .sp

      .page-header
        .settings.hide
          %a.setting{:href=>'javascript:;'} 设置
          %ul.items
            %li=link_to '设置基本信息', pin_url_for('auth', '/setting')
            %li=link_to '设置头像', pin_url_for('auth', '/setting/avatar')
            %li=link_to '退出登录', pin_url_for('auth', '/logout')

        .user
          .current-user 欢迎你，#{current_user.name}
          %a.logout{:href=>pin_url_for('auth', '/logout'), :title=>'退出登录'} 退出登录

      .page-content
        = yield

    = javascript_include_tag :application
    = yield :javascript
