-#use 裁切上传的用户头像
-#see 用户设置->修改头像

-htitle '裁剪头像'

:ruby
  width, height = @temp_image_size[:width], @temp_image_size[:height]
  temp_image_url = "#{@temp_image_url}?#{randstr}"

.page-model-form
  .page-title 在图片上选择你需要的范围，然后点击确定。

  .page-setting
    .crop-avatars
      .original-img
        .t 上传的原始图片
        .box{:style=>"#{width}px;#{height}px;"}
          %img{:src=>temp_image_url, :style=>"#{width}px;#{height}px;"}
    
      .crop-preview
        .t 裁剪后的图片
        .box.crop
          %img{:src=>temp_image_url}

    = form_tag '/auth/setting/avatar_submit_crop', :class=>'copper-form' do
      = hidden_field_tag :x, 0
      = hidden_field_tag :y, 0
      = hidden_field_tag :w, 200
      = hidden_field_tag :h, 200
      = hidden_field_tag :file_entity_id, @file_entity_id
      .field
        %a.form-submit-button{:href=>'javascript:;'} 保存更改
        %a.form-cancel-link{:href=>'/auth/setting/avatar'} 取消