- hgoback '/courses'
- hbreadcrumb '首页', '/'
- hbreadcrumb @course.name, "/courses/#{@course.id}"
- hbreadcrumb '预览章节'

.page-model-show.page-fangan-review
  .head
    .h
      %h1.title= @teaching_plan.title
      .description= sanitize @teaching_plan.desc

  .bd
    .sidebar
      .label="章节选择"
      - @teaching_plan.chapters.each_with_index do |chapter, index|
        - count = index + 1
        .chapter
          = link_to "?chapter=#{chapter.id}" do
            .o= count
            .l= truncate_u chapter.title, 10

    - if @current_chapter
      = render 'teaching_plans/parts/chapter_preview', :chapter => @current_chapter
