- hgoback '/courses'
- hbreadcrumb '首页', '/'
- hbreadcrumb @course.name, "/courses/#{@course.id}"
- hbreadcrumb '预览章节'

.page-model-show.page-fangan-review
  .bd
    .sidebar
      .label="章节选择"
      - @teaching_plan.chapters.each_with_index do |chapter, index|
        - klass = @current_chapter == chapter ? "current" : ""
        - count = index + 1
        .chapter{:class=>klass}
          = link_to "?chapter=#{chapter.id}" do
            .o= count
            .l= truncate_u chapter.title, 10

    - if @current_chapter
      = render 'teaching_plans/parts/chapter_preview', :chapter => @current_chapter

  .page-course-show
    .course-head
      = page_head_cell @course.cover_url, @course.name, @course.desc