- hgoback '/courses'
- hbreadcrumb '首页', '/'
- hbreadcrumb 'Java程序设计', 'javascript:;'
- hbreadcrumb '教学方案'

- hide = params[:hide] == 'false'
- style = hide ? '' : 'display:none;'

.page-model-show
  .page-teaching-plan-show
    .head
      %h1.title Java程序设计教学方案
      .description
        这是一个用于DEMO演示用的JAVA程序设计教学方案<br/>
        这是这个方案的简单概况

    .chapters
      .chs
        .chapter{:style=>style}
          .title 第一章节
          .desc 章节还没有简介信息
          .ops
            .edit= link_to '编辑', '/c1/show'
            .remove= link_to '删除', 'javascript:;'
            .publish= link_to '发布', 'javascript:;'
          .items
            .students
              .count 22个学生
              .edit= link_to '分配', 'javascript:;'
            .homeworks
              .count 0个课件
              .edit= link_to '管理', 'javascript:;'

        .chapter{:style=>style}
          .title 第二章节
          .desc 章节还没有简介信息
          .ops
            .edit= link_to '编辑', '/c1/show'
            .remove= link_to '删除', 'javascript:;'
            .publish= link_to '发布', 'javascript:;'
          .items
            .students
              .count 22个学生
              .edit= link_to '分配', 'javascript:;'
            .homeworks
              .count 0个课件
              .edit= link_to '管理', 'javascript:;'

        .chapter{:style=>style}
          .title 第三章节
          .desc 章节还没有简介信息
          .ops
            .edit= link_to '编辑', '/c1/show'
            .remove= link_to '删除', 'javascript:;'
            .publish= link_to '发布', 'javascript:;'
          .items
            .students
              .count 22个学生
              .edit= link_to '分配', 'javascript:;'
            .homeworks
              .count 0个课件
              .edit= link_to '管理', 'javascript:;'

      .blank 还没有添加任何章节

      .create-button= link_to '新增章节', 'javascript:;'
