- hgoback '/courses'
- hbreadcrumb '首页', '/'
- hbreadcrumb 'Java程序设计', 'javascript:;'
- hbreadcrumb '添加教学方案'

.page-model-form
  = form_tag(:url => {:action => 'forgot'})  do
    .field
      %label 标题
      = text_field_tag :title

    .field
      %label 描述
      = text_area_tag :title

    .field.submit
      = jfsubmit_stop '确定', '/courses?demo=show'
      = jfcancel '取消'
