- hgoback '/courses'
- hbreadcrumb '首页', '/'
- hbreadcrumb 'Java程序设计', 'javascript:;'
- hbreadcrumb '教学方案'

- hbreadcrumb 'Java程序设计教学方案'

-# :coffeescript
-#   jQuery('.page-teaching-plan-show.page-model-show .chapter .publish').click ->
-#     text = if jQuery(this).text() == '发布' then '不发布' else '发布'
-#     jQuery(this).text(text)

.page-teaching-plan-show.page-model-show
  %h1.title Java程序设计教学方案
  = page_field :description, :title => '教学方案描述' do
    这里是描述占位

  = page_field :'chapters', :title => '章节信息' do
    .create-button= link_to '新增章节', 'javascript:;'
    - case params[:step]
    - when '1'
      .chapter
        .title 第一章节
        .edit= link_to '编辑', 'javascript:;'
        .remove= link_to '删除', 'javascript:;'
        .students= link_to '分配学生', 'javascript:;'
        .homeworks= link_to '管理学生', 'javascript:;'
        .publish= link_to '发布', 'javascript:;'
      .chapter
        .title 第二章节
        .edit= link_to '编辑', 'javascript:;'
        .remove= link_to '删除', 'javascript:;'
        .students= link_to '分配学生', 'javascript:;'
        .homeworks= link_to '管理学生', 'javascript:;'
        .publish= link_to '发布', 'javascript:;'
      .chapter
        .title 第三章节
        .edit= link_to '编辑', 'javascript:;'
        .remove= link_to '删除', 'javascript:;'
        .students= link_to '分配学生', 'javascript:;'
        .homeworks= link_to '管理学生', 'javascript:;'
        .publish= link_to '发布', 'javascript:;'
    - else
      还没有添加任何章节信息
