- hgoback '/courses'
- hbreadcrumb '首页', '/'
- hbreadcrumb 'Java程序设计', 'javascript:;'
- hbreadcrumb '教学方案'

- hide = params[:hide] == 'false'
- style = hide ? '' : 'display:none;'

- titles = ['第一章节', '第二章节', '第三章节']

.page-model-show
  .page-teaching-plan-show
    .head
      %h1.title= DemoModel::TEACHING_PLAN_1.title
      .description= DemoModel::TEACHING_PLAN_1.desc

    .chapters
      .chs
        - titles.each do |title|
          .chapter{:style=>style}
            .title= title
            .desc.bl 章节还没有简介信息
            .items
              .homeworks
                .edit= link_to '管理作业', 'javascript:;'
                .count 0
              .slides
                .edit= link_to '管理课件', '/c1/show'
                .count 0
              .publish
                .status 未发布
                .edit= link_to '发布', 'javascript:;'
              .remove= link_to '删除', 'javascript:;'

      .blank 还没有添加任何章节

      .btns
        .create-button= link_to '新增章节', 'javascript:;'
        .preview-button= link_to "预览","/d1/show"
        .students
          .count 22个学生参与此方案
          .edit= link_to '分配', '/f1/show'