- hgoback '/courses'
- hbreadcrumb '首页', '/'
- hbreadcrumb @course.name, "/courses/#{@course.name}"
- hbreadcrumb '编辑课程章节'

.page-model-show
  .page-course-show
    .course-head
      = page_head_cell @course.cover_url, @course.name, @course.desc

  .page-teaching-plan-show
    .chapters
      - if @teaching_plan.chapters.blank?
        .blank 还没有添加任何章节
        .chs
      - else
        .chs
          - @teaching_plan.chapters.each do |chapter|
            =render 'teaching_plans/parts/chapter' , :chapter => chapter

      .btns
        .create-button= link_to '新增章节', 'javascript:;', :'data-url' => "/teaching_plans/#{@teaching_plan.id}/chapters"
        .preview-button= link_to "预览","/courses/#{@course.id}/browse_chapters"
