- hbreadcrumb '首页', '/'
- hbreadcrumb '我的课程表'

.page-courses-table
  .table-title
    #{Semester.now.value} 学期课程表

  .field
    - 13.times do |number|
      .item.number
        = change_to_course_number(number)

  - 7.times do |weekday|
    :ruby
      weekday += 1
      weekday = 0 if weekday == 7
      weekday_label = change_to_weekday(weekday)

    .field
      .item.wd
        %span= weekday_label

      - 1.upto 12 do |number|
        :ruby
          course_label = change_to_course_number(number)
          course = get_teacher_course_by_weekday_and_number(@teacher_courses, weekday, number)

        - if course.blank?
          .item.blank
        - else
          .item.course
            = link_to course.name, "/courses/#{course.id}"
            