- hgoback '/'
- hbreadcrumb '首页', '/'
- hbreadcrumb "课程浏览"

.page-fixed-head
  = page_filters '/courses' do |p|
    = p.filter '全部课程', :tab => 'all', :default => true
    = p.filter '我的课程', :tab => 'mine'

:ruby
  cols_hash = {
    :name => 4,
    :cid => 2
  }

.page-list-head
  - if params[:tab] == 'mine'
    = page_semester_filters '/courses'

  .headtop
    = list_pagination(@courses)

  = page_list_head :cols => cols_hash do |p|
    = p.cell :name, '名称', :sortable => true
    = p.cell :cid, '编号', :sortable => true

.page-model-list
  - if @courses.blank?
    .blank
      目前列表内没有内容
  - else
    - @courses.each do |course|
      = page_list_body :cols => cols_hash do |p|
        = p.cell :name do
          = link_to hspan(course.name), course
        = p.cell :cid do
          = link_to hspan(course.cid), course
