- hbreadcrumb '首页', '/'
- hbreadcrumb '课程'

.page-courses-head
  .cells
    .cell.name 名称
    .cell.cid 编号
    .cell.department 开课院系
    .cell.location 上课地点
    .cell.teacher 任课老师

.page-courses
  - @courses.each do |course|
    .course
      .cell.name
        = link_to hspan(course.name), course
      .cell.cid
        = link_to hspan(course.cid), course
      .cell.department
        = hspan(course.department)
      .cell.location
        = hspan(course.location)
      .cell.teacher
        .avatar= avatar_link course.teacher_user, :tiny
        .name= user_link course.teacher_user