- hgoback '/courses'
- hbreadcrumb '首页', '/'
- hbreadcrumb @course.name

= page_top_fixed 'page-course-nav' do
  = course_nav_link '课程首页', @course
  = course_nav_link '任课教师', @course, :teachers
  = course_nav_link '教学章节', @course, :chapters
  = course_nav_link '作业与练习', @course, :homeworks

.page-model-show
  .page-course-show
    - if !@cnav.blank?
      = render "courses/show_parts/#{@cnav}", :course=>@course