- hbreadcrumb '首页', '/'
- hbreadcrumb '课程', '/courses'
- hbreadcrumb @course.name

.page-course-show
  .base-info
    .cover
      = jimage @course.cover_url, :width => 160, :height => 120
    .meta
      .name= @course.name
      .field.cid
        %span 课程编号：
        %span= @course.cid

  .detail-info
    .tabs
      = course_tab_link @course, :basic, '基础信息', @current_tab
      = course_tab_link @course, :syllabus, '教学大纲', @current_tab
      = course_tab_link @course, :images, '课程照片', @current_tab
      = course_tab_link @course, :videos, '课程视频', @current_tab
      = course_tab_link @course, :students, '学生', @current_tab, @course.get_students(:semester => Semester.now).count

    - case @current_tab
    - when :basic
      .detail.basic
        .field.teacher-info
          .t 任课老师
        -#   .avatar= avatar @course.teacher_user, :medium
        -#   .name
        -#     %span= @course.teacher_user.real_name
        -#     %span= link_to '查看信息', @course.teacher_user
        -#   .tid
        -#     %span 教师编号：
        -#     %span= @course.teacher_user.teacher.tid
        -# .field.desc-info
        -#   .t 课程简介
        -#   .desc= sanitize @course.desc

    - when :syllabus
      .detail.syllabus
        .syllabus= sanitize @course.syllabus

    - when :students
      .detail.students
        .students
          - @course.get_students(:semester => Semester.now).each do |student_user|
            .student
              .avatar= avatar student_user, :tiny
              .name= student_user.real_name
              %a.info{:href=>"/users/#{student_user.id}"} 查看信息

    - when :images
      .detail.images
        .upload= jupload_button '上传照片'
        = render '/courses/parts/resources', :course_resources=>@course.course_images
        = render '/courses/parts/uploader', :course=>@course, :kind=>:image

    - when :videos
      .detail.images
        .upload= jupload_button '上传视频'
        = render '/courses/parts/resources', :course_resources => @course.course_videos
        = render '/courses/parts/uploader', :course=>@course, :kind=>:video