- hbreadcrumb '首页', '/'
- hbreadcrumb '课程', '/courses'
- hbreadcrumb @course.name

.page-course-show
  .base-info
    .cover
      = jimage @course.cover_url, :width => 160, :height => 120
    .meta
      .name= @course.name
      .field.cid
        %span 课程编号：
        %span= @course.cid
  .semesters-nav
    %label 学期
    = page_semester_filters "/courses/#{@course.id}"

  .detail-info
    .detail.basic
      %label 基础信息

    .detail.syllabus
      %label 教学大纲
      .syllabus= sanitize @course.syllabus

    .detail.teacher
      %label 任课教师
      - teacher_users = @course.get_teachers(:semester => get_semester)
      - if teacher_users.blank?
        .blank 目前列表内没有内容
      - else
        - teacher_users.each do |teacher_user|
          .teacher
            .avatar= avatar teacher_user, :tiny
            .name= teacher_user.real_name
            = link_to '查看信息', teacher_user, :class => 'info'
            .tid
              %span 教师编号：
              %span= teacher_user.teacher.tid

    .detail.students
      %label 学生
      .students
        - student_users = @course.get_students(:semester => Semester.now)
        - if student_users.blank?
          .blank 目前列表内没有内容
        - else
          - student_users.each do |student_user|
            .student
              .avatar= avatar student_user, :tiny
              .name= student_user.real_name
              %a.info{:href=>"/users/#{student_user.id}"} 查看信息

    .detail.images
      %labe 课程照片
      .upload= jupload_button '上传照片'
      = render '/courses/parts/resources', :course_resources => @course.course_resources.with_kind(CourseResource::KIND_IMAGE).with_semester(get_semester)
      = render '/courses/parts/uploader', :course=>@course, :kind=>:image, :semester => get_semester

    .detail.images
      %labe 课程课件
      .upload= jupload_button '上传课件'
      = render '/courses/parts/resources', :course_resources => @course.course_resources.with_kind(CourseResource::KIND_COURSEWARE).with_semester(get_semester)
      = render '/courses/parts/uploader', :course=>@course, :kind=>:courseware, :semester => get_semester

    .detail.images
      %labe 课程音频
      .upload= jupload_button '上传音频'
      = render '/courses/parts/resources', :course_resources => @course.course_resources.with_kind(CourseResource::KIND_AUDIO).with_semester(get_semester)
      = render '/courses/parts/uploader', :course=>@course, :kind=>:audio, :semester => get_semester