- hgoback '/courses'
- hbreadcrumb '首页', '/'
- hbreadcrumb '课程浏览', '/courses'

- hbreadcrumb @course.name



- teachers = @course.get_teachers(:semester=> get_semester)

.page-unfixed-head

.page-model-show
  .page-admin-course
    = page_field :'course-info', :title=>'课程信息' do
      .field.image
        = jimage @course.cover_url, :width => 160, :height => 96
      .field.name
        %label 课程名
        .v= @course.name
      .field.cid
        %label 课程编号
        .v= @course.cid
      .field.desc
        %label 课程简介
        .v= sanitize @course.desc

    = page_field :'base-info', :title=>'基础信息' do
      = ''

    = page_field :'syllabus-info', :title=>'教学大纲' do
      = sanitize @course.syllabus

    
    = page_semester_filters "/courses/#{@course.id}"
    = page_field :'teacher-list', :title=>'任课教师' do
      .add-teacher
        .teachers
          - if teachers.blank?
            .blank 目前列表内没有内容
          - else
            - teachers.each do |user|
              :ruby
                students = @course.get_students(:semester => current_semester,:teacher_user => user)
                count = students.count
                course_teacher = CourseTeacher.get_by_params(@course, current_semester, user)

              .teacher
                .student-info
                  .name
                    = avatar user, :mini
                    = link_to user.teacher.real_name, "/users/#{user.id}"
                    = user.teacher.tid

                .students-brief
                  - students[0..4].each do |student|
                    .student= avatar_link student, :tiny
                  .desc= "等 #{count} 个学生"

                  %a.open{:href=>'javascript:;'} 展开

                .students-detail
                  .h
                    .desc= "总共 #{count} 个学生"
                    %a.close{:href=>'javascript:;'} 关闭

                  .students
                    - students.each do |student|
                      .student
                        .avatar= avatar student, :tiny
                        .name= user_link student

    = page_field :'image-list', :title=>'课程照片' do
      .detail.images
        .upload= jupload_button '上传照片'
        = render '/courses/parts/resources', :course_resources => @course.course_resources.with_kind(CourseResource::KIND_IMAGE).with_semester(current_semester)
        = render '/courses/parts/uploader', :course=>@course, :kind=>:image, :semester => current_semester

    = page_field :'courseware-list', :title=>'课程课件' do
      .detail.images
        .upload= jupload_button '上传课件'
        = render '/courses/parts/resources', :course_resources => @course.course_resources.with_kind(CourseResource::KIND_COURSEWARE).with_semester(current_semester)
        = render '/courses/parts/uploader', :course=>@course, :kind=>:courseware, :semester => current_semester

    = page_field :'audio-list', :title=>'课程音频' do
      .detail.images
        .upload= jupload_button '上传音频'
        = render '/courses/parts/resources', :course_resources => @course.course_resources.with_kind(CourseResource::KIND_AUDIO).with_semester(current_semester)
        = render '/courses/parts/uploader', :course=>@course, :kind=>:audio, :semester => current_semester
