- hgoback '/courses'
- hbreadcrumb '首页', '/'
- hbreadcrumb '课程浏览', '/courses'

- hbreadcrumb @course.name

- teachers = @course.get_teachers(:semester=> get_semester)

.page-model-show{:style=>'border-bottom:solid 1px #DCDCDC;'}
  .page-admin-course
    = page_field :'course-info', :title=>'课程信息' do
      .field.image
        = jimage @course.cover_url, :width => 160, :height => 96
      .field.name
        %label 课程名
        .v= @course.name
      .field.cid
        %label 课程编号
        .v= @course.cid
      .field.desc
        %label 课程简介
        .v= sanitize @course.desc
    = page_field :'resource-subscription', :title=> '订阅课程资源' do
      - if current_user.subscribed_course?(@course)
        = '已订阅'
      - else
        = link_to '订阅', "/courses/#{@course.id}/subscribe", :method => :put

    = page_field :'base-info', :title=>'基础信息' do
      = ''

    = page_field :'syllabus-info', :title=>'教学大纲' do
      = sanitize @course.syllabus

.page-model-filters
  = page_semester_filters "/courses/#{@course.id}"

.page-model-show
  .page-admin-course
    = page_field :'teacher-list', :title=>'任课教师' do
      .add-teacher
        .teachers
          - if teachers.blank?
            .blank 目前列表内没有内容
          - else
            - teachers.each do |user|
              :ruby
                students = @course.get_students(:semester => current_semester,:teacher_user => user)
                count = students.count
                course_teacher = CourseTeacher.get_by_params(@course, current_semester, user)

              .teacher.opened
                .student-info
                  .avatar
                    = avatar user, :mini
                  .name
                    = link_to user.teacher.real_name, "/users/#{user.id}"
                  .tid
                    = user.teacher.tid

                .students-brief
                  - students[0..4].each do |student|
                    .student= avatar_link student, :mini
                  .desc= "等 #{count} 个学生"

                  %a.open{:href=>'javascript:;'} 展开列表

                .students-detail
                  .h
                    .desc= "总共 #{count} 个学生"
                    %a.close{:href=>'javascript:;'} 收起列表

                  .students
                    - students.each do |student|
                      .student
                        .avatar= avatar student, :tiny
                        .name= user_link student

    = page_field :'teaching-plans', :title=>'教学方案' do
      - if @teaching_plans.blank?
        .blank 当前课程下还没有教学方案
      - else
        .plans
          - @teaching_plans.each do |teaching_plan|
            .item{:data=>{:path => "/teaching_plans/#{teaching_plan.id}"}}
              = link_to "/teaching_plans/#{teaching_plan.id}", :class=>'teaching-plan' do
                .title= teaching_plan.title
                .desc= sanitize teaching_plan.desc
                %a.remove{:href => 'javascript:;'} 删除
 
      .add-teaching-plan= link_to '添加教学方案', "/teaching_plans/new?course_id=#{@course.id}&semester_value=#{current_semester.value}"
